Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Replace docker-run.sh with docker-run.py
  Taskfile.yml
  utils/tasks/docker-run.py
  utils/tasks/docker-run.sh
Due: none

Disable bilceaner hard rules completely (#892)
  pipeline/bicleaner/bicleaner.sh
Due: snakemake-dry-run, taskgraph-definition

Update Taskcluster kind
  taskcluster/kinds/clean-corpus/kind.yml
Due: taskgraph-definition

Output tokenized text from alignments step
  pipeline/alignments/align.py
  pipeline/alignments/requirements/alignments.in
  pipeline/alignments/requirements/alignments.txt
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  tests/test_alignments.py
Due: snakemake-dry-run, taskgraph-definition

Detokenize text in Tags modifier
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.yml
Due: snakemake-dry-run, taskgraph-definition

Add CJK OpusTrainer configs
  pipeline/train/configs/opustrainer/backward.cjk.yml
  pipeline/train/configs/opustrainer/student.cjk.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.cjk.yml
  pipeline/train/train.py
Due: snakemake-dry-run, taskgraph-definition

Update taskcluster kinds to use tokenized text and cjk configs
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
Due: taskgraph-definition

Test training for Chinese
  tests/data/vocab.zhen.spm
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.enzh.yml
  tests/test_training.py
Due: none

Update docs
  docs/opus-trainer.md
Due: none

Reduce chunk size for alignments
  pipeline/alignments/align.py
Due: snakemake-dry-run, taskgraph-definition

Make a 1 million experiment
  configs/experiments-H2-2024/da-en.yml
  pipeline/train/truncate.sh
  taskcluster/kinds/train-student/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Make a 10,000 experiment
  configs/experiments-H2-2024/da-en.yml
  pipeline/train/truncate.sh
Due: snakemake-dry-run, taskgraph-definition

Add python path env
  taskcluster/kinds/train-teacher/kind.yml
Due: taskgraph-definition

Fix comment
  tests/fixtures/__init__.py
Due: none

Change character coverage for CJK
  pipeline/train/spm-vocab.sh
  taskcluster/kinds/train-vocab/kind.yml
  tests/test_spm_vocab.py
Due: snakemake-dry-run, taskgraph-definition

Use larger vocab for CJK
  utils/config_generator.py
Due: none

Use all items from the provided vocabulary
  pipeline/train/configs/model/backward.yml
  pipeline/train/configs/model/student.base.yml
  pipeline/train/configs/model/student.tiny.yml
  pipeline/train/configs/model/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

Use GCP standard instances for alignment tasks
  taskcluster/configs/config.prod.yml
Due: taskgraph-definition

Switch best bleu to chrf
  taskcluster/kinds/extract-best/kind.yml
Due: taskgraph-definition

Add requirements
  pipeline/translate/requirements/bestbleu.in
  pipeline/translate/requirements/bestbleu.txt
Due: snakemake-dry-run, taskgraph-definition

Use the same version of sacrebleu and mtdata everywhere
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  poetry.lock
  pyproject.toml
  taskcluster/docker/toolchain-build/Dockerfile
  taskcluster/docker/train/Dockerfile
Due: snakemake-dry-run, taskgraph-definition

Fix shortlist pruning for CJK
  pipeline/alignments/prune_shortlist.py
Due: snakemake-dry-run, taskgraph-definition

Clarify comment
  taskcluster/configs/config.prod.yml
Due: taskgraph-definition

Fix kind
  taskcluster/kinds/extract-best/kind.yml
Due: taskgraph-definition

Install requirements
  taskcluster/kinds/extract-best/kind.yml
Due: taskgraph-definition

Fix chrf score function
  pipeline/translate/bestbleu.py
Due: snakemake-dry-run, taskgraph-definition

Use GCP standard instances for alignment tasks (#907)
  taskcluster/configs/config.prod.yml
Due: taskgraph-definition

Update find-corpus
  tests/test_find_corpus.py
  utils/find_corpus.py
Due: none

Skip mtdata flores datasets
  utils/config_generator.py
Due: none

Skip flores 200
  utils/config_generator.py
Due: none

Skip WMT news
  utils/config_generator.py
Due: none

Replace build-wasm.sh with build-wasm.py
  Taskfile.yml
  inference/.gitignore
  inference/patches/01-marian-fstream-for-macos.patch
  inference/patches/02-marian-allocation.patch
  inference/scripts/build-wasm.py
  inference/scripts/build-wasm.sh
Due: none

Apply allocation-bergamot.patch
  inference/src/translator/translation_model.cpp
Due: none

Move build-bergamot.py into tree as build-wasm.py
  inference/scripts/build-wasm.py
Due: none

Allow the number of build threads to be specified
  inference/scripts/build-wasm.py
Due: none

Ensure git submodules are checked out before building
  inference/CMakeLists.txt
  inference/scripts/build-wasm.py
Due: none

Replace docker-run.sh with docker-run.py
  Taskfile.yml
  inference/scripts/build-wasm.py
  utils/tasks/docker-run.py
  utils/tasks/docker-run.sh
Due: none

Rework wasm build scripts for gecko (#902)
  Taskfile.yml
  inference/.gitignore
  inference/CMakeLists.txt
  inference/patches/01-marian-fstream-for-macos.patch
  inference/patches/02-marian-allocation.patch
  inference/scripts/build-wasm.py
  inference/scripts/build-wasm.sh
  inference/src/translator/translation_model.cpp
  utils/tasks/docker-run.py
  utils/tasks/docker-run.sh
Due: none

Handle more references for firefox-translations-training
  README.md
  docs/snakemake.md
  pyproject.toml
  taskcluster/test/params/large-lt-en.yml
  tests/fixtures/__init__.py
  utils/preflight_check.py
Due: taskgraph-definition
