Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Remove todo
  taskcluster/kinds/clean-corpus/kind.yml
Due: taskgraph-definition

Fix indentation
  taskcluster/kinds/clean-corpus/kind.yml
Due: taskgraph-definition

Fix scope repo url for actions
  .taskcluster.yml
Due: none

Enable 'train' action for PRs against a supported repository
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Enable 'train' action for PRs against a supported repository (#447)
  .taskcluster.yml
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Fix linting for tracking (#441)
  poetry.lock
  tests/test_tracking_cli.py
Due: none

Work aroud fast text model downloading failures (#435)
  taskcluster/kinds/clean-corpus/kind.yml
Due: taskgraph-definition

Disable typos for student
  pipeline/train/configs/opustrainer/student.yml
Due: snakemake-dry-run, taskgraph-definition

Fix random seed (#445)
  pipeline/train/configs/opustrainer/teacher.yml
  pipeline/train/train.sh
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/scripts/pipeline/train-taskcluster.sh
Due: snakemake-dry-run, taskgraph-definition

Rename assert functions
  tests/test_data_importer.py
Due: none

Switch back to faster validation
  pipeline/train/configs/training/teacher.train.yml
Due: snakemake-dry-run, taskgraph-definition

Document decision on using augmentations
  docs/opus-trainer.md
Due: none

Fix typo
  docs/opus-trainer.md
Due: none

Support typos and noise modifiers (#428)
  docs/opus-trainer.md
  pipeline/data/dataset_importer.py
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  pipeline/train/configs/opustrainer/backward.yml
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.yml
  pipeline/train/configs/training/teacher.train.yml
  pipeline/train/requirements/train.in
  pipeline/train/requirements/train.txt
  poetry.lock
  pyproject.toml
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

Add missing valid stages
  taskcluster/config.yml
Due: taskgraph-definition

Update lock file
  poetry.lock
Due: none

Fix number of fields
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

Fix preflight check
  tracking/translations_parser/publishers.py
  utils/preflight_check.py
Due: none

Base taskcluster task group publication
  poetry.lock
  tracking/pyproject.toml
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/utils.py
Due: none

Publish experiment config on group_logs
  tracking/translations_parser/cli/taskcluster_group.py
Due: none

Fix parsing for evaluation folder
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/data.py
Due: none

Support metrics
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/data.py
  tracking/translations_parser/utils.py
Due: none

Support multiple teacher training
  tracking/translations_parser/cli/taskcluster_group.py
Due: none

Publish Marian config on runs
  tracking/translations_parser/cli/taskcluster_group.py
Due: none

Rebase vrigal:publish-experiment-config
  tracking/translations_parser/publishers.py
Due: none

Publish marian config on runs instead of experiment config
  tracking/translations_parser/cli/taskcluster_group.py
Due: none

Move tag parser to utils module
  tracking/translations_parser/utils.py
Due: none

Generic group logs parser
  tests/test_tracking_cli.py
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/publishers.py
Due: none

Parse extra evaluation tasks and publish group_logs fake run
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/data.py
  tracking/translations_parser/publishers.py
Due: none

Taskcluster task group publication (#406)
  poetry.lock
  tests/test_tracking_cli.py
  tracking/pyproject.toml
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/data.py
  tracking/translations_parser/publishers.py
  tracking/translations_parser/utils.py
Due: none

Add inline noise augmentation to data importer
  docs/opus-trainer.md
  pipeline/data/dataset_importer.py
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  poetry.lock
  pyproject.toml
  taskcluster/translations_taskgraph/parameters.py
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

Enable typos for student
  pipeline/train/configs/opustrainer/student.yml
Due: snakemake-dry-run, taskgraph-definition

Adjust inline noise probability
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.yml
  utils/taskcluster_downloader.py
Due: snakemake-dry-run, taskgraph-definition

Train teacher corpus alignments jointly
  pipeline/alignments/generate-space-alignment-merged.sh
  pipeline/alignments/generate-space-alignment.sh
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/alignments-teacher/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Fix length variable
  pipeline/alignments/generate-space-alignment-merged.sh
Due: snakemake-dry-run, taskgraph-definition

Fix test
  tests/test_data_importer.py
Due: none

Update parser documentation
  docs/tracking.md
Due: none

Set TERM for docker worker images
  taskcluster/docker/base/Dockerfile
Due: taskgraph-definition

Use spot instances for PRs
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/translations_taskgraph/transforms/worker_env.py
Due: taskgraph-definition

Use spot instances for PRs (#457)
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/translations_taskgraph/transforms/worker_env.py
Due: taskgraph-definition
