Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Bump disk for cefilter
  taskcluster/kinds/cefilter/kind.yml
Due: taskgraph-definition

Suppress the ruff sorting behavior (#805)
  pyproject.toml
Due: none

Update the training guide
  docs/task-cluster.md
Due: none

Add a task for triggering training
  Taskfile.yml
  poetry.lock
  pyproject.toml
  utils/train.py
Due: none

Bump disk for cefilter (#807)
  taskcluster/kinds/cefilter/kind.yml
Due: taskgraph-definition

Update en-el
  configs/spring-2024/en-el-spring-2024.yml
Due: snakemake-dry-run

Add a train task (#812)
  Taskfile.yml
  docs/task-cluster.md
  poetry.lock
  pyproject.toml
  utils/train.py
Due: none

Revert "Disable cache for CI runs"
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Disable cache for CI runs
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Publish experiments from the CI
  taskcluster/translations_taskgraph/parameters.py
  tracking/translations_parser/wandb.py
Due: taskgraph-definition

Pass W&B suffix to publish_group_logs (offline experiments)
  tracking/translations_parser/cli/taskcluster_group.py
Due: none

Nit
  tracking/translations_parser/utils.py
Due: none

Publish experiments to W&B from the CI (#817)
  taskcluster/translations_taskgraph/parameters.py
  tracking/translations_parser/wandb.py
Due: taskgraph-definition

Process alignments in chunks (#763)
  pipeline/alignments/align.py
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/shortlist/kind.yml
  tests/test_alignments.py
Due: snakemake-dry-run, taskgraph-definition

Use larger machine (#762)
  taskcluster/kinds/merge-translated/kind.yml
Due: taskgraph-definition

Optimize alignments (#703)
  docker/Dockerfile
  pipeline/alignments/align.py
  pipeline/alignments/requirements/alignments.in
  pipeline/alignments/requirements/alignments.txt
  pipeline/alignments/tokenizer.py
  pyproject.toml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/shortlist/kind.yml
  tests/fixtures/__init__.py
  tests/test_aln_mapping.py
Due: snakemake-dry-run, taskgraph-definition

Do not use aggressive dash splitting in tokenization (#718)
  pipeline/alignments/tokenizer.py
  tests/test_aln_mapping.py
Due: snakemake-dry-run, taskgraph-definition

Change base image to trigger toolchain rebuilds (#791)
  taskcluster/docker/base/Dockerfile
Due: taskgraph-definition

Change base image to trigger toolchain rebuilds (#797)
  taskcluster/docker/base/Dockerfile
Due: taskgraph-definition

Bump disk for student (#786)
  taskcluster/config.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-student/kind.yml
Due: taskgraph-definition

Change base image to trigger toolchain rebuilds (#794)
  taskcluster/docker/base/Dockerfile
Due: taskgraph-definition

Relock poetry after conflicts
  poetry.lock
Due: none

add 2tb gpu workers (#782)
  taskcluster/config.yml
Due: taskgraph-definition

Rewrite the merge-mono task and add a test
  pipeline/clean/merge-mono.py
  pipeline/clean/merge-mono.sh
  pipeline/clean/requirements/merge-mono.in
  pipeline/clean/requirements/merge-mono.txt
  pipeline/common/datasets.py
  taskcluster/kinds/merge-mono/kind.yml
  tests/fixtures/__init__.py
  tests/test_merge_mono.py
Due: snakemake-dry-run, taskgraph-definition

Add support for opus monolingual data
  pipeline/data/download-mono.py
Due: snakemake-dry-run, taskgraph-definition

Fix an issue where glob pattern automatically expand in bash
  taskcluster/kinds/merge-mono/kind.yml
Due: taskgraph-definition

Remove compression options - Update all kind.yml
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/cefilter/kind.yml
  taskcluster/kinds/clean-corpus/kind.yml
  taskcluster/kinds/clean-mono/kind.yml
  taskcluster/kinds/collect-corpus/kind.yml
  taskcluster/kinds/collect-mono-src/kind.yml
  taskcluster/kinds/collect-mono-trg/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/extract-best/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/merge-devset/kind.yml
  taskcluster/kinds/merge-translated/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/shortlist/kind.yml
  taskcluster/kinds/split-corpus/kind.yml
  taskcluster/kinds/split-mono-src/kind.yml
  taskcluster/kinds/split-mono-trg/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/train-vocab/kind.yml
Due: taskgraph-definition

Split up the per-dataset and total monolingual data sentence limits
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/merge-mono/kind.yml
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  tests/data/experiments_1_10/experiments/en-nl/prod/config.yml
  tests/data/experiments_1_12/experiments/fi-en/opusprod/config.yml
  tests/fixtures/config.pytest.yml
Due: taskgraph-definition
