Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Fix return code
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Increase number of cluster for stage 2
  pipeline/clean/opusfilter/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Fix stage name
  pipeline/train/configs/opustrainer/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

Make shuffling efficient
  pipeline/common/datasets.py
Due: snakemake-dry-run, taskgraph-definition

statically link marian
  taskcluster/scripts/toolchain/build-marian.sh
Due: taskgraph-definition

Wrap train-taskcluster.sh in train_taskcluster.py
  Taskfile.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/scripts/pipeline/__init__.py
  taskcluster/scripts/pipeline/train_taskcluster.py
  tests/test_train_taskcluster.py
Due: taskgraph-definition

Wrap train-taskcluster.sh in train_taskcluster.py (#546)
  Taskfile.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/scripts/pipeline/__init__.py
  taskcluster/scripts/pipeline/train_taskcluster.py
  tests/test_train_taskcluster.py
Due: taskgraph-definition

Report empty alignments separately (#571)
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Optimize memory usage, don't run redundant shuffling
  pipeline/common/datasets.py
Due: snakemake-dry-run, taskgraph-definition

Fix tests
  tests/test_data_importer.py
Due: none

Fix mono downloader (#576)
  pipeline/common/datasets.py
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

Re-enable generic-worker for CPU tasks
  taskcluster/config.yml
Due: taskgraph-definition

Re-enable generic-worker for CPU tasks (#561)
  taskcluster/config.yml
Due: taskgraph-definition

Rename worker_env.py to the more general worker_selection.py to accommodate upcoming runtime worker selection work
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
  taskcluster/translations_taskgraph/transforms/worker_selection.py
Due: taskgraph-definition

allow runtime selection of worker classes through training config
  taskcluster/config.yml
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/analyze-corpus/kind.yml
  taskcluster/kinds/analyze-mono/kind.yml
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/cefilter/kind.yml
  taskcluster/kinds/clean-corpus/kind.yml
  taskcluster/kinds/clean-mono/kind.yml
  taskcluster/kinds/collect-corpus/kind.yml
  taskcluster/kinds/collect-mono-src/kind.yml
  taskcluster/kinds/collect-mono-trg/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/extract-best/kind.yml
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/merge-devset/kind.yml
  taskcluster/kinds/merge-mono/kind.yml
  taskcluster/kinds/merge-translated/kind.yml
  taskcluster/kinds/quantize/kind.yml
  taskcluster/kinds/shortlist/kind.yml
  taskcluster/kinds/split-corpus/kind.yml
  taskcluster/kinds/split-mono-src/kind.yml
  taskcluster/kinds/split-mono-trg/kind.yml
  taskcluster/kinds/tests/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/train-vocab/kind.yml
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  taskcluster/translations_taskgraph/transforms/worker_selection.py
  tests/fixtures/config.pytest.yml
Due: taskgraph-definition

Fix config parsing
  tests/data/experiments_1_10/logs/en-nl/prod/train_teacher1.log
  tracking/translations_parser/parser.py
Due: none

Trigger CI
  tracking/translations_parser/parser.py
Due: none

Fix condition
  tracking/translations_parser/parser.py
Due: none

Revert "Revert "Disable custom configs""
  pipeline/clean/opuscleaner/generate_filters.py
Due: snakemake-dry-run, taskgraph-definition

Add W&B publication setting
  taskcluster/configs/config.prod.yml
Due: taskgraph-definition

Add missing mtdata dependency
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
Due: snakemake-dry-run, taskgraph-definition

Use the requirements.txt file for run_task
  Taskfile.yml
  tests/fixtures/__init__.py
Due: none

Remove pipeline python dependencies from pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

Add venv support to the CI Dockerfile for the testing image
  Taskfile.yml
  taskcluster/docker/test/Dockerfile
  tests/fixtures/__init__.py
Due: taskgraph-definition

Add timing information to the taskgraph generation and a flag to disable the generation
  tests/fixtures/__init__.py
Due: none

Use a virtual environment per requirements.txt file in run_task (#568)
  Taskfile.yml
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  poetry.lock
  pyproject.toml
  taskcluster/docker/test/Dockerfile
  tests/fixtures/__init__.py
Due: snakemake-dry-run, taskgraph-definition

Fix config parsing (#583)
  tests/data/experiments_1_10/logs/en-nl/prod/train_teacher1.log
  tracking/translations_parser/parser.py
Due: none

Switch to boolean
  taskcluster/configs/config.prod.yml
  tracking/translations_parser/cli/taskcluster.py
Due: taskgraph-definition

Add wandb setting to the train action
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Run linter
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Change type name
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Make bool values lower case
  tracking/translations_parser/cli/taskcluster.py
Due: none

Configure evaluation tasks
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
Due: taskgraph-definition

Extract w&b code into module
  pipeline/eval/eval.py
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/wandb.py
Due: snakemake-dry-run, taskgraph-definition

Do not check taskcluwter when publication is disabled
  tracking/translations_parser/wandb.py
Due: none

Fix W&B publication setting (#585)
  taskcluster/configs/config.prod.yml
  taskcluster/translations_taskgraph/actions/train.py
  tracking/translations_parser/cli/taskcluster.py
Due: taskgraph-definition

Make using custom filtering configs configurable
  docs/cleaning.md
  pipeline/clean/opuscleaner/clean-corpus.sh
  pipeline/clean/opuscleaner/generate_filters.py
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/clean-corpus/kind.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  tests/test_filters.py
Due: snakemake-dry-run, taskgraph-definition

Fix substitution
  taskcluster/kinds/clean-corpus/kind.yml
Due: taskgraph-definition
