Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Reduce default task deadline
  taskcluster/config.yml
Due: taskgraph-definition

Fix task expiration issue
  taskcluster/config.yml
Due: taskgraph-definition

Fix task expiration issue (#692)
  taskcluster/config.yml
Due: taskgraph-definition

Use a forked opuscleaner
  pipeline/clean/requirements/clean.in
  pipeline/clean/requirements/clean.txt
Due: snakemake-dry-run, taskgraph-definition

Move to mozilla
  pipeline/clean/requirements/clean.in
  pipeline/clean/requirements/clean.txt
Due: snakemake-dry-run, taskgraph-definition

Use Moses tokenization to calculate alignments
  docker/Dockerfile
  pipeline/alignments/align.py
  pipeline/alignments/requirements/alignments.in
  pipeline/alignments/requirements/alignments.txt
  poetry.lock
  pyproject.toml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  tests/test_aln_mapping.py
Due: snakemake-dry-run, taskgraph-definition

Revert dockerfile
  docker/Dockerfile
Due: none

Switch to fast tokenizer
  pipeline/alignments/align.py
  pipeline/alignments/requirements/alignments.in
  pipeline/alignments/requirements/alignments.txt
Due: snakemake-dry-run, taskgraph-definition

Remove hashes as they are not supported for URLs
  pipeline/clean/requirements/clean.txt
Due: snakemake-dry-run, taskgraph-definition

Fallback to en tokenizer for unsupported languages
  pipeline/alignments/align.py
Due: snakemake-dry-run, taskgraph-definition

Optimize tokenizer
  pipeline/alignments/align.py
  pipeline/alignments/tokenizer.py
Due: snakemake-dry-run, taskgraph-definition

Use a forked OpusCleaner in `release` (#693)
  pipeline/clean/requirements/clean.in
  pipeline/clean/requirements/clean.txt
Due: snakemake-dry-run, taskgraph-definition

Don't log warning
  pipeline/alignments/tokenizer.py
Due: snakemake-dry-run, taskgraph-definition

Add envs to example
  pipeline/alignments/align.py
Due: snakemake-dry-run, taskgraph-definition

Add tokenizer and disable priors
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/shortlist/kind.yml
Due: taskgraph-definition

Parallelize remapping
  pipeline/alignments/align.py
Due: snakemake-dry-run, taskgraph-definition

Use aggressive dash splitting
  pipeline/alignments/tokenizer.py
Due: snakemake-dry-run, taskgraph-definition

Switch back to large machine
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
Due: taskgraph-definition

Refactor
  pipeline/alignments/align.py
  pipeline/alignments/tokenizer.py
Due: snakemake-dry-run, taskgraph-definition

Print env
  tests/fixtures/__init__.py
Due: none

WIP switch GPU workers to image that uses multi engine generic worker
  taskcluster/config.yml
Due: taskgraph-definition

temp: invalidate caches
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Bump disk for scoring (#668)
  taskcluster/kinds/score/kind.yml
Due: taskgraph-definition

fix: Don't abort a training task entirely if a 4xx error is encountered when fetching an artifact from a previous run (#673)
  taskcluster/scripts/pipeline/train_taskcluster.py
  tests/test_train_taskcluster.py
Due: taskgraph-definition

Make mono shuffling deterministic to fix caching issues (#677)
  pipeline/clean/merge-mono.sh
  taskcluster/translations_taskgraph/parameters.py
Due: snakemake-dry-run, taskgraph-definition

Bump memory for shortlist (#685)
  taskcluster/kinds/shortlist/kind.yml
Due: taskgraph-definition

Override the existing_tasks explicitly provided in the action's input (#683)
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Fix tests
  docker/Dockerfile
  pipeline/alignments/tokenizer.py
  tests/fixtures/__init__.py
Due: snakemake-dry-run, taskgraph-definition

Fix docker
  docker/Dockerfile
Due: none

Return priors
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
Due: taskgraph-definition

Disable parser
  poetry.lock
  pyproject.toml
Due: none
