Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

snakemake-dry-run:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command:
    - bash
    - -c
  ...

taskgraph-definition:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    docker-image:
      in-tree: base
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: make validate-taskgraph

Fix inline noise augmentation for evals
  pipeline/data/dataset_importer.py
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

Reduce noise in validation dataset
  pipeline/data/dataset_importer.py
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

Support failures retrieving task artifacts
  tracking/translations_parser/cli/taskcluster_group.py
Due: none

Support failures retrieving task artifacts (#482)
  tracking/translations_parser/cli/taskcluster_group.py
Due: none

Avoid duplicated backward runs publication
  tracking/translations_parser/cli/taskcluster_group.py
Due: none

Avoid duplicated runs during W&B publication
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/publishers.py
Due: none

Fix pretraining
  pipeline/train/configs/opustrainer/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

Avoid duplicated backward runs publication (#483)
  tracking/translations_parser/cli/taskcluster_group.py
Due: none

Avoid duplicated runs during W&B publication (#484)
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/publishers.py
Due: none

Temporarily disable student augmentation
  pipeline/train/configs/opustrainer/student.yml
Due: snakemake-dry-run, taskgraph-definition

Add czech
  configs/tc.prod.yml
Due: snakemake-dry-run

Clarify exporting variables for ARM processors
  Makefile
Due: none

Add a workaround for poetry not seeing python
  docker/Dockerfile
Due: none

Clarify the reason for not installing packages in docker image
  taskcluster/docker/test/Dockerfile
Due: taskgraph-definition

Run tests with toolchain binaries under Docker (#478)
  Makefile
  docker/Dockerfile
  pipeline/setup/compile-marian.sh
  taskcluster/docker/test/Dockerfile
  taskcluster/kinds/alignments/kind.yml
  taskcluster/kinds/tests/kind.yml
  taskcluster/scripts/toolchain/build-marian.sh
  tests/data/vocab.spm
  tests/test_alignments.py
Due: snakemake-dry-run, taskgraph-definition

Fix downloading evals (#479)
  utils/taskcluster_downloader.py
Due: none

Fix compatibility (#480)
  utils/preflight_check.py
Due: none

Fix pretraining (#485)
  pipeline/train/configs/opustrainer/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

debug long start-stage
  .taskcluster.yml
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Install OpenBLAS to run Marian
  docker/Dockerfile
Due: none

Fix Marian's version
  docker/Dockerfile
Due: none

Support running training with run_task
  tests/fixtures/__init__.py
Due: none

Add extra args for Marian
  tests/fixtures/__init__.py
Due: none

Make train.sh compatible with CPU
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Remove redundant export
  taskcluster/scripts/pipeline/train-taskcluster.sh
Due: taskgraph-definition

Add tests for training
  tests/fixtures/marian
  tests/test_training.py
Due: none

Fix formatting
  tests/fixtures/__init__.py
Due: none

Add numpy and matplotlib and requests as dependencies
  pipeline/data/requirements/analyze.in
  pipeline/data/requirements/analyze.txt
  poetry.lock
  pyproject.toml
Due: snakemake-dry-run, taskgraph-definition

Add an analysis task for datasets
  pipeline/data/analyze.py
  taskcluster/config.yml
  taskcluster/kinds/all-pr/kind.yml
  taskcluster/kinds/all/kind.yml
  taskcluster/kinds/analyze-mono/kind.yml
  tests/test_analyze_mono.py
Due: snakemake-dry-run, taskgraph-definition

Fetch cuda libs
  taskcluster/kinds/tests/kind.yml
Due: taskgraph-definition

Document regex
  tests/fixtures/__init__.py
Due: none

Compile marian to use on CPU for tests
  taskcluster/kinds/tests/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/scripts/toolchain/build-marian.sh
Due: taskgraph-definition

Fix formatting
  tests/test_training.py
Due: none

Fix comment
  tests/fixtures/marian
Due: none

Make the file names consistent
  tests/fixtures/marian
  tests/test_training.py
Due: none

increase logging
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Path conditions:
  snakemake-dry-run: any of: pipeline/**, envs/**, configs/**
  taskgraph-definition: any of: pipeline/**, taskcluster/**
