Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

snakemake-dry-run:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command:
    - bash
    - -c
  ...

taskgraph-definition:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    docker-image:
      in-tree: base
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: make validate-taskgraph

Train one teacher
  configs/cjk/zh-en-cjk.yml
Due: snakemake-dry-run

Disable modifiers
  pipeline/train/configs/opustrainer/teacher.two-stage.cjk.yml
Due: snakemake-dry-run, taskgraph-definition

Do not upload temporary directory to artifacts (#841) (#849)
  pipeline/alignments/align.py
  pipeline/alignments/generate-shortlist.sh
Due: snakemake-dry-run, taskgraph-definition

Add cjk configs to caches
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
Due: taskgraph-definition

Fix number of fields
  pipeline/train/configs/opustrainer/teacher.two-stage.cjk.yml
Due: snakemake-dry-run, taskgraph-definition

Add the Taskcluster environment variables so test-fast works on the train test
  tests/fixtures/__init__.py
Due: none

Rewrite train.sh into train.py
  docs/opus-trainer.md
  docs/training-guide.md
  pipeline/train/configs/opustrainer/backward.yml
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.yml
  pipeline/train/train.py
  pipeline/train/train.sh
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/scripts/pipeline/train-taskcluster.sh
Due: snakemake-dry-run, taskgraph-definition

Add more tests for training
  tests/test_training.py
Due: none

Add a run_pipeline utility
  pipeline/common/processes.py
  tests/test_common_pipeline.py
Due: snakemake-dry-run, taskgraph-definition

Ensure that the W&B tracker throws errors in CI
  pipeline/train/train.py
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/parser.py
Due: snakemake-dry-run, taskgraph-definition

Add the pipeline to the PYTHONPATH
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
Due: taskgraph-definition

Address review comments
  pipeline/common/command_runner.py
  pipeline/train/train.py
  tests/fixtures/config.pytest.yml
  tests/test_command_runner.py
  tracking/translations_parser/parser.py
Due: snakemake-dry-run, taskgraph-definition

Feed tokenized corpus to opus trainer
  pipeline/alignments/align.py
  pipeline/alignments/requirements/alignments.in
  pipeline/alignments/requirements/alignments.txt
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.cjk.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.yml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  tests/test_alignments.py
Due: snakemake-dry-run, taskgraph-definition

Rewrite train.sh to train.py (#842)
  docs/opus-trainer.md
  docs/training-guide.md
  pipeline/common/command_runner.py
  pipeline/train/configs/opustrainer/backward.yml
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.yml
  pipeline/train/train.py
  pipeline/train/train.sh
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/scripts/pipeline/train-taskcluster.sh
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.yml
  tests/test_command_runner.py
  tests/test_training.py
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/parser.py
Due: snakemake-dry-run, taskgraph-definition

Tests and fixes for training
  pipeline/alignments/align.py
  pipeline/train/configs/opustrainer/teacher.two-stage.cjk.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  tests/fixtures/config.pytest.yml
  tests/test_alignments.py
  tests/test_training.py
Due: snakemake-dry-run, taskgraph-definition

Add tests for Chinese
  pipeline/train/configs/opustrainer/student.cjk.yml
  tests/data/vocab.zhen.spm
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.enzh.yml
  tests/test_training.py
Due: snakemake-dry-run, taskgraph-definition

Fix tests
  tests/fixtures/__init__.py
Due: none

Add augmentation mode for cjk
  pipeline/data/dataset_importer.py
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

Add environment variables to all artifacts and fetches
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/collect-corpus/kind.yml
  taskcluster/kinds/collect-mono-src/kind.yml
  taskcluster/kinds/collect-mono-trg/kind.yml
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/merge-devset/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/train-vocab/kind.yml
Due: taskgraph-definition

Update the statistics class to use data attributes and use Statistics in merge-mono.py
  pipeline/clean/merge-mono.py
  pipeline/common/datasets.py
  pipeline/data/importers/mono/hplt.py
  tests/test_data_importer.py
  tests/test_merge_mono.py
Due: snakemake-dry-run, taskgraph-definition

Correct the vocab.spm path
  taskcluster/kinds/train-vocab/kind.yml
Due: taskgraph-definition

Fix vocab tests
  pipeline/train/spm-vocab.sh
  tests/test_spm_vocab.py
Due: snakemake-dry-run, taskgraph-definition

Add sacrebleu dependency
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
Due: snakemake-dry-run, taskgraph-definition

Pin dependencies
  poetry.lock
  pyproject.toml
  taskcluster/docker/toolchain-build/Dockerfile
  taskcluster/docker/train/Dockerfile
Due: taskgraph-definition

Add sacrebleu to CI
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Use the config.ci.yml for the training defaults
  taskcluster/configs/config.ci.yml
  taskcluster/test/test_default_params.py
  taskcluster/test/test_target_stage.py
  taskcluster/test/test_training_continuation_backwards.py
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Preserve process env vars
  pipeline/data/dataset_importer.py
  taskcluster/translations_taskgraph/parameters.py
Due: snakemake-dry-run, taskgraph-definition

Update sacrebleu
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  pyproject.toml
  taskcluster/translations_taskgraph/parameters.py
Due: snakemake-dry-run, taskgraph-definition

Update config
  configs/cjk/zh-en-cjk.yml
Due: snakemake-dry-run

Fix version
  poetry.lock
  pyproject.toml
Due: none

Shrink the size of the Teacher in CI
  taskcluster/configs/config.ci.yml
Due: taskgraph-definition

feat: bump to taskgraph 11.1.0
  taskcluster/requirements.in
  taskcluster/requirements.txt
Due: taskgraph-definition

fix: pass 'permission' to train action
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Use the config.ci.yml for the training defaults (#856)
  taskcluster/configs/config.ci.yml
  taskcluster/test/test_default_params.py
  taskcluster/test/test_target_stage.py
  taskcluster/test/test_training_continuation_backwards.py
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

feat: bump to taskgraph 11.1.0 (#858)
  taskcluster/requirements.in
  taskcluster/requirements.txt
Due: taskgraph-definition

Add environment variables to all artifacts and fetches (#852)
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/collect-corpus/kind.yml
  taskcluster/kinds/collect-mono-src/kind.yml
  taskcluster/kinds/collect-mono-trg/kind.yml
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/merge-devset/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/train-vocab/kind.yml
Due: taskgraph-definition

Update the statistics class to use data attributes and use Statistics in merge-mono.py (#853)
  pipeline/clean/merge-mono.py
  pipeline/common/datasets.py
  pipeline/data/importers/mono/hplt.py
  tests/test_data_importer.py
  tests/test_merge_mono.py
Due: snakemake-dry-run, taskgraph-definition

Decrease batch size
  taskcluster/kinds/alignments-backtranslated/kind.yml
Due: taskgraph-definition

Add an encoding argument to read_lines
  pipeline/common/downloads.py
Due: snakemake-dry-run, taskgraph-definition

Remove task defaults from merge-corpus and merge-devset
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/merge-devset/kind.yml
Due: taskgraph-definition

Path conditions:
  snakemake-dry-run: any of: pipeline/**, envs/**, configs/**
  taskgraph-definition: any of: pipeline/**, taskcluster/**
