Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

snakemake-dry-run:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command:
    - bash
    - -c
  ...

taskgraph-definition:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    docker-image:
      in-tree: base
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: make validate-taskgraph

Refactor tests
  tests/fixtures/__init__.py
  tests/test_training.py
Due: none

Fix zh sample
  tests/fixtures/__init__.py
Due: none

Rename tokenized file extension
  pipeline/alignments/align.py
  pipeline/alignments/tokenizer.py
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  tests/test_alignments.py
  tests/test_training.py
Due: snakemake-dry-run, taskgraph-definition

Fix renaming issue
  pipeline/alignments/align.py
Due: snakemake-dry-run, taskgraph-definition

Enable zh tests
  tests/data/corpus_samples/pytest-dataset.zh.gz
  tests/test_data_importer.py
Due: none

Reuse cjk variable
  pipeline/train/train.py
Due: snakemake-dry-run, taskgraph-definition

Accumulate lines in HPLT based on characters
  pipeline/data/download-mono.py
  pipeline/data/importers/mono/hplt.py
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

Use named arguments
  pipeline/clean/merge-mono.py
Due: snakemake-dry-run, taskgraph-definition

Revert "Reuse cjk variable"
  pipeline/train/train.py
Due: snakemake-dry-run, taskgraph-definition

Add more docs
  pipeline/data/cjk.py
  pipeline/data/dataset_importer.py
Due: snakemake-dry-run, taskgraph-definition

Add --run-as-user flag to docker-run.py (#919)
  utils/tasks/docker-run.py
Due: none

Return text comparison
  tests/test_data_importer.py
Due: none

Update data importer to support CJK (#897)
  docs/opus-trainer.md
  pipeline/data/cjk.py
  pipeline/data/dataset_importer.py
  pipeline/data/download-mono.py
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  poetry.lock
  pyproject.toml
  taskcluster/kinds/dataset/kind.yml
  tests/data/corpus_samples/flores101_dataset.tar.gz
  tests/data/corpus_samples/pytest-dataset.zh.gz
  tests/fixtures/__init__.py
  tests/test_cjk.py
  tests/test_data_importer.py
  utils/config_generator.py
Due: snakemake-dry-run, taskgraph-definition

Make custom filters direction specific
  pipeline/clean/opuscleaner/generate_filters.py
Due: snakemake-dry-run, taskgraph-definition

Add custom cleaning configs for CJK
  pipeline/clean/opuscleaner/configs/en-ja/default.filters.json
  pipeline/clean/opuscleaner/configs/en-ko/default.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/default.filters.json
  pipeline/clean/opuscleaner/configs/ja-en/default.filters.json
  pipeline/clean/opuscleaner/configs/ko-en/default.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/default.filters.json
Due: snakemake-dry-run, taskgraph-definition

Update config generator to use custom cleaning configs for CJK
  utils/config_generator.py
Due: none

Update Taskcluster kind
  taskcluster/kinds/clean-corpus/kind.yml
Due: taskgraph-definition

Fix mono cleaning for CJK
  pipeline/clean/tools/clean_mono.py
Due: snakemake-dry-run, taskgraph-definition

Update tests
  tests/test_filters.py
Due: none

Adjust data cleaning for CJK (#900)
  pipeline/clean/opuscleaner/configs/en-ja/default.filters.json
  pipeline/clean/opuscleaner/configs/en-ko/default.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/default.filters.json
  pipeline/clean/opuscleaner/configs/ja-en/default.filters.json
  pipeline/clean/opuscleaner/configs/ko-en/default.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/default.filters.json
  pipeline/clean/opuscleaner/generate_filters.py
  pipeline/clean/tools/clean_mono.py
  taskcluster/kinds/clean-corpus/kind.yml
  tests/test_filters.py
  utils/config_generator.py
Due: snakemake-dry-run, taskgraph-definition

Add emsdk as git submodule with revision 2346baa7bb44a4a0571cc75f1986ab9aaa35aa03
  .gitmodules
Due: none

Use emsdk as proper git submodule in build-wasm.py
  inference/scripts/build-wasm.py
Due: none

Misc. cleanups for build-wasm.py
  inference/scripts/build-wasm.py
Due: none

Remove emsdk path from .gitignore
  inference/.gitignore
Due: none

Add emsdk as a git submodule (#918)
  .gitmodules
  inference/.gitignore
  inference/scripts/build-wasm.py
Due: none

Remove max_words filtering from data importers (#901)
  pipeline/clean/merge-corpus.py
  pipeline/clean/merge-mono.py
  pipeline/common/datasets.py
  pipeline/data/download-mono.py
  pipeline/data/importers/mono/hplt.py
  tests/test_common_datasets.py
  tests/test_data_importer.py
  utils/build-mono-nllb.py
Due: snakemake-dry-run, taskgraph-definition

Fix sample
  tests/data/corpus_samples/pytest-dataset.zh.gz
Due: none

Update training to support CJK (#904)
  docs/opus-trainer.md
  pipeline/alignments/align.py
  pipeline/alignments/requirements/alignments.in
  pipeline/alignments/requirements/alignments.txt
  pipeline/alignments/tokenizer.py
  pipeline/train/configs/opustrainer/backward.cjk.yml
  pipeline/train/configs/opustrainer/student.cjk.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.cjk.yml
  pipeline/train/train.py
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  tests/data/corpus_samples/pytest-dataset.zh.gz
  tests/data/vocab.zhen.spm
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.enzh.yml
  tests/test_alignments.py
  tests/test_data_importer.py
  tests/test_training.py
Due: snakemake-dry-run, taskgraph-definition

Relock poetry
  poetry.lock
Due: none

Run linter
  utils/config_generator.py
Due: none

Configure vocab for CJK (#906)
  pipeline/train/configs/model/backward.yml
  pipeline/train/configs/model/student.base.yml
  pipeline/train/configs/model/student.tiny.yml
  pipeline/train/configs/model/teacher.yml
  pipeline/train/spm-vocab.sh
  poetry.lock
  utils/config_generator.py
Due: snakemake-dry-run, taskgraph-definition

Add compress and decompress common utilities
  pipeline/common/datasets.py
  tests/test_common_datasets.py
Due: snakemake-dry-run, taskgraph-definition

Use decompression utilities everywhere
  pipeline/alignments/align.py
  tests/test_bicleaner.py
  tests/test_split_collect.py
Due: snakemake-dry-run, taskgraph-definition

Rename DataDir.load to DataDir.read_text and allow for reading compressed files
  tests/fixtures/__init__.py
  tests/test_data_importer.py
  tests/test_eval.py
  tests/test_merge_corpus.py
  tests/test_merge_mono.py
Due: none

WANDB Test failure
  pipeline/eval/eval.py
Due: snakemake-dry-run, taskgraph-definition

Re-work the marian-decoder fixture to correctly output nbest
  pipeline/common/marian.py
  tests/test_eval.py
Due: snakemake-dry-run, taskgraph-definition

Re-work the marian-decoder fixture to correctly output nbest
  pipeline/common/marian.py
  tests/fixtures/marian-decoder
  tests/test_common_marian.py
  tests/test_eval.py
Due: snakemake-dry-run, taskgraph-definition

Rename task `inference-test` to `inference-test-local`
  Taskfile.yml
  inference/scripts/unit-tests.sh
  taskcluster/kinds/inference/kind.yml
Due: taskgraph-definition

Add task `inference-test-wasm`
  Taskfile.yml
  taskcluster/kinds/inference/kind.yml
Due: taskgraph-definition

Ensure macOS host dependencies build on 1 thread
  Taskfile.yml
  taskcluster/kinds/inference/kind.yml
  utils/tasks/docker-run.py
Due: taskgraph-definition

Path conditions:
  snakemake-dry-run: any of: pipeline/**, envs/**, configs/**
  taskgraph-definition: any of: pipeline/**, taskcluster/**
