Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

snakemake-dry-run:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command:
    - bash
    - -c
  ...

taskgraph-definition:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    docker-image:
      in-tree: base
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: make validate-taskgraph

Always use Bicleaner AI (#367)
  Snakefile
  docs/bicleaner.md
  pipeline/bicleaner/bicleaner.sh
  pipeline/bicleaner/download-pack.sh
  pipeline/bicleaner/download_pack.py
  pipeline/bicleaner/packs.py
  pipeline/bicleaner/requirements/bicleaner.in
  pipeline/bicleaner/requirements/bicleaner.txt
  taskcluster/kinds/alignments/kind.yml
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/cefilter/kind.yml
  taskcluster/kinds/clean-corpus/kind.yml
  taskcluster/kinds/clean-mono/kind.yml
  taskcluster/kinds/fetch/bicleaner.yml
  taskcluster/kinds/fetch/kind.yml
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/merge-devset/kind.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
  tests/test_bicleaner.py
Due: snakemake-dry-run, taskgraph-definition

Fix bilceaner processes
  pipeline/bicleaner/bicleaner.sh
Due: snakemake-dry-run, taskgraph-definition

Use cuda 11 for bicleaner
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/scripts/toolchain/build-cuda-toolkit.sh
Due: taskgraph-definition

Fix an errant fileinput
  tests/fixtures/marian-decoder
Due: none

Make cleaning_type in find_upstreams only required when the cleaning-type attribute is set
  taskcluster/kinds/merge-devset/kind.yml
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
Due: taskgraph-definition

Add some docs to what dedupe is
  pipeline/clean/merge-corpus.sh
  pipeline/translate/merge-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Add a note in the training guide.
  docs/training-guide.md
Due: none

Add some docs to what dedupe is (#379)
  docs/training-guide.md
  pipeline/clean/merge-corpus.sh
  pipeline/translate/merge-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Point to the docs for marian args
  configs/tc.prod.yml
  docs/training-guide.md
Due: snakemake-dry-run

Point to the docs for marian args (#381)
  configs/tc.prod.yml
  docs/training-guide.md
Due: snakemake-dry-run

Add tests for evaluation (#364)
  pipeline/eval/eval-gpu.sh
  pipeline/eval/eval-quantized.sh
  pipeline/eval/eval.sh
  tests/fixtures/__init__.py
  tests/fixtures/marian-decoder
  tests/test_eval.py
Due: snakemake-dry-run, taskgraph-definition

Update import sorting
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/publishers.py
Due: none

Add documentation on how to monitor CPU, GPU, etc. on training instances
  docs/img/gcp-monitoring.png
  docs/task-cluster.md
Due: none

Fix Bicleaner-ai GPU usage (#392)
  pipeline/bicleaner/bicleaner.sh
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/scripts/toolchain/build-cuda-toolkit.sh
Due: snakemake-dry-run, taskgraph-definition

[skip ci] add docs on `pretrained-models` configuration parameter
  docs/using-pretrained-models.md
Due: none

[skip ci] add docs on `pretrained-models` configuration parameter (#349)
  docs/using-pretrained-models.md
Due: none

Disable spot instances for training
  taskcluster/config.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
Due: taskgraph-definition

Add worker-configuration for standard VMs
  taskcluster/config.yml
Due: taskgraph-definition

Use standard compute engine instances for training (#376)
  taskcluster/config.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
Due: taskgraph-definition

Remove unused "run" function
  utils/find_corpus.py
Due: none

Add huggingface-hub as a dependency
  poetry.lock
  pyproject.toml
Due: none

Remove the download restriction
  utils/find_corpus.py
Due: none

Add a huggingface importer
  utils/find_corpus.py
Due: none

Add huggingface to the find_corpus (#397)
  poetry.lock
  pyproject.toml
  utils/find_corpus.py
Due: none

fix(snakefile): correctly locate files to translate
  Snakefile
Due: none

fix(snakemake): remove unused packs
  Snakefile
Due: none

Update Snakefile
  Snakefile
Due: none

fix(snakemake): remove unused packs (#404)
  Snakefile
Due: none

Add documentation on how to monitor CPU, GPU, etc. on training instances (#398)
  docs/img/gcp-monitoring.png
  docs/task-cluster.md
Due: none

Make cleaning_type in find_upstreams only required when the cleaning-type attribute is set (#385)
  taskcluster/kinds/merge-devset/kind.yml
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
Due: taskgraph-definition

fix(snakefile): correctly locate files to translate (#402)
  Snakefile
Due: none

Change ca to ru in the test assertions
  tests/fixtures/__init__.py
  tests/test_spm_vocab.py
Due: none

Use a test defined config file
  tests/fixtures/config.pytest.yml
  tests/test_preflight_check.py
  utils/preflight_check.py
Due: none

Add a run_task test utility that excercises the full taskgraph
  tests/fixtures/__init__.py
  tests/test_eval.py
Due: none

Remove sentencepiece sampling
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Revert "Remove sentencepiece sampling"
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Add experimental train script
  pipeline/train/train2.sh
  taskcluster/kinds/train-teacher/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Parameterize the eval test
  tests/test_eval.py
Due: none

Use a run_task abstraction for eval-tests.py (#393)
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.yml
  tests/test_eval.py
  tests/test_preflight_check.py
  tests/test_spm_vocab.py
  utils/preflight_check.py
Due: none

Use run_task for dataset importing
  pipeline/data/dataset_importer.py
  taskcluster/kinds/dataset/kind.yml
  tests/fixtures/config.pytest.yml
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

Path conditions:
  snakemake-dry-run: any of: pipeline/**, envs/**, configs/**
  taskgraph-definition: any of: pipeline/**, taskcluster/**
