Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

snakemake-dry-run:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command:
    - bash
    - -c
  ...

taskgraph-definition:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    docker-image:
      in-tree: base
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: make validate-taskgraph

Close resources in alignments for each step
  pipeline/alignments/align.py
Due: snakemake-dry-run, taskgraph-definition

Fix data importing for sacrebleu (#658)
  pipeline/data/importers/corpus/sacrebleu.sh
Due: snakemake-dry-run, taskgraph-definition

Adjust all-pr kind to use all-pr in task names explicitly
  taskcluster/kinds/all-pr/kind.yml
Due: taskgraph-definition

chore: Upgrade to taskgraph 8
  .taskcluster.yml
  taskcluster/kinds/collect-corpus/kind.yml
  taskcluster/kinds/collect-mono-src/kind.yml
  taskcluster/kinds/collect-mono-trg/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
  taskcluster/translations_taskgraph/transforms/skip_unless_pipeline_changed.py
Due: taskgraph-definition

Use optimization to implement skip_unless_pipeline_changed
  taskcluster/translations_taskgraph/transforms/skip_unless_pipeline_changed.py
Due: taskgraph-definition

Upgrade to Taskgraph 8 (#664)
  .taskcluster.yml
  taskcluster/kinds/all-pr/kind.yml
  taskcluster/kinds/collect-corpus/kind.yml
  taskcluster/kinds/collect-mono-src/kind.yml
  taskcluster/kinds/collect-mono-trg/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
  taskcluster/translations_taskgraph/transforms/skip_unless_pipeline_changed.py
Due: taskgraph-definition

chore: upgrade to Taskgraph 9
  .taskcluster.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
Due: taskgraph-definition

Enable chain of trust on tasks that will be upstream of beetmover
  .taskcluster.yml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/analyze-corpus/kind.yml
  taskcluster/kinds/analyze-mono/kind.yml
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/cefilter/kind.yml
  taskcluster/kinds/clean-corpus/kind.yml
  taskcluster/kinds/clean-mono/kind.yml
  taskcluster/kinds/collect-corpus/kind.yml
  taskcluster/kinds/collect-mono-src/kind.yml
  taskcluster/kinds/collect-mono-trg/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/extract-best/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/merge-devset/kind.yml
  taskcluster/kinds/merge-mono/kind.yml
  taskcluster/kinds/merge-translated/kind.yml
  taskcluster/kinds/quantize/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/shortlist/kind.yml
  taskcluster/kinds/split-corpus/kind.yml
  taskcluster/kinds/split-mono-src/kind.yml
  taskcluster/kinds/split-mono-trg/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/train-vocab/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
Due: taskgraph-definition

beetmover task
  taskcluster/kinds/all-pr/kind.yml
  taskcluster/kinds/all/kind.yml
  taskcluster/kinds/beetmover/kind.yml
  taskcluster/translations_taskgraph/transforms/beetmover.py
Due: taskgraph-definition

Bump disk for scoring
  taskcluster/kinds/score/kind.yml
Due: taskgraph-definition

Spring 2024 config fixes (#659)
  configs/autogenerated/en-ro-spring-2024.yml
  configs/autogenerated/en-sv-spring-2024.yml
  configs/autogenerated/ro-en-spring-2024.yml
  configs/autogenerated/sv-en-spring-2024.yml
  configs/spring-2024/el-en-spring-2024.yml
  configs/spring-2024/en-el-spring-2024.yml
  configs/spring-2024/en-ro-spring-2024.yml
  configs/spring-2024/en-sv-spring-2024.yml
  configs/spring-2024/ro-en-spring-2024.yml
  configs/spring-2024/sv-en-spring-2024.yml
  utils/config_generator.py
Due: snakemake-dry-run

Bump disk for scoring (#668)
  taskcluster/kinds/score/kind.yml
Due: taskgraph-definition

Fix case where base_ref may evaluate to multiple values in .taskcluster.yml
  .taskcluster.yml
Due: none

bust cache
  taskcluster/docker/base/Dockerfile
Due: taskgraph-definition

Bump taskcluster-taskgraph to 8.2.0 in poetry
  poetry.lock
  pyproject.toml
Due: none

fix: run tests when taskcluster configs changes
  taskcluster/kinds/tests/kind.yml
Due: taskgraph-definition

fix: remove unused 'reasons_created' in train taskcluster tests
  tests/test_train_taskcluster.py
Due: none

fix: Don't abort a training task entirely if a 4xx error is encountered when fetching an artifact from a previous run
  taskcluster/scripts/pipeline/train_taskcluster.py
  tests/test_train_taskcluster.py
Due: taskgraph-definition

Replace sorting to python
  pipeline/translate/collect.sh
Due: snakemake-dry-run, taskgraph-definition

Fix python cmd
  pipeline/translate/collect.sh
Due: snakemake-dry-run, taskgraph-definition

fix: Don't abort a training task entirely if a 4xx error is encountered when fetching an artifact from a previous run (#673)
  taskcluster/scripts/pipeline/train_taskcluster.py
  tests/test_train_taskcluster.py
Due: taskgraph-definition

Make shuffling deterministic
  pipeline/clean/merge-mono.sh
Due: snakemake-dry-run, taskgraph-definition

Use existing groups for successful teachers and run to the end
  configs/spring-2024/da-en-spring-2024.yml
  configs/spring-2024/lv-en-spring-2024.yml
  configs/spring-2024/sl-en-spring-2024.yml
  configs/spring-2024/sv-en-spring-2024.yml
  configs/spring-2024/uk-en-spring-2024.yml
Due: snakemake-dry-run

Continue from scoring
  configs/spring-2024/en-lt-spring-2024.yml
  configs/spring-2024/en-uk-spring-2024.yml
Due: snakemake-dry-run

Refactor b-cpu-xlargedisk worker pools to allow for experimentation with different configurations
  taskcluster/config.yml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/shortlist/kind.yml
Due: taskgraph-definition

Use b-cpu-largedisk for shortlist tasks
  taskcluster/kinds/shortlist/kind.yml
Due: taskgraph-definition

Update comments in taskcluster/config.yml
  taskcluster/config.yml
Due: taskgraph-definition

Use pretrained backward models for the languages affected by the caching issue
  configs/spring-2024/cs-en-spring-2024.yml
  configs/spring-2024/el-en-spring-2024.yml
  configs/spring-2024/lt-en-spring-2024.yml
  configs/spring-2024/ro-en-spring-2024.yml
  configs/spring-2024/sk-en-spring-2024.yml
Due: snakemake-dry-run

Add in-progress languages unaffected by the caching issue
  configs/spring-2024/hr-en-spring-2024.yml
  configs/spring-2024/ru-en-spring-2024.yml
Due: snakemake-dry-run

Run alignments-backtranslated on a worker with more memory
  taskcluster/kinds/alignments-backtranslated/kind.yml
Due: taskgraph-definition

Path conditions:
  snakemake-dry-run: any of: pipeline/**, envs/**, configs/**
  taskgraph-definition: any of: pipeline/**, taskcluster/**
