Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Fix task expiration issue (#692)
  taskcluster/config.yml
Due: taskgraph-definition

Revert "Disable parser"
  poetry.lock
  pyproject.toml
Due: none

Remove ld library hack
  taskcluster/kinds/alignments-original/kind.yml
Due: taskgraph-definition

Add more comments
  pipeline/alignments/align.py
  pipeline/alignments/tokenizer.py
Due: snakemake-dry-run, taskgraph-definition

Add fast Moses tokenizer
  pipeline/alignments/requirements/alignments.in
  pipeline/alignments/requirements/alignments.txt
  pipeline/alignments/tokenizer.py
Due: snakemake-dry-run, taskgraph-definition

Configure generic-worker (d2g) pools for translation alignment tasks
  taskcluster/config.yml
Due: taskgraph-definition

Tokenize corpus and remap alignments
  pipeline/alignments/align.py
Due: snakemake-dry-run, taskgraph-definition

Use moses tokenizer in taskcluster
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/shortlist/kind.yml
Due: taskgraph-definition

Add tests for index mapping
  poetry.lock
  pyproject.toml
  tests/test_aln_mapping.py
Due: none

Add packaged to build fast moses tokenizer
  docker/Dockerfile
Due: none

Fix an issue with LD_LIBRARY_PATH for fast moses tokenizer
  tests/fixtures/__init__.py
Due: none

Switch alignments to generic worker
  taskcluster/config.yml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/shortlist/kind.yml
Due: taskgraph-definition

Revert "Switch alignments to generic worker"
  taskcluster/config.yml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/shortlist/kind.yml
Due: taskgraph-definition

Switch alignments to generic worker
  taskcluster/config.yml
Due: taskgraph-definition

Split teacher alignments stage
  taskcluster/config.yml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
Due: taskgraph-definition

Revert "Split teacher alignments stage"
  taskcluster/config.yml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
Due: taskgraph-definition

Add an extra task to recalculate priors
  taskcluster/config.yml
  taskcluster/kinds/alignments-priors/kind.yml
Due: taskgraph-definition

Use pip-compile for tracking dependencies
  tracking/pyproject.toml
  tracking/requirements.in
  tracking/requirements.txt
Due: none

Expose Takscluster task owner as author for Weight & Biases publication
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
Due: taskgraph-definition

Publish author tag
  tracking/translations_parser/wandb.py
Due: none

Configure generic-worker (d2g) pools for translation alignment tasks (#702)
  taskcluster/config.yml
Due: taskgraph-definition

Configure generic-worker (d2g) pools for translation alignment tasks (#702) (#705)
  taskcluster/config.yml
Due: taskgraph-definition

Use standard instances for alignments
  configs/spring-2024/bs-en-spring-2024.yml
  configs/spring-2024/cs-en-spring-2024.yml
  configs/spring-2024/da-en-spring-2024.yml
  configs/spring-2024/el-en-spring-2024.yml
  configs/spring-2024/en-bs-spring-2024.yml
  configs/spring-2024/en-cs-spring-2024.yml
  configs/spring-2024/en-da-spring-2024.yml
  configs/spring-2024/en-el-spring-2024.yml
  configs/spring-2024/en-fi-spring-2024.yml
  configs/spring-2024/en-hr-spring-2024.yml
  configs/spring-2024/en-hu-spring-2024.yml
  configs/spring-2024/en-id-spring-2024.yml
  configs/spring-2024/en-lt-spring-2024.yml
  configs/spring-2024/en-lv-spring-2024.yml
  configs/spring-2024/en-ro-spring-2024.yml
  configs/spring-2024/en-ru-spring-2024.yml
  configs/spring-2024/en-sk-spring-2024.yml
  configs/spring-2024/en-sl-spring-2024.yml
  configs/spring-2024/en-sr-spring-2024.yml
  configs/spring-2024/en-sv-spring-2024.yml
  configs/spring-2024/en-tr-spring-2024.yml
  configs/spring-2024/en-uk-spring-2024.yml
  configs/spring-2024/en-vi-spring-2024.yml
  configs/spring-2024/hr-en-spring-2024.yml
  configs/spring-2024/id-en-spring-2024.yml
  configs/spring-2024/lt-en-spring-2024.yml
  configs/spring-2024/lv-en-spring-2024.yml
  configs/spring-2024/ro-en-spring-2024.yml
  configs/spring-2024/ru-en-spring-2024.yml
  configs/spring-2024/sk-en-spring-2024.yml
  configs/spring-2024/sl-en-spring-2024.yml
  configs/spring-2024/sr-en-spring-2024.yml
  configs/spring-2024/sv-en-spring-2024.yml
  configs/spring-2024/tr-en-spring-2024.yml
  configs/spring-2024/uk-en-spring-2024.yml
  configs/spring-2024/vi-en-spring-2024.yml
Due: snakemake-dry-run

Remove duplicates
  configs/spring-2024/lv-en-spring-2024.yml
Due: snakemake-dry-run

Use pip-compile for tracking dependencies (#695)
  tracking/pyproject.toml
  tracking/requirements.in
  tracking/requirements.txt
Due: none

Rename tokenization function
  pipeline/alignments/align.py
  pipeline/alignments/tokenizer.py
Due: snakemake-dry-run, taskgraph-definition

Rename chunking parameter
  pipeline/alignments/align.py
  pipeline/alignments/tokenizer.py
Due: snakemake-dry-run, taskgraph-definition

Revert "Use pip-compile for tracking dependencies (#695)"
  tracking/pyproject.toml
  tracking/requirements.in
  tracking/requirements.txt
Due: none

Fix numpy issue
  poetry.lock
  tracking/pyproject.toml
Due: none

Upgrade group_logs metrics from online evaluation tasks
  pipeline/eval/eval.py
Due: snakemake-dry-run, taskgraph-definition

Support incrementing group_logs metrics table
  .gitignore
  pipeline/eval/eval.py
  tracking/translations_parser/wandb.py
Due: snakemake-dry-run, taskgraph-definition

Use real run name
  pipeline/eval/eval.py
Due: snakemake-dry-run, taskgraph-definition

Remove useless indent & fixes
  pipeline/eval/eval.py
Due: snakemake-dry-run, taskgraph-definition

Nits
  pipeline/eval/eval.py
Due: snakemake-dry-run, taskgraph-definition

Fix poetry lock (#706)
  poetry.lock
  tracking/pyproject.toml
  tracking/requirements.in
  tracking/requirements.txt
Due: none

Fix poetry lock (#706)
  tracking/pyproject.toml
  tracking/requirements.in
  tracking/requirements.txt
Due: none

Relock poetry
  poetry.lock
Due: none

Update ci config
  taskcluster/configs/config.ci.yml
Due: taskgraph-definition
