Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

snakemake-dry-run:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command:
    - bash
    - -c
  ...

taskgraph-definition:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    docker-image:
      in-tree: base
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: make validate-taskgraph

Use shorter names for URLs
  pipeline/common/datasets.py
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/translations_taskgraph/util/dataset_helpers.py
  tests/test_data_importer.py
  tests/test_eval.py
Due: snakemake-dry-run, taskgraph-definition

Use shorter names for URLs (#611)
  pipeline/common/datasets.py
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/translations_taskgraph/util/dataset_helpers.py
  tests/test_data_importer.py
  tests/test_eval.py
Due: snakemake-dry-run, taskgraph-definition

Change the caching strategy for teachers
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
Due: taskgraph-definition

Change the caching strategy for teachers (#606)
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
Due: taskgraph-definition

Remove duplicated arguments
  tracking/translations_parser/cli/taskcluster.py
Due: none

Extract w&b code into module
  pipeline/eval/eval.py
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/wandb.py
Due: snakemake-dry-run, taskgraph-definition

Fix running eval tracking on CI
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
Due: taskgraph-definition

Retrieve dataset from Taskcluster directly
  pipeline/eval/eval.py
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  tracking/translations_parser/utils.py
Due: snakemake-dry-run, taskgraph-definition

Do not check taskcluwter when publication is disabled
  tracking/translations_parser/wandb.py
Due: none

Configure evaluation tasks
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
Due: taskgraph-definition

Use args.wandb_run_name instead of default teacher
  pipeline/eval/eval.py
Due: snakemake-dry-run, taskgraph-definition

Publish evaluation metrics to W&B
  pipeline/eval/eval.py
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Add missing calls to publisher and logging
  pipeline/eval/eval.py
  taskcluster/kinds/evaluate-quantized/kind.yml
  tracking/translations_parser/publishers.py
Due: snakemake-dry-run, taskgraph-definition

Allow publishing metrics as a table on existing runs (i.e. previous trainings)
  pipeline/eval/eval.py
  tracking/translations_parser/publishers.py
Due: snakemake-dry-run, taskgraph-definition

WIP: try to use d2g for train-backwards
  taskcluster/kinds/train-backwards/kind.yml
Due: taskgraph-definition

add d2g variant workers for gpu workers
  taskcluster/config.yml
Due: taskgraph-definition

Custom cleaning (#547)
  docs/cleaning.md
  pipeline/clean/opuscleaner/clean-corpus.sh
  pipeline/clean/opuscleaner/configs/opus_LinguaTools-WikiTitles-v2014.filters.json
  pipeline/clean/opuscleaner/configs/opus_NLLB-v1.filters.json
  pipeline/clean/opuscleaner/configs/opus_OpenSubtitles-v2018.filters.json
  pipeline/clean/opuscleaner/configs/opus_UNPC-v1.0.filters.json
  pipeline/clean/opuscleaner/configs/opus_XLEnt-v1.2.filters.json
  pipeline/clean/opuscleaner/configs/ru-en/opus_ELRC-3075-wikipedia_health-v1.filters.json
  pipeline/clean/opuscleaner/configs/ru-en/opus_ELRC-3075-wikipedia_health-v1.ru-en.filters.json
  pipeline/clean/opuscleaner/generate_filters.py
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/clean-corpus/kind.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  tests/test_filters.py
Due: snakemake-dry-run, taskgraph-definition

Support news-crawl importer (#608)
  utils/find_corpus.py
Due: none

Add COMET to the evaluation (#587)
  Taskfile.yml
  pipeline/eval/eval.py
  pipeline/eval/requirements/eval.in
  pipeline/eval/requirements/eval.txt
  pyproject.toml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  tests/fixtures/__init__.py
  tests/test_eval.py
Due: snakemake-dry-run, taskgraph-definition

Add support for automatically continuing training from earlier runs of a Task (fixes #270) (#580)
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/scripts/pipeline/train_taskcluster.py
  tests/test_train_taskcluster.py
  utils/preflight_check.py
Due: taskgraph-definition

Parse tasks with label finetune-student (#609)
  tests/test_tracking_utils.py
  tracking/translations_parser/utils.py
Due: none

Ensure all of the task labels can be parsed in the task graph (#612)
  tests/test_tracking_utils.py
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/data.py
  tracking/translations_parser/publishers.py
  tracking/translations_parser/utils.py
Due: none

Fix comment
  pipeline/bicleaner/requirements/bicleaner-ai.in
Due: snakemake-dry-run, taskgraph-definition

Update regex to parse labels ending with '-1'
  tests/test_tracking_utils.py
  tracking/translations_parser/utils.py
Due: none

Generic support for train/eval different naming
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/utils.py
Due: none

Update tests
  tests/test_tracking_cli.py
  tests/test_tracking_utils.py
Due: none

Support disabled publication
  pipeline/eval/eval.py
Due: snakemake-dry-run, taskgraph-definition

Refactor group_log publication between online and offline taskcluster
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/utils.py
Due: none

Restore missing input-file argument
  tracking/translations_parser/cli/taskcluster.py
Due: none

Publish group_logs from taskcluster
  pipeline/train/train.sh
  tracking/translations_parser/cli/taskcluster.py
Due: snakemake-dry-run, taskgraph-definition

Rebase and fixes
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/utils.py
Due: none

Update tests
  tests/test_tracking_cli.py
Due: none

TRASHME test parameters to trigger train in CI
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Fix metrics_tasks default value
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/utils.py
Due: none

Support COMET metric in online publication
  pipeline/eval/eval.py
  tracking/translations_parser/data.py
  tracking/translations_parser/publishers.py
  tracking/translations_parser/utils.py
Due: snakemake-dry-run, taskgraph-definition

Upgrade to Bicleaner 3 (#604)
  pipeline/bicleaner/download_pack.py
  pipeline/bicleaner/requirements/bicleaner-ai.in
  pipeline/bicleaner/requirements/bicleaner-ai.txt
  taskcluster/docker/toolchain-build/Dockerfile
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/fetch/python.yml
  taskcluster/kinds/toolchain/kind.yml
  tests/test_bicleaner.py
Due: snakemake-dry-run, taskgraph-definition

Publish evaluation metrics (#598)
  pipeline/eval/eval.py
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  tests/test_tracking_cli.py
  tests/test_tracking_utils.py
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/publishers.py
  tracking/translations_parser/utils.py
  tracking/translations_parser/wandb.py
Due: snakemake-dry-run, taskgraph-definition

Enable publication
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Path conditions:
  snakemake-dry-run: any of: pipeline/**, envs/**, configs/**
  taskgraph-definition: any of: pipeline/**, taskcluster/**
