Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Remove unused downloading scripts
  pipeline/data/download-mono.sh
  pipeline/data/importers/corpus/custom-corpus.sh
  pipeline/data/importers/mono/commoncrawl.sh
  pipeline/data/importers/mono/custom-mono.sh
  pipeline/data/importers/mono/news-crawl.sh
  pipeline/data/importers/mono/paracrawl-mono.sh
Due: snakemake-dry-run, taskgraph-definition

Update tests for URL-based datasets
  tests/data/corpus_samples/pytest-dataset.en.zst
  tests/data/corpus_samples/pytest-dataset.ru.zst
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.yml
  tests/test_data_importer.py
Due: none

Add URL datasets to the taskgraph defaults
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Hook up the new URL datasets to the CI training run
  taskcluster/configs/config.ci.yml
Due: taskgraph-definition

Add URL-based datasets
  pipeline/common/datasets.py
  pipeline/common/downloads.py
  pipeline/data/download-corpus.sh
  pipeline/data/download-mono.py
  pipeline/data/importers/corpus/url.py
  taskcluster/kinds/dataset/kind.yml
  taskcluster/translations_taskgraph/util/dataset_helpers.py
Due: snakemake-dry-run, taskgraph-definition

Rename python to python3 and fix a test input
  pipeline/data/download-corpus.sh
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

Add the PYTHONPATH
  taskcluster/kinds/dataset/kind.yml
Due: taskgraph-definition

Add support for custom corpora through remote URLs (#420)
  docs/data.md
  docs/training-guide.md
  pipeline/common/datasets.py
  pipeline/common/downloads.py
  pipeline/data/download-corpus.sh
  pipeline/data/download-mono.py
  pipeline/data/download-mono.sh
  pipeline/data/importers/corpus/custom-corpus.sh
  pipeline/data/importers/corpus/url.py
  pipeline/data/importers/mono/commoncrawl.sh
  pipeline/data/importers/mono/custom-mono.sh
  pipeline/data/importers/mono/news-crawl.sh
  pipeline/data/importers/mono/paracrawl-mono.sh
  taskcluster/configs/config.ci.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/translations_taskgraph/parameters.py
  taskcluster/translations_taskgraph/util/dataset_helpers.py
  tests/data/corpus_samples/pytest-dataset.en.zst
  tests/data/corpus_samples/pytest-dataset.ru.zst
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.yml
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

Switch from fast_align to eflomal
  Makefile
  pipeline/alignments/generate-alignment-merged.sh
  pipeline/alignments/generate-alignment.sh
  pipeline/alignments/generate-shortlist.sh
  pipeline/alignments/requirements/alignments.in
  pipeline/alignments/requirements/alignments.txt
  poetry.lock
  pyproject.toml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/alignments-teacher/kind.yml
  taskcluster/kinds/shortlist/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Switch to spot instances
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/alignments-teacher/kind.yml
Due: taskgraph-definition

Switch to separate source and target input corpus
  pipeline/alignments/generate-alignment-merged.sh
  pipeline/alignments/generate-alignment.sh
  pipeline/alignments/generate-shortlist.sh
  tests/test_alignments.py
Due: snakemake-dry-run, taskgraph-definition

Use priors
  pipeline/alignments/generate-alignment-merged.sh
  pipeline/alignments/generate-alignment.sh
  pipeline/alignments/generate-shortlist.sh
  tests/test_alignments.py
Due: snakemake-dry-run, taskgraph-definition

Drive-by: Fix the logging of parameters in the downloads
  pipeline/common/downloads.py
Due: snakemake-dry-run, taskgraph-definition

Update utility to provide a default output path, and list all download modes
  utils/taskcluster_downloader.py
Due: none

Add a taskcluster downloader for models
  utils/taskcluster_downloader.py
Due: none

Add a taskcluster downloader for models (#475)
  pipeline/common/downloads.py
  utils/taskcluster_downloader.py
Due: snakemake-dry-run, taskgraph-definition

Rewrite alignments in Python and use priors
  pipeline/alignments/align.py
  pipeline/alignments/generate-alignment-merged.sh
  pipeline/alignments/generate-alignment.sh
  pipeline/alignments/generate-shortlist.sh
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  tests/test_alignments.py
Due: snakemake-dry-run, taskgraph-definition

Add python path
  pipeline/alignments/align.py
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Fix python
  pipeline/alignments/generate-shortlist.sh
Due: snakemake-dry-run, taskgraph-definition

Add python path
  taskcluster/kinds/shortlist/kind.yml
Due: taskgraph-definition

Specify source and target path
  pipeline/alignments/align.py
  pipeline/alignments/generate-shortlist.sh
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/tests/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Add shortlist test
  taskcluster/docker/test/Dockerfile
  tests/test_alignments.py
  utils/download-toolchain.sh
Due: taskgraph-definition

Fix typing
  pipeline/alignments/align.py
Due: snakemake-dry-run, taskgraph-definition

Fix paper link
  pipeline/data/dataset_importer.py
Due: snakemake-dry-run, taskgraph-definition

Add vocab
  tests/data/vocab.spm
Due: none

Add more libs
  taskcluster/docker/test/Dockerfile
Due: taskgraph-definition

Split run rules
  Makefile
Due: none

Add comment
  Makefile
Due: none

Fix shortlist kind
  taskcluster/kinds/shortlist/kind.yml
Due: taskgraph-definition

Compile toolchain locally
  Makefile
  docker/Dockerfile
  pipeline/setup/compile-marian.sh
  taskcluster/kinds/tests/kind.yml
  taskcluster/scripts/toolchain/build-marian.sh
  tests/test_alignments.py
  utils/download-toolchain.sh
Due: snakemake-dry-run, taskgraph-definition

Run linter
  pipeline/setup/compile-marian.sh
  tests/test_alignments.py
Due: snakemake-dry-run, taskgraph-definition

Fix condition
  pipeline/setup/compile-marian.sh
Due: snakemake-dry-run, taskgraph-definition

Add tests for alignments
  taskcluster/kinds/alignments/kind.yml
  tests/data/vocab.spm
  tests/test_alignments.py
Due: taskgraph-definition

Use toolchain in CI tests
  taskcluster/kinds/tests/kind.yml
Due: taskgraph-definition

Compile toolchain locally under Docker
  docker/Dockerfile
  pipeline/setup/compile-marian.sh
  taskcluster/scripts/toolchain/build-marian.sh
Due: snakemake-dry-run, taskgraph-definition

Add commands to build and run docker locally
  Makefile
  taskcluster/docker/test/Dockerfile
Due: taskgraph-definition

Trigger CI
  Makefile
Due: none

Install missing libs
  taskcluster/docker/test/Dockerfile
Due: taskgraph-definition

Fix downloading evals
  utils/taskcluster_downloader.py
Due: none

Fix compatibility
  utils/preflight_check.py
Due: none
