Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Remove inference/LICENSE
  inference/LICENSE
Due: none

Multiply comet score by 100 in online mode
  tracking/translations_parser/utils.py
Due: none

Add TODO for issue #869
  .gitmodules
Due: none

Actualize documentation about experiment tracking on Weight & Biases (#861)
  docs/img/tracking/experiment_config.png
  docs/img/tracking/group_logs_table.png
  docs/img/tracking/metrics.png
  docs/img/tracking/run_config.png
  docs/img/tracking/system_charts.png
  docs/img/tracking/training_charts.png
  docs/tracking.md
Due: none

Update config
  configs/spring-2024/en-el-spring-2024.yml
Due: snakemake-dry-run

Multiply comet score by 100 in online mode (#868)
  tracking/translations_parser/utils.py
Due: none

Disable student data augmentation
  pipeline/train/configs/opustrainer/student.yml
Due: snakemake-dry-run, taskgraph-definition

Fix shortlist pruning
  pipeline/alignments/prune_shortlist.py
Due: snakemake-dry-run, taskgraph-definition

Export IS_DOCKER from taskcluster/docker/base/Dockerfile
  taskcluster/docker/base/Dockerfile
Due: taskgraph-definition

Define Dockerfile for inference-related tasks in CI
  taskcluster/docker/inference/Dockerfile
  taskcluster/docker/inference/intel-mkl.list
  taskcluster/kinds/docker-image/kind.yml
  taskcluster/test/test_default_params.py
Due: taskgraph-definition

Refactor how inference tasks are run within docker
  Taskfile.yml
  inference/scripts/detect-docker.sh
Due: none

Rename "all*" kinds to "all*-pipeline"
  taskcluster/kinds/all-pipeline/kind.yml
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/test/test_default_params.py
  tests/test_preflight_check.py
Due: taskgraph-definition

Add taskcluster kind for inference
  taskcluster/kinds/inference/kind.yml
  taskcluster/translations_taskgraph/transforms/skip_unless_inference_changed.py
Due: taskgraph-definition

Revert "Disable student data augmentation"
  pipeline/train/configs/opustrainer/student.yml
Due: snakemake-dry-run, taskgraph-definition

Use student base config
  pipeline/train/configs/model/student.base.yml
  pipeline/train/configs/model/student.tiny.yml
Due: snakemake-dry-run, taskgraph-definition

temp: switch to temporary gpu worker image that issues dnsmasq to sanity check it
  taskcluster/config.yml
Due: taskgraph-definition

adjust bicleaner threshold to force pipeline run
  taskcluster/configs/config.ci.yml
Due: taskgraph-definition

force pipeline run
  pipeline/clean/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

force docker image rebuild to try to fix marian error
  taskcluster/docker/base/Dockerfile
Due: taskgraph-definition

bump cuda version
  taskcluster/kinds/fetch/toolchains.yml
Due: taskgraph-definition

Add student base configuration option
  docs/training-guide.md
  pipeline/train/configs/model/student.base.yml
  pipeline/train/configs/model/student.tiny.yml
  pipeline/train/train.py
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/scripts/pipeline/train-taskcluster.sh
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  tests/fixtures/config.pytest.yml
Due: snakemake-dry-run, taskgraph-definition

Reformat
  pipeline/train/train.py
Due: snakemake-dry-run, taskgraph-definition

Add the final changes to the spring-2024 training configs (#678)
  configs/spring-2024/bs-en-spring-2024.yml
  configs/spring-2024/cs-en-spring-2024.yml
  configs/spring-2024/da-en-spring-2024.yml
  configs/spring-2024/el-en-spring-2024.yml
  configs/spring-2024/en-bs-spring-2024.yml
  configs/spring-2024/en-cs-spring-2024.yml
  configs/spring-2024/en-da-spring-2024.yml
  configs/spring-2024/en-el-spring-2024.yml
  configs/spring-2024/en-fi-spring-2024.yml
  configs/spring-2024/en-hr-spring-2024.yml
  configs/spring-2024/en-hu-spring-2024.yml
  configs/spring-2024/en-id-spring-2024.yml
  configs/spring-2024/en-lt-spring-2024.yml
  configs/spring-2024/en-lv-spring-2024.yml
  configs/spring-2024/en-ro-spring-2024.yml
  configs/spring-2024/en-ru-spring-2024.yml
  configs/spring-2024/en-sk-spring-2024.yml
  configs/spring-2024/en-sl-spring-2024.yml
  configs/spring-2024/en-sr-spring-2024.yml
  configs/spring-2024/en-sv-spring-2024.yml
  configs/spring-2024/en-tr-spring-2024.yml
  configs/spring-2024/en-uk-spring-2024.yml
  configs/spring-2024/en-vi-spring-2024.yml
  configs/spring-2024/hr-en-spring-2024.yml
  configs/spring-2024/id-en-spring-2024.yml
  configs/spring-2024/lt-en-spring-2024.yml
  configs/spring-2024/lv-en-spring-2024.yml
  configs/spring-2024/ro-en-spring-2024.yml
  configs/spring-2024/ru-en-spring-2024.yml
  configs/spring-2024/sk-en-spring-2024.yml
  configs/spring-2024/sl-en-spring-2024.yml
  configs/spring-2024/sr-en-spring-2024.yml
  configs/spring-2024/sv-en-spring-2024.yml
  configs/spring-2024/tr-en-spring-2024.yml
  configs/spring-2024/uk-en-spring-2024.yml
  configs/spring-2024/vi-en-spring-2024.yml
Due: snakemake-dry-run

Rewrite merge-corpus into python
  pipeline/clean/merge-corpus.py
  pipeline/clean/merge-corpus.sh
  pipeline/clean/merge-mono.py
  taskcluster/configs/config.ci.yml
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/merge-devset/kind.yml
  taskcluster/translations_taskgraph/parameters.py
  tests/fixtures/__init__.py
  tests/test_merge_corpus.py
  tests/test_merge_mono.py
Due: snakemake-dry-run, taskgraph-definition

Give the lambda the current location when reading lines
  pipeline/common/downloads.py
  pipeline/data/importers/mono/hplt.py
Due: snakemake-dry-run, taskgraph-definition

Rename the merge-mono.txt requirements to just merge.txt
  pipeline/clean/requirements/merge.in
  pipeline/clean/requirements/merge.txt
  taskcluster/kinds/merge-mono/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Fix the logic for loading in requirements in run_task
  tests/fixtures/__init__.py
Due: none

Remove mistakenly committed code
  tests/fixtures/__init__.py
Due: none

Remove task defaults from merge-corpus and merge-devset
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/merge-devset/kind.yml
Due: taskgraph-definition

Separate out run method
  pipeline/clean/merge-corpus.py
  tests/fixtures/__init__.py
Due: snakemake-dry-run, taskgraph-definition

Add an encoding argument to read_lines
  pipeline/common/downloads.py
Due: snakemake-dry-run, taskgraph-definition

Merge corpus rewrite to python (#851)
  pipeline/clean/merge-corpus.py
  pipeline/clean/merge-corpus.sh
  pipeline/clean/merge-mono.py
  pipeline/clean/requirements/merge.in
  pipeline/clean/requirements/merge.txt
  pipeline/common/downloads.py
  pipeline/data/importers/mono/hplt.py
  taskcluster/configs/config.ci.yml
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/merge-devset/kind.yml
  taskcluster/kinds/merge-mono/kind.yml
  taskcluster/translations_taskgraph/parameters.py
  tests/fixtures/__init__.py
  tests/test_merge_corpus.py
  tests/test_merge_mono.py
Due: snakemake-dry-run, taskgraph-definition

Kick off training from the command line
  Taskfile.yml
  docs/task-cluster.md
  utils/trigger_training.py
Due: none

Rename train.py to trigger_training.py
  utils/trigger_training.py
Due: none

Add links to the experiment issue
  docs/training-guide.md
  taskcluster/configs/config.prod.yml
Due: taskgraph-definition

Update test configs
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
Due: taskgraph-definition

Use templating in cache resources
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/test/params/large-lt-en.yml
Due: taskgraph-definition

Add Inference Tasks to CI (#871)
  Taskfile.yml
  inference/scripts/detect-docker.sh
  taskcluster/docker/base/Dockerfile
  taskcluster/docker/inference/Dockerfile
  taskcluster/docker/inference/intel-mkl.list
  taskcluster/kinds/all-pipeline/kind.yml
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/docker-image/kind.yml
  taskcluster/kinds/inference/kind.yml
  taskcluster/test/test_default_params.py
  taskcluster/translations_taskgraph/transforms/skip_unless_inference_changed.py
  tests/test_preflight_check.py
Due: taskgraph-definition

Add student base configuration option (#881)
  docs/training-guide.md
  pipeline/train/configs/model/student.base.yml
  pipeline/train/configs/model/student.tiny.yml
  pipeline/train/train.py
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/scripts/pipeline/train-taskcluster.sh
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  tests/fixtures/config.pytest.yml
Due: snakemake-dry-run, taskgraph-definition
