Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Fix the opus test
  tests/test_find_corpus.py
Due: none

Skip publication
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Add a docker marker
  pyproject.toml
  tests/test_alignments.py
  tests/test_training.py
Due: none

Fix indentation
  taskcluster/kinds/dataset/kind.yml
Due: taskgraph-definition

Enable feature selection
  pipeline/clean/opusfilter/autogen.py
Due: snakemake-dry-run, taskgraph-definition

Tune simple rules separately
  pipeline/clean/opusfilter/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Add stats after stage 1
  pipeline/clean/opusfilter/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Fix decompressing
  pipeline/clean/opusfilter/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Replace print by sys.stdout.buffer.write
  tracking/translations_parser/parser.py
Due: none

Add missing wandb_publication parameter on finetune-student task.
  taskcluster/kinds/finetune-student/kind.yml
Due: taskgraph-definition

Apply on env
  taskcluster/kinds/finetune-student/kind.yml
Due: taskgraph-definition

Disable publication by default
  tracking/translations_parser/cli/taskcluster.py
Due: none

Add missing wandb_publication parameter on finetune-student task. (#555)
  taskcluster/kinds/finetune-student/kind.yml
  tracking/translations_parser/cli/taskcluster.py
Due: taskgraph-definition

Use a single process for scoring
  pipeline/clean/opusfilter/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Re-enable generic-worker for CPU tasks
  taskcluster/config.yml
Due: taskgraph-definition

Rename worker_env.py to the more general worker_selection.py to accommodate upcoming runtime worker selection work
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
  taskcluster/translations_taskgraph/transforms/worker_selection.py
Due: taskgraph-definition

allow runtime selection of worker classes through training config
  taskcluster/config.yml
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/analyze-corpus/kind.yml
  taskcluster/kinds/analyze-mono/kind.yml
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/cefilter/kind.yml
  taskcluster/kinds/clean-corpus/kind.yml
  taskcluster/kinds/clean-mono/kind.yml
  taskcluster/kinds/collect-corpus/kind.yml
  taskcluster/kinds/collect-mono-src/kind.yml
  taskcluster/kinds/collect-mono-trg/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/extract-best/kind.yml
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/merge-devset/kind.yml
  taskcluster/kinds/merge-mono/kind.yml
  taskcluster/kinds/merge-translated/kind.yml
  taskcluster/kinds/quantize/kind.yml
  taskcluster/kinds/shortlist/kind.yml
  taskcluster/kinds/split-corpus/kind.yml
  taskcluster/kinds/split-mono-src/kind.yml
  taskcluster/kinds/split-mono-trg/kind.yml
  taskcluster/kinds/tests/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/train-vocab/kind.yml
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  taskcluster/translations_taskgraph/transforms/worker_selection.py
  tests/fixtures/config.pytest.yml
Due: taskgraph-definition

Run tests on tracking changes
  taskcluster/kinds/tests/kind.yml
Due: taskgraph-definition

Set wandb-publication argument in publication tests args namespace
  tests/test_tracking_cli.py
Due: none

Fix unit tests
  tests/test_tracking_cli.py
Due: none

Add a docker marker (#557)
  pyproject.toml
  tests/test_alignments.py
  tests/test_training.py
Due: none

Update tracking unit tests to support new CLI parameter wandb_publication (#567)
  taskcluster/kinds/tests/kind.yml
  tests/test_tracking_cli.py
Due: taskgraph-definition

Report empty alignments separately
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Fix variable
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Disable custom configs
  pipeline/clean/opuscleaner/generate_filters.py
Due: snakemake-dry-run, taskgraph-definition

Do not pollute logs with alignments info
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Support parsing metrics directly from .metrics artifacts
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/publishers.py
Due: none

Update tests
  tests/test_tracking_cli.py
Due: none

Rebase
  tests/test_tracking_cli.py
Due: none

Replace print by sys.stdout.buffer.write (#560)
  tracking/translations_parser/parser.py
Due: none

Parse evaluation data from .metrics artifacts in taskcluster (#565)
  tests/test_tracking_cli.py
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/publishers.py
Due: none

Add worker config for snakepit machines
  taskcluster/config.yml
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

backout tracking patch
  taskcluster/kinds/finetune-student/kind.yml
  tracking/translations_parser/cli/taskcluster.py
Due: taskgraph-definition

temporarily disable publication
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Throw error if snakepit machines don't have GPUs or WORKSPACE set
  taskcluster/translations_taskgraph/transforms/worker_selection.py
Due: taskgraph-definition

fetch cuda in train backwards
  taskcluster/kinds/train-backwards/kind.yml
Due: taskgraph-definition

Use tsv
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Revert "Disable custom configs"
  pipeline/clean/opuscleaner/generate_filters.py
Due: snakemake-dry-run, taskgraph-definition

One stage training
  pipeline/train/configs/opustrainer/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

Fix proportions
  pipeline/train/configs/opustrainer/teacher.yml
Due: snakemake-dry-run, taskgraph-definition
