Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Add CI optimizations for training tasks (#240)
  taskcluster/ci/tests/kind.yml
Due: taskgraph-definition

Update docs/opus-trainer.md
  docs/opus-trainer.md
Due: none

Update pipeline/data/dataset_importer.py
  pipeline/data/dataset_importer.py
Due: snakemake-dry-run, taskgraph-definition

Sync opustrainer version
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  pipeline/train/requirements/train.in
Due: snakemake-dry-run, taskgraph-definition

Remove commented code
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Remove chmod
  taskcluster/ci/dataset/kind.yml
Due: taskgraph-definition

Replace to our issues
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

Add dataset examples
  pipeline/data/dataset_importer.py
Due: snakemake-dry-run, taskgraph-definition

Clarify arg
  pipeline/data/dataset_importer.py
Due: snakemake-dry-run, taskgraph-definition

Clarify error message
  pipeline/data/dataset_importer.py
Due: snakemake-dry-run, taskgraph-definition

Reformat
  pipeline/data/dataset_importer.py
Due: snakemake-dry-run, taskgraph-definition

Refactor dataset importer
  pipeline/data/dataset_importer.py
Due: snakemake-dry-run, taskgraph-definition

Add dataset example
  pipeline/data/dataset_importer.py
Due: snakemake-dry-run, taskgraph-definition

Add comment
  pipeline/data/dataset_importer.py
Due: snakemake-dry-run, taskgraph-definition

Add tests for data importer
  tests/test_data_importer.py
Due: none

Integrate tests
  Makefile
  docs/development.md
  poetry.lock
  pyproject.toml
  taskcluster/ci/tests/kind.yml
  taskcluster/docker/test/Dockerfile
Due: taskgraph-definition

Disable mono import and add file checks
  pipeline/data/dataset_importer.py
Due: snakemake-dry-run, taskgraph-definition

Increase range
  tests/test_data_importer.py
Due: none

Improve var check compatibility
  pipeline/data/download-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Change calling pytest
  Makefile
Due: none

Fix issue link
  pipeline/data/dataset_importer.py
Due: snakemake-dry-run, taskgraph-definition

Fix test run command
  Makefile
Due: none

Update todo
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Add doc to description
  pipeline/data/dataset_importer.py
Due: snakemake-dry-run, taskgraph-definition

Add more examples of using modifiers
  docs/opus-trainer.md
Due: none

Fix poetry env for tests
  Makefile
  poetry.lock
  pyproject.toml
Due: none

Add unzip to test env
  taskcluster/docker/test/Dockerfile
Due: taskgraph-definition

Don't mess with train-vocab
  taskcluster/ci/train-vocab/kind.yml
Due: taskgraph-definition

Don't evaluate jobs in `training_continuation.py`
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: taskgraph-definition

delete spm-vocab-taskcluster.sh
  taskcluster/scripts/pipeline/spm-vocab-taskcluster.sh
Due: taskgraph-definition
