Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Use real run name
  pipeline/eval/eval.py
Due: snakemake-dry-run, taskgraph-definition

Fix linting
  tracking/translations_parser/wandb.py
Due: none

Upgrade group_logs metrics from online evaluation tasks
  pipeline/eval/eval.py
Due: snakemake-dry-run, taskgraph-definition

fix: shorten non-URL dataset names that are more than 50 characters (fixes #654) (#712)
  pipeline/common/datasets.py
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  taskcluster/translations_taskgraph/parameters.py
  taskcluster/translations_taskgraph/util/dataset_helpers.py
Due: snakemake-dry-run, taskgraph-definition

Get rid of unnecessary 'task-defaults' in merge-corpus
  taskcluster/kinds/merge-corpus/kind.yml
Due: taskgraph-definition

Add bicleaner-taskgraph-merge task to collect bicleaner tasks and artifacts into a smaller number of tasks
  taskcluster/kinds/bicleaner-taskgraph-merge/kind.yml
  taskcluster/translations_taskgraph/transforms/from_datasets.py
Due: taskgraph-definition

merge-corpus: fetch bicleaner artifacts from `bicleaner-taskgraph-merge` tasks
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/translations_taskgraph/transforms/fetches_from_upstream.py
Due: taskgraph-definition

Support fetches in `dependencies_dummy`
  taskcluster/translations_taskgraph/transforms/dependency_dummies.py
Due: taskgraph-definition

Update ci config (#709)
  taskcluster/configs/config.ci.yml
Due: taskgraph-definition

Use unique names for W&B runs
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/publishers.py
  tracking/translations_parser/utils.py
  tracking/translations_parser/wandb.py
Due: none

Update tests
  tests/test_tracking_cli.py
Due: none

Update configs
  configs/spring-2024/bs-en-spring-2024.yml
  configs/spring-2024/cs-en-spring-2024.yml
  configs/spring-2024/da-en-spring-2024.yml
  configs/spring-2024/hr-en-spring-2024.yml
  configs/spring-2024/lt-en-spring-2024.yml
  configs/spring-2024/lv-en-spring-2024.yml
  configs/spring-2024/ro-en-spring-2024.yml
  configs/spring-2024/ru-en-spring-2024.yml
  configs/spring-2024/sk-en-spring-2024.yml
  configs/spring-2024/sl-en-spring-2024.yml
  configs/spring-2024/sr-en-spring-2024.yml
  configs/spring-2024/sv-en-spring-2024.yml
  configs/spring-2024/tr-en-spring-2024.yml
  configs/spring-2024/uk-en-spring-2024.yml
  configs/spring-2024/vi-en-spring-2024.yml
Due: snakemake-dry-run

Reduce learning rate
  configs/spring-2024/el-en-spring-2024.yml
Due: snakemake-dry-run

fix: pre-download fast text model in bicleaner.sh
  pipeline/bicleaner/bicleaner.sh
Due: snakemake-dry-run, taskgraph-definition

Update configs
  configs/spring-2024/en-hr-spring-2024.yml
  configs/spring-2024/en-lt-spring-2024.yml
  configs/spring-2024/en-lv-spring-2024.yml
  configs/spring-2024/en-ru-spring-2024.yml
  configs/spring-2024/en-sl-spring-2024.yml
  configs/spring-2024/sl-en-spring-2024.yml
Due: snakemake-dry-run

Fix online group_logs publication
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/utils.py
Due: none

Use task group ID suffix in offline publication from GCP old Snakemake experiments
  tests/test_tracking_cli.py
  tracking/translations_parser/cli/experiments.py
Due: none

Use task group ID suffix in offline publication from Taskcluster
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/publishers.py
  tracking/translations_parser/utils.py
  tracking/translations_parser/wandb.py
Due: none

Fix
  tracking/translations_parser/utils.py
Due: none

TRASHME Test publication from CI
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Revert "TRASHME Test publication from CI"
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Use unique run names in Weight & Biases (#727)
  tests/test_tracking_cli.py
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/publishers.py
  tracking/translations_parser/utils.py
  tracking/translations_parser/wandb.py
Due: none

Create Sardinian config
  configs/autogenerated/en-sc-sardinian.yml
  configs/autogenerated/sc-en-sardinian.yml
Due: snakemake-dry-run

Update configs
  configs/spring-2024/da-en-spring-2024.yml
  configs/spring-2024/el-en-spring-2024.yml
  configs/spring-2024/en-da-spring-2024.yml
  configs/spring-2024/en-hr-spring-2024.yml
  configs/spring-2024/en-lv-spring-2024.yml
  configs/spring-2024/en-ru-spring-2024.yml
  configs/spring-2024/en-sl-spring-2024.yml
  configs/spring-2024/id-en-spring-2024.yml
  configs/spring-2024/uk-en-spring-2024.yml
Due: snakemake-dry-run

Add en-hu and en-fi
  configs/spring-2024/en-fi-spring-2024.yml
  configs/spring-2024/en-hu-spring-2024.yml
Due: snakemake-dry-run

Update configs
  configs/spring-2024/en-da-spring-2024.yml
  configs/spring-2024/en-hu-spring-2024.yml
  configs/spring-2024/en-sk-spring-2024.yml
Due: snakemake-dry-run

Multiply comet metric by 100 before publication
  tracking/translations_parser/data.py
Due: none

Delete temporary files after successfully generating alignments
  pipeline/alignments/align.py
Due: snakemake-dry-run, taskgraph-definition

Add the first version of cjk configs
  configs/cjk/ja-en-cjk.yml
  configs/cjk/ko-en-cjk.yml
  configs/cjk/zh-en-cjk.yml
Due: snakemake-dry-run

Add a link to W&B dashboard
  README.md
Due: none

Add a link to W&B dashboard (#759)
  README.md
Due: none

Fix file context
  pipeline/alignments/align.py
Due: snakemake-dry-run, taskgraph-definition

Switch to smaller machines
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/shortlist/kind.yml
Due: taskgraph-definition

Add an extra task to recalculate priors
  taskcluster/config.yml
  taskcluster/kinds/alignments-priors/kind.yml
Due: taskgraph-definition

Rename priors task
  taskcluster/config.yml
  taskcluster/kinds/alignments-priors2/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
Due: taskgraph-definition

Switch to a smaller machine
  taskcluster/kinds/alignments-priors2/kind.yml
Due: taskgraph-definition

Update en-uk
  configs/spring-2024/en-uk-spring-2024.yml
Due: snakemake-dry-run

Update configs
  configs/spring-2024/en-sr-spring-2024.yml
  configs/spring-2024/en-vi-spring-2024.yml
Due: snakemake-dry-run

Use larger machine
  taskcluster/kinds/merge-translated/kind.yml
Due: taskgraph-definition

Update config
  configs/spring-2024/el-en-spring-2024.yml
Due: snakemake-dry-run
