Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

snakemake-dry-run:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command:
    - bash
    - -c
  ...

taskgraph-definition:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    docker-image:
      in-tree: base
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: make validate-taskgraph

Add vitest infrastructure for WASM CI tests
  inference/wasm/tests/.gitignore
  inference/wasm/tests/package-lock.json
  inference/wasm/tests/package.json
  inference/wasm/tests/stub.test.js
Due: none

Remove unused WASM test-page files
  inference/wasm/module/main.js
  inference/wasm/module/package.json
  inference/wasm/module/translator.js
  inference/wasm/module/worker/package.json
  inference/wasm/module/worker/translator-worker.js
  inference/wasm/node-test.js
  inference/wasm/test_page/bergamot-httpserver.js
  inference/wasm/test_page/css/index.css
  inference/wasm/test_page/index.html
  inference/wasm/test_page/js/index.js
  inference/wasm/test_page/logos.png
  inference/wasm/test_page/package-lock.json
  inference/wasm/test_page/package.json
  inference/wasm/test_page/start_server.sh
Due: none

Setup WASM test infrastructure for CI (#920)
  Taskfile.yml
  inference/scripts/unit-tests.sh
  inference/wasm/module/main.js
  inference/wasm/module/package.json
  inference/wasm/module/translator.js
  inference/wasm/module/worker/package.json
  inference/wasm/module/worker/translator-worker.js
  inference/wasm/node-test.js
  inference/wasm/test_page/bergamot-httpserver.js
  inference/wasm/test_page/css/index.css
  inference/wasm/test_page/index.html
  inference/wasm/test_page/js/index.js
  inference/wasm/test_page/logos.png
  inference/wasm/test_page/package-lock.json
  inference/wasm/test_page/package.json
  inference/wasm/test_page/start_server.sh
  inference/wasm/tests/.gitignore
  inference/wasm/tests/package-lock.json
  inference/wasm/tests/package.json
  inference/wasm/tests/stub.test.js
  taskcluster/kinds/inference/kind.yml
  utils/tasks/docker-run.py
Due: taskgraph-definition

Rewrite translate.sh to python
  pipeline/common/command_runner.py
  pipeline/common/downloads.py
  pipeline/translate/decoder.yml
  pipeline/translate/translate.py
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
  tests/fixtures/__init__.py
  tests/test_translate.py
Due: snakemake-dry-run, taskgraph-definition

Add a requirements file for ctranslate2
  pipeline/translate/requirements/translate-ctranslate2.in
  pipeline/translate/requirements/translate-ctranslate2.txt
Due: snakemake-dry-run, taskgraph-definition

Consolidate .gitignore file to inference directory
  inference/.gitignore
  inference/wasm/tests/.gitignore
Due: none

Add eslint to project
  inference/wasm/tests/eslint.config.mjs
  inference/wasm/tests/package-lock.json
  inference/wasm/tests/package.json
Due: none

Add new lint tasks for eslint
  Taskfile.yml
  taskcluster/kinds/tests/kind.yml
Due: taskgraph-definition

Rename bergamot-translator directive to bergamot-translator-source
  inference/CMakeLists.txt
  inference/src/tests/CMakeLists.txt
  inference/src/tests/units/CMakeLists.txt
  inference/src/translator/CMakeLists.txt
  inference/wasm/CMakeLists.txt
Due: none

Rename bergamot-translator-worker directive to bergamot-tarnslator
  inference/wasm/CMakeLists.txt
  inference/wasm/patch-artifacts-import-gemm-module.sh
Due: none

Move thread-count default logic into build_wasm.py
  Taskfile.yml
  inference/scripts/build-wasm.py
Due: none

Add support for ctranslate2
  pipeline/translate/translate.py
  pipeline/translate/translate_ctranslate2.py
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.yml
  tests/test_ctranslate2.py
Due: snakemake-dry-run, taskgraph-definition

Prepare Bergamot module for mozilla-unified in build-bergamot.py
  inference/scripts/build-wasm.py
Due: none

Add Typescript bindings the for Bergamot
  inference/wasm/bindings/bergamot-translator.d.ts
Due: none

Add support for `git-lfs` to base docker image
  taskcluster/docker/base/Dockerfile
  taskcluster/docker/base/known_hosts
  utils/tasks/docker-build.sh
Due: taskgraph-definition

Add test-wasm.py script
  inference/scripts/test-wasm.py
Due: none

Add a subset of models for testing using `git-lfs`
  .gitattributes
  inference/wasm/tests/models/enes/lex.50.50.enes.s2t.bin.gz
  inference/wasm/tests/models/enes/model.enes.intgemm.alphas.bin.gz
  inference/wasm/tests/models/enes/vocab.enes.spm.gz
  inference/wasm/tests/models/enfr/lex.50.50.enfr.s2t.bin.gz
  inference/wasm/tests/models/enfr/model.enfr.intgemm.alphas.bin.gz
  inference/wasm/tests/models/enfr/vocab.enfr.spm.gz
  inference/wasm/tests/models/esen/lex.50.50.esen.s2t.bin.gz
  inference/wasm/tests/models/esen/model.esen.intgemm.alphas.bin.gz
  inference/wasm/tests/models/esen/vocab.esen.spm.gz
  inference/wasm/tests/models/fren/lex.50.50.fren.s2t.bin.gz
  inference/wasm/tests/models/fren/model.fren.intgemm.alphas.bin.gz
  inference/wasm/tests/models/fren/vocab.fren.spm.gz
Due: none

Extract test models from archives in test-wasm.py
  inference/.gitignore
  inference/scripts/clean.sh
  inference/scripts/test-wasm.py
Due: none

Add Web Worker simulation infrastructure
  inference/wasm/tests/engine/worker-global-scope-simulator.mjs
Due: none

Copy WASM build artifacts to test directory in test-wasm.py
  inference/scripts/clean.sh
  inference/scripts/test-wasm.py
Due: none

Add Translations Engine and worker implementation
  inference/wasm/tests/engine/translations-engine.mjs
  inference/wasm/tests/engine/translations-engine.worker.mjs
Due: none

Add test cases for current translations WASM bindings
  inference/wasm/tests/stub.test.js
  inference/wasm/tests/test-cases/shared.mjs
  inference/wasm/tests/test-cases/translate-html-no-pivot.test.mjs
  inference/wasm/tests/test-cases/translate-html-with-pivot.test.mjs
  inference/wasm/tests/test-cases/translate-plain-text-no-pivot.test.mjs
  inference/wasm/tests/test-cases/translate-plain-text-with-pivot.test.mjs
  inference/wasm/tests/vitest.config.mjs
Due: none

Produce hash of generated JS in test-wasm.py
  inference/.gitignore
  inference/scripts/clean.sh
  inference/scripts/test-wasm.py
Due: none

Add ctranslate2 to pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

Use the ctranslate2 decoder in CI
  taskcluster/configs/config.ci.yml
Due: taskgraph-definition

Add auto-generated config
  configs/experiments-H2-2024/da-en-distill-inference.yml
Due: snakemake-dry-run

Match the previous da-en config
  configs/experiments-H2-2024/da-en-distill-inference.yml
Due: snakemake-dry-run

Add ctranslate2 to pyproject.toml
  pipeline/translate/requirements/translate-ctranslate2.in
  pipeline/translate/requirements/translate-ctranslate2.txt
  poetry.lock
  pyproject.toml
Due: snakemake-dry-run, taskgraph-definition

distill-inference-batch-4000
  configs/experiments-H2-2024/da-en-distill-inference.yml
Due: snakemake-dry-run

Add logging for translations
  pipeline/common/logging.py
  pipeline/translate/translate.py
  pipeline/translate/translate_ctranslate2.py
Due: snakemake-dry-run, taskgraph-definition

distill-e2e config
  configs/experiments-H2-2024/da-en-distill-inference.yml
Due: snakemake-dry-run

[skip ci] Fix typo in the rebuild docker-images/toolchains docs
  docs/task-cluster.md
Due: none

ctranslate config
  configs/experiments-H2-2024/da-en-distill-inference.yml
Due: snakemake-dry-run

Adjust default values for batching
  pipeline/translate/decoder.yml
  taskcluster/configs/config.prod.yml
Due: snakemake-dry-run, taskgraph-definition

Adjust default values for batching (#934)
  pipeline/translate/decoder.yml
  taskcluster/configs/config.prod.yml
Due: snakemake-dry-run, taskgraph-definition

Parallelize alignments
  configs/experiments-H2-2024/da-en-distill-inference.yml
  pipeline/alignments/align.py
Due: snakemake-dry-run, taskgraph-definition

Path conditions:
  snakemake-dry-run: any of: pipeline/**, envs/**, configs/**
  taskgraph-definition: any of: pipeline/**, taskcluster/**
