Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Remove compression options - Update .sh files
  pipeline/alignments/generate-shortlist.sh
  pipeline/bicleaner/bicleaner.sh
  pipeline/cefilter/ce-filter.sh
  pipeline/cefilter/score.sh
  pipeline/clean/clean-corpus.sh
  pipeline/clean/clean-mono.sh
  pipeline/clean/merge-corpus.sh
  pipeline/clean/opuscleaner/clean-corpus.sh
  pipeline/data/importers/corpus/flores.sh
  pipeline/data/importers/corpus/mtdata.sh
  pipeline/data/importers/corpus/opus.sh
  pipeline/data/importers/corpus/sacrebleu.sh
  pipeline/train/spm-vocab.sh
  pipeline/train/train.sh
  pipeline/translate/collect.sh
  pipeline/translate/merge-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Add tests for read_lines and write_liens
  tests/test_read_lines.py
Due: none

Add smart utilities to read and write lines
  pipeline/common/downloads.py
Due: snakemake-dry-run, taskgraph-definition

Avoid duplicating shuffled data in memory by using a ring buffer
  pipeline/common/datasets.py
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

Fix reading remote plain text files
  pipeline/common/downloads.py
Due: snakemake-dry-run, taskgraph-definition

Add a memory logger
  pipeline/clean/merge-mono.py
  pipeline/clean/requirements/merge-mono.in
  pipeline/clean/requirements/merge-mono.txt
  pipeline/common/__init__.py
  pipeline/common/downloads.py
  pipeline/common/memory.py
Due: snakemake-dry-run, taskgraph-definition

Remove compression options - Update .py files
  pipeline/alignments/align.py
  pipeline/bicleaner/download_pack.py
  pipeline/common/downloads.py
  pipeline/data/dataset_importer.py
  pipeline/eval/eval.py
  pipeline/translate/splitter.py
  tests/test_alignments.py
  tests/test_bicleaner.py
  tests/test_data_importer.py
  tests/test_eval.py
  tests/test_split_collect.py
  tests/test_spm_vocab.py
  tests/test_training.py
Due: snakemake-dry-run, taskgraph-definition

Rename all commands to use $TASK_WORKDIR/artifacts rather than an absolute path
  taskcluster/kinds/cefilter/kind.yml
  taskcluster/kinds/clean-corpus/kind.yml
  taskcluster/kinds/clean-mono/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/extract-best/kind.yml
  taskcluster/kinds/merge-translated/kind.yml
  taskcluster/kinds/quantize/kind.yml
  taskcluster/kinds/split-corpus/kind.yml
  taskcluster/kinds/split-mono-src/kind.yml
  taskcluster/kinds/split-mono-trg/kind.yml
  taskcluster/kinds/tests/kind.yml
Due: taskgraph-definition

Split run_task commands on ampersand
  tests/fixtures/__init__.py
Due: none

Remove the compression commands from splitter.py
  pipeline/common/downloads.py
  pipeline/translate/splitter.py
Due: snakemake-dry-run, taskgraph-definition

Add a way to hook into when read_lines switches locations
  pipeline/common/downloads.py
Due: snakemake-dry-run, taskgraph-definition

Add split corpus test
  pipeline/translate/splitter.py
  taskcluster/kinds/split-corpus/kind.yml
  tests/test_split_collect.py
  tests/test_split_corpus.py
Due: snakemake-dry-run, taskgraph-definition

Add hplt test data
  tests/data/corpus_samples/hplt-en_100.jsonl.zst
  tests/data/corpus_samples/hplt-en_101.jsonl.zst
  tests/data/corpus_samples/hplt-en_map.txt
  tests/data/corpus_samples/hplt-ru_10.jsonl.zst
  tests/data/corpus_samples/hplt-ru_11.jsonl.zst
  tests/data/corpus_samples/hplt-ru_map.txt
Due: none

Provide a way to create a test fixture file with a list of strings
  tests/fixtures/__init__.py
Due: none

Simplify the hplt importer
  pipeline/common/datasets.py
  pipeline/data/importers/mono/hplt.py
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

Ensure we always export the VCS_PATH into the PYTHONPATH
  taskcluster/kinds/analyze-corpus/kind.yml
  taskcluster/kinds/analyze-mono/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/extract-best/kind.yml
  taskcluster/kinds/split-corpus/kind.yml
  taskcluster/kinds/split-mono-src/kind.yml
  taskcluster/kinds/split-mono-trg/kind.yml
Due: taskgraph-definition

Add a min-fluency-threshold to monolingual datasets
  pipeline/data/download-mono.py
  taskcluster/configs/config.prod.yml
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
  taskcluster/translations_taskgraph/parameters.py
  tests/data/experiments_1_10/experiments/en-nl/prod/config.yml
  tests/data/experiments_1_12/experiments/fi-en/opusprod/config.yml
  tests/fixtures/config.pytest.yml
Due: snakemake-dry-run, taskgraph-definition

Rework the HPLT importer
  pipeline/common/datasets.py
  pipeline/data/download-mono.py
  pipeline/data/importers/mono/hplt.py
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

Add an HPLT monolingual data importer
  pipeline/common/datasets.py
  pipeline/data/download-mono.py
  pipeline/data/importers/mono/hplt.py
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  taskcluster/configs/config.ci.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/translations_taskgraph/parameters.py
  tests/fixtures/config.pytest.yml
Due: snakemake-dry-run, taskgraph-definition

Add tests for hplt data importers
  tests/fixtures/__init__.py
  tests/test_data_importer.py
Due: none

Add requirements files for python code that uses requests
  pipeline/alignments/requirements/alignments.in
  pipeline/alignments/requirements/alignments.txt
  pipeline/translate/requirements/splitter.in
  pipeline/translate/requirements/splitter.txt
  taskcluster/kinds/split-corpus/kind.yml
  taskcluster/kinds/split-mono-src/kind.yml
  taskcluster/kinds/split-mono-trg/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Add support for HPLT and OPUS monolingual data in the config generator
  pipeline/common/downloads.py
  pipeline/data/importers/mono/hplt.py
  utils/config_generator.py
  utils/find_corpus.py
Due: snakemake-dry-run, taskgraph-definition

Add en-lt experiment config
  configs/autogenerated/en-lt-experiments-2024-H2.yml
  configs/experiments-2024-H2/en-lt-experiments-2024-H2-hplt-nllb.yml
  configs/experiments-2024-H2/en-lt-experiments-2024-H2.yml
Due: snakemake-dry-run

Add known bad datasets and failures to the config generator
  utils/config_generator.py
Due: none

Trigger CI
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Add group ID suffix to group_logs metrics published from online evaluation tasks
  pipeline/eval/eval.py
  tracking/translations_parser/publishers.py
Due: snakemake-dry-run, taskgraph-definition

Rewrite merge mono and add support for an OPUS monolingual importer (#787)
  pipeline/clean/merge-mono.py
  pipeline/clean/merge-mono.sh
  pipeline/clean/requirements/merge-mono.in
  pipeline/clean/requirements/merge-mono.txt
  pipeline/common/datasets.py
  pipeline/common/downloads.py
  pipeline/data/download-mono.py
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/merge-mono/kind.yml
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  tests/data/experiments_1_10/experiments/en-nl/prod/config.yml
  tests/data/experiments_1_12/experiments/fi-en/opusprod/config.yml
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.yml
  tests/test_data_importer.py
  tests/test_merge_mono.py
  tests/test_read_lines.py
Due: snakemake-dry-run, taskgraph-definition

Add group ID suffix to group_logs metrics published from online evaluation tasks (#820)
  pipeline/eval/eval.py
  tracking/translations_parser/publishers.py
Due: snakemake-dry-run, taskgraph-definition

Pass W&B suffix to publish_group_logs (offline experiments) (#818)
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/utils.py
Due: none

Fix training and model key detection
  taskcluster/translations_taskgraph/parameters.py
  tracking/translations_parser/parser.py
Due: taskgraph-definition

TRASHME: Trigger publication from CI
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Revert "TRASHME: Trigger publication from CI"
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Publish Marian/OpusTrainer configuration YAMLs and dataset statistics (#720)
  tests/test_tracking_cli.py
  tracking/translations_parser/parser.py
  tracking/translations_parser/publishers.py
  tracking/translations_parser/utils.py
Due: none

backport get_ancestors fix to ignore 404 errors
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

fix: don't run evaluate tasks on pretrained models
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/test/test_training_continuation_teacher.py
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: taskgraph-definition

Fix missing dependency in task train
  Taskfile.yml
Due: none
