Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Rename internal references to the repo
  docs/_config.yml
  docs/cleaning.md
  docs/data.md
  docs/opus-trainer.md
  docs/pipeline-steps.md
  docs/snakemake.md
  docs/task-cluster.md
  docs/training-guide.md
  docs/using-pretrained-models.md
  pipeline/clean/requirements/clean.in
  pipeline/common/datasets.py
  pipeline/train/spm-vocab.sh
  pyproject.toml
  taskcluster/config.yml
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/tests/kind.yml
  taskcluster/scripts/pipeline/train_taskcluster.py
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
  taskcluster/test/test_training_continuation_backwards.py
  taskcluster/test/test_training_continuation_teacher.py
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/util/dataset_helpers.py
  tracking/translations_parser/utils.py
  utils/config_generator.py
  utils/preflight_check.py
  utils/trigger_training.py
Due: snakemake-dry-run, taskgraph-definition

Rename docker tags following repository rename
  utils/tasks/docker-build.sh
  utils/tasks/docker-run.py
Due: none

Rename docker tags following repository rename (#916)
  utils/tasks/docker-build.sh
  utils/tasks/docker-run.py
Due: none

Update the configs
  configs/experiments-H2-2024/en-lt-decoder.yml
  utils/trigger_training.py
Due: snakemake-dry-run

decoder-tiny
  configs/experiments-H2-2024/en-lt-decoder.yml
Due: snakemake-dry-run

Change opustrainer log level
  pipeline/train/train.py
Due: snakemake-dry-run, taskgraph-definition

WIP
  configs/experiments-H2-2024/en-lt-decoder.yml
Due: snakemake-dry-run

Resort to training continuation
  configs/experiments-H2-2024/en-lt-decoder.yml
Due: snakemake-dry-run

Add better support for reporting training continuation values
  docs/using-pretrained-models.md
  utils/trigger_training.py
Due: none

Update the all-pipeline values
  docs/task-cluster.md
  taskcluster/config.yml
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
  taskcluster/test/params/large-lt-en.yml
  tests/fixtures/config.pytest.yml
Due: taskgraph-definition

Add missing group ids
  configs/experiments-H2-2024/en-lt-decoder.yml
Due: snakemake-dry-run

experiment: decoder-tiny
  configs/experiments-H2-2024/en-lt-decoder.yml
Due: snakemake-dry-run

experiment: decoder-depth-6
  configs/experiments-H2-2024/en-lt-decoder.yml
Due: snakemake-dry-run

experiment: decoder-emb-bigger
  configs/experiments-H2-2024/en-lt-decoder.yml
Due: snakemake-dry-run

experiment: decoder-depth-3
  configs/experiments-H2-2024/en-lt-decoder.yml
Due: snakemake-dry-run

experiment: decoder-base
  configs/experiments-H2-2024/en-lt-decoder.yml
Due: snakemake-dry-run

Clarify comment
  utils/config_generator.py
Due: none

Rename bestbleu to extract_best
  pipeline/translate/extract_best.py
  pipeline/translate/requirements/extract_best.in
  pipeline/translate/requirements/extract_best.txt
  snakemake/Snakefile
  taskcluster/kinds/extract-best/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Use full argument names
  taskcluster/kinds/extract-best/kind.yml
Due: taskgraph-definition

Fix shortlist pruning for CJK (#909)
  pipeline/alignments/prune_shortlist.py
Due: snakemake-dry-run, taskgraph-definition

Add tests for extract best
  tests/test_extract_best.py
Due: none

Switch bestbleu to chrF (#908)
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  pipeline/translate/extract_best.py
  pipeline/translate/requirements/extract_best.in
  pipeline/translate/requirements/extract_best.txt
  poetry.lock
  pyproject.toml
  snakemake/Snakefile
  taskcluster/docker/toolchain-build/Dockerfile
  taskcluster/docker/train/Dockerfile
  taskcluster/kinds/extract-best/kind.yml
  tests/test_extract_best.py
  tests/test_find_corpus.py
  utils/config_generator.py
  utils/find_corpus.py
Due: snakemake-dry-run, taskgraph-definition

Nits
  pipeline/data/cjk.py
Due: snakemake-dry-run, taskgraph-definition

Relock packages
  pipeline/data/requirements/data.txt
  poetry.lock
Due: snakemake-dry-run, taskgraph-definition

Use arguments instead of env vars
  pipeline/data/dataset_importer.py
  taskcluster/kinds/dataset/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Add cjk modifier to the docs
  docs/opus-trainer.md
Due: none

Update config generator
  pipeline/data/cjk.py
  utils/config_generator.py
Due: snakemake-dry-run, taskgraph-definition

Parametrize test
  tests/test_data_importer.py
Due: none

Fix formatting
  tests/test_data_importer.py
Due: none

Add zh test cases
  tests/data/corpus_samples/flores101_dataset.tar.gz
  tests/data/corpus_samples/pytest-dataset.zh.gz
  tests/fixtures/__init__.py
  tests/test_data_importer.py
Due: none

Use dataset statistics to output convertion stats json
  pipeline/data/cjk.py
  pipeline/data/dataset_importer.py
  pipeline/data/download-mono.py
Due: snakemake-dry-run, taskgraph-definition

Revert "Change character coverage for CJK"
  pipeline/train/spm-vocab.sh
  taskcluster/kinds/train-vocab/kind.yml
  tests/test_spm_vocab.py
Due: snakemake-dry-run, taskgraph-definition

Use default sentencepiece character coverage
  pipeline/train/spm-vocab.sh
Due: snakemake-dry-run, taskgraph-definition

Ensure npm is available in `local` and `inference` Docker images
  docker/Dockerfile
  taskcluster/docker/inference/Dockerfile
Due: taskgraph-definition

Ensure npm is available in `local` and `inference` Docker images (#921)
  docker/Dockerfile
  taskcluster/docker/inference/Dockerfile
Due: taskgraph-definition

Add --run-as-user flag to docker-run.py
  utils/tasks/docker-run.py
Due: none

Fix cjk test
  tests/test_cjk.py
Due: none

Fix args
  taskcluster/kinds/dataset/kind.yml
Due: taskgraph-definition
