Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Bump to taskgraph 7.0
  taskcluster/requirements.in
  taskcluster/requirements.txt
Due: taskgraph-definition

Don't run taskgraph-diff on pushes
  taskcluster/kinds/tests/kind.yml
Due: taskgraph-definition

do not land: try out new gpu worker images
  taskcluster/config.yml
  taskcluster/kinds/all-pr/kind.yml
  taskcluster/translations_taskgraph/target_tasks.py
Due: taskgraph-definition

Remove old TODO for chunks
  taskcluster/kinds/split-mono-src/kind.yml
  taskcluster/kinds/split-mono-trg/kind.yml
Due: taskgraph-definition

Don't run taskgraph-diff on pushes (#321)
  taskcluster/kinds/tests/kind.yml
Due: taskgraph-definition

Update skip_unless_pipeline_changed transform with new path to kinds
  taskcluster/translations_taskgraph/transforms/skip_unless_pipeline_changed.py
Due: taskgraph-definition

Remove old TODO for chunks (#327)
  taskcluster/kinds/split-mono-src/kind.yml
  taskcluster/kinds/split-mono-trg/kind.yml
Due: taskgraph-definition

Update skip_unless_pipeline_changed transform with new path to kinds (#328)
  taskcluster/translations_taskgraph/transforms/skip_unless_pipeline_changed.py
Due: taskgraph-definition

Disable back translations
  pipeline/train/configs/opustrainer/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

Update interactive task documentation to work with docker-worker & generic-worker
  docs/task-cluster.md
Due: none

Add the zstandard library for testing compressed files in the pipeline
  poetry.lock
  pyproject.toml
Due: none

Taskcluster can provide "None" as an argument and break the vocab size script
  pipeline/train/spm-vocab.sh
Due: snakemake-dry-run, taskgraph-definition

Fix linting issues
  tests/fixtures/__init__.py
  tests/test_data_importer.py
Due: none

Update the tests to use the DataDir class
  tests/test_data_importer.py
  tests/test_split_collect.py
Due: none

Add a test for the train vocab step
  tests/fixtures/__init__.py
  tests/fixtures/spm_train
  tests/test_spm_vocab.py
Due: none

Fix the vocab training script for Taskcluster (#326)
  pipeline/train/spm-vocab.sh
  poetry.lock
  pyproject.toml
  tests/fixtures/__init__.py
  tests/fixtures/spm_train
  tests/test_data_importer.py
  tests/test_split_collect.py
  tests/test_spm_vocab.py
Due: snakemake-dry-run, taskgraph-definition

Update interactive task documentation to work with docker-worker & generic-worker (#329)
  docs/task-cluster.md
Due: none

Check output
  pipeline/train/configs/opustrainer/teacher.yml
  pipeline/train/train2.sh
  taskcluster/ci/train-teacher/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Add trainer command
  pipeline/train/train2.sh
Due: snakemake-dry-run, taskgraph-definition

Add downloading evals from Taskcluster
  Makefile
  utils/tc_marian_logs.py
Due: none

Disable augmentation for teacher
  pipeline/train/configs/opustrainer/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

Rename downloader and add comments
  Makefile
  utils/taskcluster_downloader.py
Due: none

Add downloading evals from Taskcluster (#335)
  Makefile
  utils/taskcluster_downloader.py
  utils/tc_marian_logs.py
Due: none

Delete in-tree docker_image and fetch transforms
  taskcluster/kinds/docker-image/kind.yml
  taskcluster/kinds/fetch/kind.yml
  taskcluster/translations_taskgraph/transforms/docker_image.py
  taskcluster/translations_taskgraph/transforms/fetch.py
Due: taskgraph-definition

Set default task-expires-after to 90 days
  taskcluster/config.yml
Due: taskgraph-definition

Use default task-expires-after to set expires-after
  taskcluster/kinds/all-pr/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/cefilter/kind.yml
  taskcluster/kinds/clean-corpus/kind.yml
  taskcluster/kinds/clean-mono/kind.yml
  taskcluster/kinds/collect-corpus/kind.yml
  taskcluster/kinds/collect-mono-src/kind.yml
  taskcluster/kinds/collect-mono-trg/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/extract-best/kind.yml
  taskcluster/kinds/fetch/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/merge-devset/kind.yml
  taskcluster/kinds/merge-mono/kind.yml
  taskcluster/kinds/merge-translated/kind.yml
  taskcluster/kinds/quantize/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/split-corpus/kind.yml
  taskcluster/kinds/split-mono-src/kind.yml
  taskcluster/kinds/split-mono-trg/kind.yml
  taskcluster/kinds/tests/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/train-vocab/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
Due: taskgraph-definition

Use Taskgraph 7.1.0
  taskcluster/requirements.txt
Due: taskgraph-definition

Upgrade Taskgraph and cleanup firefox-translations-training (#341)
  taskcluster/config.yml
  taskcluster/kinds/all-pr/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/cefilter/kind.yml
  taskcluster/kinds/clean-corpus/kind.yml
  taskcluster/kinds/clean-mono/kind.yml
  taskcluster/kinds/collect-corpus/kind.yml
  taskcluster/kinds/collect-mono-src/kind.yml
  taskcluster/kinds/collect-mono-trg/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/docker-image/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/extract-best/kind.yml
  taskcluster/kinds/fetch/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/merge-devset/kind.yml
  taskcluster/kinds/merge-mono/kind.yml
  taskcluster/kinds/merge-translated/kind.yml
  taskcluster/kinds/quantize/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/split-corpus/kind.yml
  taskcluster/kinds/split-mono-src/kind.yml
  taskcluster/kinds/split-mono-trg/kind.yml
  taskcluster/kinds/tests/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/train-vocab/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
  taskcluster/requirements.txt
  taskcluster/translations_taskgraph/transforms/docker_image.py
  taskcluster/translations_taskgraph/transforms/fetch.py
Due: taskgraph-definition

Update train.py
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Adjust opus trainer settings
  pipeline/train/configs/opustrainer/backward.yml
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

Fix optimizer delay
  pipeline/train/configs/training/teacher.train.yml
Due: snakemake-dry-run, taskgraph-definition

Update and enable opuscleaner
  envs/opuscleaner.yml
  pipeline/clean/requirements/clean.in
  pipeline/clean/requirements/clean.txt
  poetry.lock
  pyproject.toml
  taskcluster/translations_taskgraph/parameters.py
Due: snakemake-dry-run, taskgraph-definition

Remove comment
  pyproject.toml
Due: none

Fail schema validation if unknown properties are passed into `pretrained-models`
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Fail schema validation if unknown properties are passed into `pretrained-models` (#351)
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Fix install opuscleaner (#350)
  envs/opuscleaner.yml
  pipeline/clean/requirements/clean.in
  pipeline/clean/requirements/clean.txt
  poetry.lock
  pyproject.toml
  taskcluster/translations_taskgraph/parameters.py
Due: snakemake-dry-run, taskgraph-definition

Use default learning rate
  pipeline/train/configs/training/teacher.train.yml
Due: snakemake-dry-run, taskgraph-definition

Enable back translations
  pipeline/train/configs/opustrainer/teacher.yml
Due: snakemake-dry-run, taskgraph-definition
