Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

snakemake-dry-run:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command:
    - bash
    - -c
  ...

taskgraph-definition:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    docker-image:
      in-tree: base
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: make validate-taskgraph

Remove num_mismatch filter for Chinese
  pipeline/clean/opuscleaner/configs/en-zh/default.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/default.filters.json
Due: snakemake-dry-run, taskgraph-definition

Adjust the amount of parallelism
  pipeline/alignments/align.py
Due: snakemake-dry-run, taskgraph-definition

[skip ci] Fix typo in the rebuild docker-images/toolchains docs (#935)
  docs/task-cluster.md
Due: none

Remove displaystyle in WikiMatrix
  pipeline/clean/opuscleaner/configs/en-zh/WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/WikiMatrix-v1.filters.json
Due: snakemake-dry-run, taskgraph-definition

Normalize to full-width punctuation
  pipeline/clean/opuscleaner/configs/en-zh/default.filters.json
Due: snakemake-dry-run, taskgraph-definition

fix: get rid of `hunspell` python package
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/fetch/python.yml
  taskcluster/kinds/toolchain/kind.yml
Due: taskgraph-definition

fix: get rid of `hunspell` python package (#938)
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/fetch/python.yml
  taskcluster/kinds/toolchain/kind.yml
Due: taskgraph-definition

Add ICU tokenizer
  pipeline/alignments/tokenizer.py
  taskcluster/docker/test/Dockerfile
  taskcluster/docker/train/Dockerfile
  tests/test_tokenizer.py
Due: snakemake-dry-run, taskgraph-definition

Use ICU tokenizer in alignments
  pipeline/alignments/align.py
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  tests/test_alignments.py
  tests/test_training.py
Due: snakemake-dry-run, taskgraph-definition

Update docs
  docs/opus-trainer.md
Due: none

Update to OpusTrainer with ICU detokenization support
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  pipeline/train/configs/opustrainer/student.cjk.yml
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.cjk.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.yml
  pipeline/train/requirements/train.in
  pipeline/train/requirements/train.txt
  poetry.lock
  pyproject.toml
Due: snakemake-dry-run, taskgraph-definition

Add pyicu pypi package
  pipeline/alignments/requirements/alignments.in
  pipeline/alignments/requirements/alignments.txt
  poetry.lock
  pyproject.toml
Due: snakemake-dry-run, taskgraph-definition

Use ICU system package
  taskcluster/docker/test/Dockerfile
  taskcluster/docker/train/Dockerfile
Due: taskgraph-definition

Add zh-en config
  configs/autogenerated/zh-en-cjk.yml
  configs/cjk/zh-en-cjk.yml
Due: snakemake-dry-run

Do not omit the character preceeding the period
  pipeline/clean/opuscleaner/configs/en-zh/default.filters.json
Due: snakemake-dry-run, taskgraph-definition

Roll back target renaming
  taskcluster/kinds/all-pipeline/kind.yml
Due: taskgraph-definition

Fix config
  configs/cjk/zh-en-cjk.yml
Due: snakemake-dry-run

Disable php
  configs/cjk/zh-en-cjk.yml
Due: snakemake-dry-run

Cjk corpora fixes (#937)
  pipeline/clean/opuscleaner/configs/en-zh/WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/default.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/default.filters.json
Due: snakemake-dry-run, taskgraph-definition

Disable teacher ensemble
  configs/cjk/zh-en-cjk.yml
Due: snakemake-dry-run

Rename experiment
  configs/cjk/zh-en-cjk.yml
Due: snakemake-dry-run

Rename kind
  taskcluster/kinds/all/kind.yml
  taskcluster/test/test_default_params.py
  tests/test_preflight_check.py
Due: taskgraph-definition

Update configs
  configs/cjk/ja-en-cjk.yml
  configs/cjk/zh-en-cjk.yml
Due: snakemake-dry-run

Use OpusCleaner with ja support
  pipeline/clean/requirements/clean.in
  pipeline/clean/requirements/clean.txt
Due: snakemake-dry-run, taskgraph-definition

use d2g workers
  taskcluster/config.yml
Due: taskgraph-definition

try to switch gpu to run in d2g
  taskcluster/config.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
Due: taskgraph-definition

use non-interactive debian frontend
  taskcluster/docker/train/Dockerfile
Due: taskgraph-definition

install nvidia-tools to get nvidia-smi in train image
  taskcluster/docker/train/Dockerfile
Due: taskgraph-definition

try installing nvidia driver to make nvidia-smi work
  taskcluster/docker/train/Dockerfile
Due: taskgraph-definition

attempt hack in docker run command directly in bicleaner kind
  taskcluster/config.yml
  taskcluster/kinds/bicleaner/kind.yml
Due: taskgraph-definition

feat: upgrade cpu workers to ubuntu 24.04 generic-worker image
  taskcluster/config.yml
Due: taskgraph-definition

Fix new lines
  pipeline/alignments/tokenizer.py
Due: snakemake-dry-run, taskgraph-definition

Disable hplt
  configs/cjk/zh-en-cjk.yml
Due: snakemake-dry-run

Add a warning when train- is the target stage rather than evalute-
  utils/trigger_training.py
Due: none

Fix inference in CODEOWNERS file
  .github/CODEOWNERS
Due: none

Improve eslint string-formatting configuration
  inference/wasm/tests/eslint.config.mjs
Due: none

Rename `appendEndingWhitespace`
  inference/src/tests/units/html_tests.cpp
  inference/src/translator/annotation.cpp
  inference/src/translator/annotation.h
  inference/src/translator/response_builder.cpp
Due: none

Add a --force-rebuild flag to WASM build commands
  inference/scripts/build-wasm.py
  inference/scripts/test-wasm.py
Due: none

Fix misc. formatting in build-bergamot.py
  inference/scripts/build-wasm.py
Due: none

Add test cases for testing `zhen` models.
  inference/wasm/tests/test-cases/shared.mjs
  inference/wasm/tests/test-cases/translate-html-multi-paragraph-no-pivot.test.mjs
  inference/wasm/tests/test-cases/translate-html-multi-paragraph-with-pivot.test.mjs
  inference/wasm/tests/test-cases/translate-html-multi-sentence-no-pivot.test.mjs
  inference/wasm/tests/test-cases/translate-html-multi-sentence-with-pivot.test.mjs
  inference/wasm/tests/test-cases/translate-html-single-sentence-no-pivot.test.mjs
  inference/wasm/tests/test-cases/translate-html-single-sentence-with-pivot.test.mjs
  inference/wasm/tests/test-cases/translate-plain-text-multi-paragraph-no-pivot.test.mjs
  inference/wasm/tests/test-cases/translate-plain-text-multi-paragraph-with-pivot.test.mjs
  inference/wasm/tests/test-cases/translate-plain-text-multi-sentence-no-pivot.test.mjs
  inference/wasm/tests/test-cases/translate-plain-text-multi-sentence-with-pivot.test.mjs
  inference/wasm/tests/test-cases/translate-plain-text-single-sentence-no-pivot.test.mjs
  inference/wasm/tests/test-cases/translate-plain-text-single-sentence-with-pivot.test.mjs
Due: none

Path conditions:
  snakemake-dry-run: any of: pipeline/**, envs/**, configs/**
  taskgraph-definition: any of: pipeline/**, taskcluster/**
