Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Add a task for updating the requirements file
  Taskfile.yml
Due: none

Fix pip compile error where dependencies cannot be locked
  Taskfile.yml
Due: none

Generic Taskcluster task naming (#589)
  tests/test_tracking_cli.py
  tests/test_tracking_utils.py
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/utils.py
Due: none

Add support for automatically continuing training from earlier runs of a Task.
  taskcluster/scripts/pipeline/train_taskcluster.py
  tests/test_train_taskcluster.py
Due: taskgraph-definition

Automatically retry training tasks on exit code 17
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
Due: taskgraph-definition

Fake a taskcluster url to test automatic retries
  taskcluster/scripts/pipeline/train_taskcluster.py
Due: taskgraph-definition

Lock requirements
  pipeline/bicleaner/requirements/bicleaner-ai.in
  pipeline/bicleaner/requirements/bicleaner-ai.txt
Due: snakemake-dry-run, taskgraph-definition

Update bicleaner
  pipeline/bicleaner/requirements/bicleaner-ai.in
Due: snakemake-dry-run, taskgraph-definition

Use larger multilingual models
  pipeline/bicleaner/download_pack.py
Due: snakemake-dry-run, taskgraph-definition

Add COMET to the evaluation (#587)
  Taskfile.yml
  pipeline/eval/eval.py
  pipeline/eval/requirements/eval.in
  pipeline/eval/requirements/eval.txt
  pyproject.toml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  tests/fixtures/__init__.py
  tests/test_eval.py
Due: snakemake-dry-run, taskgraph-definition

Fix requirements
  pipeline/bicleaner/requirements/bicleaner-ai.in
  pipeline/bicleaner/requirements/bicleaner-ai.txt
Due: snakemake-dry-run, taskgraph-definition

Custom cleaning (#547)
  docs/cleaning.md
  pipeline/clean/opuscleaner/clean-corpus.sh
  pipeline/clean/opuscleaner/configs/opus_LinguaTools-WikiTitles-v2014.filters.json
  pipeline/clean/opuscleaner/configs/opus_NLLB-v1.filters.json
  pipeline/clean/opuscleaner/configs/opus_OpenSubtitles-v2018.filters.json
  pipeline/clean/opuscleaner/configs/opus_UNPC-v1.0.filters.json
  pipeline/clean/opuscleaner/configs/opus_XLEnt-v1.2.filters.json
  pipeline/clean/opuscleaner/configs/ru-en/opus_ELRC-3075-wikipedia_health-v1.filters.json
  pipeline/clean/opuscleaner/configs/ru-en/opus_ELRC-3075-wikipedia_health-v1.ru-en.filters.json
  pipeline/clean/opuscleaner/generate_filters.py
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/clean-corpus/kind.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  tests/test_filters.py
Due: snakemake-dry-run, taskgraph-definition

Fix typo
  pipeline/bicleaner/requirements/bicleaner-ai.txt
Due: snakemake-dry-run, taskgraph-definition

Support news-crawl importer
  utils/find_corpus.py
Due: none

Add test case
  tests/test_tracking_utils.py
Due: none

Update regex
  tracking/translations_parser/utils.py
Due: none

Parse tasks with label finetune-student (#609)
  tests/test_tracking_utils.py
  tracking/translations_parser/utils.py
Due: none

Add libs for hunspell
  taskcluster/docker/toolchain-build/Dockerfile
Due: taskgraph-definition

Fix model downloading
  pipeline/bicleaner/download_pack.py
Due: snakemake-dry-run, taskgraph-definition

Add support for automatically continuing training from earlier runs of a Task.
  taskcluster/scripts/pipeline/train_taskcluster.py
  tests/test_train_taskcluster.py
  utils/preflight_check.py
Due: taskgraph-definition

Add support for automatically continuing training from earlier runs of a Task (fixes #270) (#580)
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/scripts/pipeline/train_taskcluster.py
  tests/test_train_taskcluster.py
  utils/preflight_check.py
Due: taskgraph-definition

Build and use cyhunspell binary wheel
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/fetch/python.yml
  taskcluster/kinds/toolchain/kind.yml
Due: taskgraph-definition

Use a toolchain for cyhunspell
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/fetch/python.yml
  taskcluster/kinds/toolchain/kind.yml
Due: taskgraph-definition

Get rid of hard dependency on github
  pipeline/bicleaner/requirements/bicleaner-ai.in
  pipeline/bicleaner/requirements/bicleaner-ai.txt
Due: snakemake-dry-run, taskgraph-definition

Use our cyhunspell wheel for bicleaner-model
  taskcluster/kinds/bicleaner-model/kind.yml
Due: taskgraph-definition

Support news-crawl importer (#608)
  utils/find_corpus.py
Due: none

Remove a hard github dependency
  pipeline/bicleaner/requirements/bicleaner-ai.in
  pipeline/bicleaner/requirements/bicleaner-ai.txt
Due: snakemake-dry-run, taskgraph-definition

Fix test
  tests/test_bicleaner.py
Due: none

Show the stack trace when there is an error in tracking
  tracking/translations_parser/cli/taskcluster.py
Due: none

Rename parse_tag to parse_task_label
  tests/test_tracking_utils.py
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/data.py
  tracking/translations_parser/publishers.py
  tracking/translations_parser/utils.py
Due: none

Turn the parsed label into a NamedTuple for better typing hints
  tests/test_tracking_utils.py
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/utils.py
Due: none

Allow for 3 letter language codes
  tests/test_tracking_utils.py
  tracking/translations_parser/utils.py
Due: none

Get the tag parsing working with the full task graph
  tests/test_tracking_utils.py
  tracking/translations_parser/utils.py
Due: none

Temporarily disable an evaluate task that is failing
  tests/test_tracking_utils.py
Due: none

Document the regexes
  tracking/translations_parser/utils.py
Due: none

Update code docs a bit
  tracking/translations_parser/cli/taskcluster.py
Due: none

Fix tests for finetune-student
  tests/test_tracking_utils.py
  tracking/translations_parser/utils.py
Due: none

Ensure all of the task labels can be parsed in the task graph (#612)
  tests/test_tracking_utils.py
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/data.py
  tracking/translations_parser/publishers.py
  tracking/translations_parser/utils.py
Due: none
