Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

snakemake-dry-run:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command:
    - bash
    - -c
  ...

taskgraph-definition:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    docker-image:
      in-tree: base
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: make validate-taskgraph

Add a test for news crawl importer
  pipeline/data/importers/mono/news-crawl.sh
  tests/data/corpus_samples/pytest-dataset.en.gz
  tests/data/corpus_samples/pytest-dataset.ru.gz
  tests/fixtures/__init__.py
  tests/fixtures/wget
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

Temporarily disable newscrawl test
  tests/test_data_importer.py
Due: none

Merge the two tests
  tests/test_data_importer.py
Due: none

Add newscrawl tests, and update some testing infrastructure (#434)
  pipeline/data/importers/mono/news-crawl.sh
  tests/data/corpus_samples/pytest-dataset.en.gz
  tests/data/corpus_samples/pytest-dataset.ru.gz
  tests/fixtures/__init__.py
  tests/fixtures/wget
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

Check for the file existence rather than status code (#433)
  pipeline/bicleaner/download_pack.py
  tests/test_bicleaner.py
Due: snakemake-dry-run, taskgraph-definition

Publish YAML configuration to group_logs run (#386)
  tracking/translations_parser/cli/experiments.py
Due: none

Adjust the pythonpath for the download_pack.py script
  taskcluster/kinds/bicleaner-model/kind.yml
Due: taskgraph-definition

Add a structured logger to bicleaner
  pipeline/bicleaner/download_pack.py
  pipeline/common/__init__.py
  pipeline/common/logging.py
Due: snakemake-dry-run, taskgraph-definition

Don't set bicleaner dependency directly in merge-corpus
  taskcluster/kinds/merge-corpus/kind.yml
Due: taskgraph-definition

Add hacky kind that can modify upstream parts of the graph
  taskcluster/kinds/all/kind.yml
  taskcluster/kinds/modify-graph/kind.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  taskcluster/translations_taskgraph/transforms/modify_graph.py
Due: taskgraph-definition

Make compatible with older python versions
  utils/preflight_check.py
Due: none

Add a structured logging script (#437)
  pipeline/bicleaner/download_pack.py
  pipeline/common/__init__.py
  pipeline/common/logging.py
  taskcluster/kinds/bicleaner-model/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Add moses tokenized alignments
  pipeline/alignments/generate-alignment-and-shortlist.sh
  pipeline/alignments/generate-space-alignment.sh
  pipeline/alignments/prune_shortlist.py
  pipeline/alignments/requirements/alignments.in
  pipeline/alignments/requirements/alignments.txt
Due: snakemake-dry-run, taskgraph-definition

Add alignments tasks compatible with OpusTrainer
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/alignments-teacher/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/quantize/kind.yml
  taskcluster/kinds/shortlist/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Use Moses detokenizer
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.yml
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Add comments
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

Fix arg name
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

Switch to space tokenized alignments
  pipeline/alignments/generate-space-alignment.sh
  pipeline/alignments/requirements/alignments.in
  pipeline/alignments/requirements/alignments.txt
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.yml
  pipeline/train/configs/training/student.finetune.yml
  pipeline/train/configs/training/student.train.yml
  pipeline/train/configs/training/teacher.train.yml
  pipeline/train/train.sh
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/alignments-teacher/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Fix vars
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

fix: set --output-file correctly in taskgraph-diff (#413)
  Makefile
Due: none

Update poetry dependencies to pull in newer taskgraph version
  poetry.lock
Due: none

Add the ability to run starting from a specific task (fixes #227)
  docs/task-cluster.md
  taskcluster/config.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Fix tests after merge
  tests/test_data_importer.py
Due: none

Fix linting pythonpath for tracking
  Makefile
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/publishers.py
Due: none

Add pythonpath to the rest of the commands
  Makefile
Due: none

Add retry
  taskcluster/kinds/clean-corpus/kind.yml
Due: taskgraph-definition

Add the ability to run starting from a specific task (fixes #227) (#377)
  docs/task-cluster.md
  poetry.lock
  taskcluster/config.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Add support for triggering actions from PR decision tasks.
  .taskcluster.yml
Due: none

Use different random seeds for the teachers
  pipeline/train/configs/opustrainer/teacher.yml
  pipeline/train/train.sh
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/scripts/pipeline/train-taskcluster.sh
Due: snakemake-dry-run, taskgraph-definition

Fix substitution
  taskcluster/kinds/train-teacher/kind.yml
Due: taskgraph-definition

Add support for triggering actions from PR decision tasks. (#442)
  .taskcluster.yml
Due: none

Remove pythonpath
  Makefile
  poetry.lock
Due: none

Silly change to test actions in PRs
  README.md
Due: none

Pass random seed to Marian
  pipeline/train/train.sh
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Add support for triggering actions from PR decision tasks. (#442)
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Update lockfile
  poetry.lock
Due: none

Fix wandb directory in tests
  tests/test_tracking_cli.py
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/publishers.py
Due: none

Disable noise for student
  pipeline/train/configs/opustrainer/student.yml
Due: snakemake-dry-run, taskgraph-definition

Fix formatting
  tracking/translations_parser/publishers.py
Due: none

Path conditions:
  snakemake-dry-run: any of: pipeline/**, envs/**, configs/**
  taskgraph-definition: any of: pipeline/**, taskcluster/**
