Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Enable verbose mode
  pipeline/train/train.sh
  tracking/translations_parser/parser.py
Due: snakemake-dry-run, taskgraph-definition

Add training parameter to control publication
  pipeline/train/train.sh
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/translations_taskgraph/parameters.py
Due: snakemake-dry-run, taskgraph-definition

Use task config to get wandb names
  pipeline/train/train.sh
  tracking/translations_parser/cli/taskcluster.py
Due: snakemake-dry-run, taskgraph-definition

Run on WANDB_PUBLICATION=false, but do not publish
  tracking/translations_parser/cli/taskcluster.py
Due: none

Configure Taskcluster secret for w&b through taskgraph transform
  pipeline/train/train.sh
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/translations_taskgraph/transforms/worker_env.py
  tracking/translations_parser/cli/taskcluster.py
Due: snakemake-dry-run, taskgraph-definition

Expose weight & biases tags
  tests/test_tracking_cli.py
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/cli/taskcluster_group.py
Due: none

Fix the preflight check
  utils/preflight_check.py
Due: none

Update the training continuation docs
  docs/using-pretrained-models.md
  taskcluster/configs/config.prod.yml
Due: taskgraph-definition

Taskcluster publication (#501)
  pipeline/train/train.sh
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/translations_taskgraph/parameters.py
  tests/data/experiments_wandb_calls_1_12.json
  tests/test_tracking_cli.py
  tracking/translations_parser/__init__.py
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/data.py
  tracking/translations_parser/parser.py
  tracking/translations_parser/publishers.py
  tracking/translations_parser/utils.py
Due: snakemake-dry-run, taskgraph-definition

Add a downloader with retries
  pipeline/common/downloads.py
Due: snakemake-dry-run, taskgraph-definition

Address review comments
  pipeline/common/downloads.py
Due: snakemake-dry-run, taskgraph-definition

Update the training continuation docs (#540)
  docs/using-pretrained-models.md
  taskcluster/configs/config.prod.yml
Due: taskgraph-definition

Fix the preflight check to use the proper config (#539)
  utils/preflight_check.py
Due: none

Make downloads more robust (#530)
  pipeline/common/downloads.py
Due: snakemake-dry-run, taskgraph-definition

Actualize production reference config
  taskcluster/configs/config.prod.yml
Due: taskgraph-definition

Update default config
  pipeline/clean/opuscleaner/configs/default.filters.json
Due: snakemake-dry-run, taskgraph-definition

Pre-download fast text model
  pipeline/clean/opuscleaner/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Add custom filters
  pipeline/clean/opuscleaner/configs/opus_LinguaTools-WikiTitles-v2014.filters.json
  pipeline/clean/opuscleaner/configs/opus_NLLB-v1.filters.json
  pipeline/clean/opuscleaner/configs/opus_OpenSubtitles-v2018.filters.json
  pipeline/clean/opuscleaner/configs/opus_UNPC-v1.0.filters.json
  pipeline/clean/opuscleaner/configs/opus_XLEnt-v1.2.filters.json
  pipeline/clean/opuscleaner/configs/ru-en/opus_ELRC-3075-wikipedia_health-v1.filters.json
  pipeline/clean/opuscleaner/configs/ru-en/opus_ELRC-3075-wikipedia_health-v1.ru-en.filters.json
  pipeline/clean/opuscleaner/generate_filters.py
  taskcluster/kinds/clean-corpus/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Add unit tests for config generation
  pipeline/clean/opuscleaner/configs/ru-en/opus_ELRC-3075-wikipedia_health-v1.filters.json
  pipeline/clean/opuscleaner/generate_filters.py
  tests/test_filters.py
Due: snakemake-dry-run, taskgraph-definition

Do not show empty opus datasets, and fix the URLs
  utils/find_corpus.py
Due: none

Do not show empty opus datasets, and fix the URLs (#551)
  utils/find_corpus.py
Due: none

Add a preflight check for URL mounts
  utils/preflight_check.py
Due: none

Fix lint error
  pipeline/translate/bestbleu.py
Due: snakemake-dry-run, taskgraph-definition

Drive-by: Disable the PLW0603 rule
  pipeline/translate/bestbleu.py
  pyproject.toml
  tests/fixtures/__init__.py
  utils/preflight_check.py
Due: snakemake-dry-run, taskgraph-definition

Fix test assertions
  tests/test_find_corpus.py
Due: none

Use spot instances for training
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
Due: taskgraph-definition

Update the pipeline with hot fixes
  pipeline/clean/opuscleaner/clean-corpus.sh
  pipeline/clean/opuscleaner/configs/default.filters.json
Due: snakemake-dry-run, taskgraph-definition

Change the caching strategy for teachers
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
Due: taskgraph-definition

Add a preflight check for URL mounts (#548)
  pipeline/translate/bestbleu.py
  pyproject.toml
  tests/fixtures/__init__.py
  tests/test_find_corpus.py
  utils/preflight_check.py
Due: snakemake-dry-run, taskgraph-definition

Use temp dir, disable laser and bicleaner
  pipeline/clean/opusfilter/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Revert news crawl downloader
  pipeline/data/download-mono.sh
  pipeline/data/importers/mono/news-crawl.sh
  taskcluster/kinds/dataset/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Fix permission issues
  pipeline/data/download-mono.sh
  pipeline/data/importers/mono/news-crawl.sh
Due: snakemake-dry-run, taskgraph-definition

Always use vocab.spm from artifacts directory in training steps
  taskcluster/scripts/pipeline/train-taskcluster.sh
Due: taskgraph-definition

Switch to bhearsum's run task image for debugging
  .taskcluster.yml
Due: none

Switch to spot
  taskcluster/config.yml
Due: taskgraph-definition

new tag
  .taskcluster.yml
Due: none

explicit run-task path
  .taskcluster.yml
Due: none

switch to d2g images
  taskcluster/config.yml
Due: taskgraph-definition

Always use vocab.spm from artifacts directory in training steps (#545)
  taskcluster/scripts/pipeline/train-taskcluster.sh
Due: taskgraph-definition
