Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

snakemake-dry-run:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command:
    - bash
    - -c
  ...

taskgraph-definition:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    docker-image:
      in-tree: base
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: make validate-taskgraph

Remove old translate scripts
  pipeline/translate/translate-nbest.sh
  pipeline/translate/translate.sh
  taskcluster/scripts/pipeline/translate-taskcluster.sh
Due: snakemake-dry-run, taskgraph-definition

Add gpustats to the train requirements
  pipeline/train/requirements/train.in
  pipeline/train/requirements/train.txt
Due: snakemake-dry-run, taskgraph-definition

Add logging for translations
  pipeline/common/logging.py
  pipeline/translate/translate.py
  pipeline/translate/translate_ctranslate2.py
Due: snakemake-dry-run, taskgraph-definition

Rewrite translate.sh to python
  pipeline/common/command_runner.py
  pipeline/common/downloads.py
  pipeline/translate/translate.py
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
  tests/fixtures/__init__.py
  tests/test_translate.py
Due: snakemake-dry-run, taskgraph-definition

Add support for ctranslate2
  pipeline/translate/translate.py
  pipeline/translate/translate_ctranslate2.py
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.yml
  tests/test_ctranslate2.py
Due: snakemake-dry-run, taskgraph-definition

Do not output empty alignments
  pipeline/train/train.py
Due: snakemake-dry-run, taskgraph-definition

Fix parser
  tracking/translations_parser/parser.py
Due: none

Rename kind
  taskcluster/kinds/all/kind.yml
  taskcluster/test/test_default_params.py
  tests/test_preflight_check.py
Due: taskgraph-definition

Roll back target renaming
  taskcluster/kinds/all/kind.yml
Due: taskgraph-definition

Rollback target renaming (#960)
  taskcluster/kinds/all/kind.yml
  taskcluster/test/test_default_params.py
  tests/test_preflight_check.py
Due: taskgraph-definition

Restore the all-pipeline
  taskcluster/kinds/all-pipeline/kind.yml
  taskcluster/test/test_default_params.py
  tests/test_preflight_check.py
Due: taskgraph-definition

feat: upgrade cpu workers to ubuntu 24.04 generic-worker image
  taskcluster/config.yml
Due: taskgraph-definition

Update the codebase to use all-pipeline
  docs/task-cluster.md
  taskcluster/config.yml
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/test/params/large-lt-en.yml
  tests/fixtures/config.pytest.enzh.yml
  tests/fixtures/config.pytest.yml
  utils/preflight_check.py
Due: taskgraph-definition

feat: upgrade cpu workers to ubuntu 24.04 generic-worker image (#949)
  taskcluster/config.yml
Due: taskgraph-definition

Strip new lines
  pipeline/alignments/tokenizer.py
Due: snakemake-dry-run, taskgraph-definition

Refactor abstract classes
  pipeline/alignments/tokenizer.py
Due: snakemake-dry-run, taskgraph-definition

Fix typo
  docs/opus-trainer.md
Due: none

switch GPU workers to d2g images
  taskcluster/config.yml
Due: taskgraph-definition

Add todo with issue link for OpusTrainer package
  pipeline/data/requirements/data.in
  pipeline/train/requirements/train.in
  pyproject.toml
Due: snakemake-dry-run, taskgraph-definition

Remove expired-after
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/all/kind.yml
  taskcluster/kinds/shortlist/kind.yml
Due: taskgraph-definition

Switch GPU tasks to run within docker
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
Due: taskgraph-definition

feat: add cron task that runs the minimal training pipeline nightly
  .cron.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Add test cases from sacremoses
  tests/test_tokenizer.py
Due: none

bump max run time down slightly to account for generic-worker increasing task max run times
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
Due: taskgraph-definition

Update to the latest commit
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  pipeline/train/requirements/train.in
  pipeline/train/requirements/train.txt
  poetry.lock
  pyproject.toml
Due: snakemake-dry-run, taskgraph-definition

Relock poetry
  poetry.lock
Due: none

cache-dotcache: true
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/train-vocab/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
Due: taskgraph-definition

cache-dotcache: true
  taskcluster/docker/train/Dockerfile
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/train-vocab/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
Due: taskgraph-definition

install cuda
  taskcluster/docker/train/Dockerfile
Due: taskgraph-definition

Remove expired-after (#968)
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/all/kind.yml
  taskcluster/kinds/shortlist/kind.yml
Due: taskgraph-definition

Path conditions:
  snakemake-dry-run: any of: pipeline/**, envs/**, configs/**
  taskgraph-definition: any of: pipeline/**, taskcluster/**
