Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

snakemake-dry-run:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command:
    - bash
    - -c
  ...

taskgraph-definition:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    docker-image:
      in-tree: base
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: make validate-taskgraph

Add taskcluster-taskgraph and blessed to the dependencies
  poetry.lock
  pyproject.toml
Due: none

Add a preflight check utility
  tests/test_preflight_check.py
  utils/preflight_check.py
Due: none

Add a makefile entry
  Makefile
Due: none

Add a preflight check utility (#353)
  Makefile
  poetry.lock
  pyproject.toml
  tests/test_preflight_check.py
  utils/preflight_check.py
Due: none

Add --no-root to fix linting issue
  Makefile
Due: none

Add version number
  Makefile
Due: none

Roll back learning rate
  pipeline/train/configs/training/teacher.train.yml
Due: snakemake-dry-run, taskgraph-definition

Disable snakemake dry run
  taskcluster/kinds/tests/kind.yml
Due: taskgraph-definition

Update ruff
  poetry.lock
  pyproject.toml
Due: none

support pigz
  pipeline/translate/splitter.py
Due: snakemake-dry-run, taskgraph-definition

Update splitter.py
  pipeline/translate/splitter.py
Due: snakemake-dry-run, taskgraph-definition

Remove pytest clarity
  poetry.lock
  pyproject.toml
Due: none

Switch tests/test_tracking_cli.py to assert on unordered sets
  tests/test_tracking_cli.py
Due: none

Update Snakefile
  Snakefile
Due: none

Make CI happy again (#362)
  Makefile
  poetry.lock
  pyproject.toml
  tests/test_tracking_cli.py
Due: none

make any word character optional
  pipeline/data/dataset_importer.py
Due: snakemake-dry-run, taskgraph-definition

Update dataset_importer.py
  pipeline/data/dataset_importer.py
Due: snakemake-dry-run, taskgraph-definition

Use only bicleaner ai
  Snakefile
  docs/bicleaner.md
  pipeline/bicleaner/bicleaner.sh
  pipeline/bicleaner/download-pack.sh
  pipeline/bicleaner/download_pack.py
  pipeline/bicleaner/packs.py
  pipeline/bicleaner/requirements/bicleaner.in
  pipeline/bicleaner/requirements/bicleaner.txt
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/fetch/bicleaner.yml
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
Due: snakemake-dry-run, taskgraph-definition

small commit to trigger ci
  pipeline/translate/splitter.py
Due: snakemake-dry-run, taskgraph-definition

fix(splitter): properly support gzip (#361)
  Snakefile
  pipeline/translate/splitter.py
Due: snakemake-dry-run, taskgraph-definition

Remove test command
  pipeline/bicleaner/download_pack.py
Due: snakemake-dry-run, taskgraph-definition

Disable hard rules for multilingual model
  pipeline/bicleaner/bicleaner.sh
Due: snakemake-dry-run, taskgraph-definition

Change taskcluster kinds
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/fetch/kind.yml
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Remove bilcleaner
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
Due: taskgraph-definition

Add a note about optimizer delay
  docs/training-guide.md
Due: none

Add a link to opus trainer paper
  docs/opus-trainer.md
Due: none

Fix unstable training (#352)
  docs/opus-trainer.md
  docs/training-guide.md
  pipeline/train/configs/opustrainer/backward.yml
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.yml
  pipeline/train/configs/training/teacher.train.yml
  taskcluster/kinds/tests/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Forward existing tasks from the action input to the action's decision
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Fix bicleaner model step
  taskcluster/kinds/bicleaner-model/kind.yml
Due: taskgraph-definition

remove bicleaner
  taskcluster/kinds/merge-corpus/kind.yml
Due: taskgraph-definition

Fix student config
  pipeline/train/configs/opustrainer/student.yml
Due: snakemake-dry-run, taskgraph-definition

Fix find upstream
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/merge-devset/kind.yml
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
Due: taskgraph-definition

Add toolchain
  taskcluster/kinds/bicleaner-model/kind.yml
Due: taskgraph-definition

Fix student config (#373)
  pipeline/train/configs/opustrainer/student.yml
Due: snakemake-dry-run, taskgraph-definition

Fix arg type
  pipeline/bicleaner/download_pack.py
Due: snakemake-dry-run, taskgraph-definition

Don't delete tmp dir
  pipeline/bicleaner/download_pack.py
Due: snakemake-dry-run, taskgraph-definition

Fix artefacts
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
Due: taskgraph-definition

Path conditions:
  snakemake-dry-run: any of: pipeline/**, envs/**, configs/**
  taskgraph-definition: any of: pipeline/**, taskcluster/**
