Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

snakemake-dry-run:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command:
    - bash
    - -c
  ...

taskgraph-definition:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    docker-image:
      in-tree: base
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: make validate-taskgraph

memoize
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Add tests for training (#489)
  docker/Dockerfile
  pipeline/train/train.sh
  taskcluster/kinds/tests/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/scripts/pipeline/train-taskcluster.sh
  taskcluster/scripts/toolchain/build-marian.sh
  tests/fixtures/__init__.py
  tests/fixtures/marian
  tests/test_training.py
Due: snakemake-dry-run, taskgraph-definition

Update Marian to v1.12.14 2d067afb 2024-02-16
  docker/Dockerfile
  taskcluster/kinds/fetch/toolchains.yml
Due: taskgraph-definition

Compile marian server
  docker/Dockerfile
  pipeline/setup/compile-marian.sh
Due: snakemake-dry-run, taskgraph-definition

Add Marian server for testing
  Makefile
  poetry.lock
  pyproject.toml
  utils/marian_client.py
Due: none

Reformat
  utils/marian_client.py
Due: none

Allow to use taskcluster.Secrets service to retrieve W&B secret API Key
  tests/test_tracking_cli.py
  tracking/translations_parser/cli/taskcluster.py
Due: none

Try switching b-cpu machines to d2g image
  taskcluster/config.yml
Due: taskgraph-definition

Use d2g workers for large and xlarge disk cpu workers too
  taskcluster/config.yml
Due: taskgraph-definition

cache bust
  .taskcluster.yml
  taskcluster/docker/base/Dockerfile
Due: taskgraph-definition

only memozie network request
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

re-memoize
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

copy
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Add a workaround to rerun student
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Add temporary downloading of the latest Marian
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

use bigger disks for b-cpu
  taskcluster/config.yml
Due: taskgraph-definition

cache bust
  taskcluster/docker/base/Dockerfile
Due: taskgraph-definition

Enable modifiers
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

revert
  .taskcluster.yml
Due: none

Properly parse TC secret
  tracking/translations_parser/cli/taskcluster.py
Due: none

Skip checking existing runs for new projects
  tracking/translations_parser/publishers.py
Due: none

Allow to use taskcluster.Secrets service to retrieve W&B secret API Key (#493)
  tests/test_tracking_cli.py
  tracking/translations_parser/cli/taskcluster.py
Due: none

Suggestion
  tracking/translations_parser/publishers.py
Due: none

Analysis task that provides the word distribution (#477)
  pipeline/data/analyze.py
  pipeline/data/requirements/analyze.in
  pipeline/data/requirements/analyze.txt
  poetry.lock
  pyproject.toml
  taskcluster/config.yml
  taskcluster/kinds/all-pr/kind.yml
  taskcluster/kinds/all/kind.yml
  taskcluster/kinds/analyze-mono/kind.yml
  tests/test_analyze_mono.py
Due: snakemake-dry-run, taskgraph-definition

Add a dockerignore file
  .dockerignore
Due: none

Skip checking existing runs for new projects (#496)
  tracking/translations_parser/publishers.py
Due: none

Add the analysis tool to parallel corpora
  taskcluster/kinds/analyze-corpus/kind.yml
  tests/fixtures/__init__.py
  tests/test_analyze_mono.py
Due: taskgraph-definition

Rename the analyze test to be generic for mono and corpus tasks
  tests/test_analyze.py
Due: none

Make analyze-mono/kind.yml consistent with analyze-corpus/kind.yml
  taskcluster/kinds/analyze-mono/kind.yml
Due: taskgraph-definition

Add the dataset name to the graphs
  pipeline/data/analyze.py
  tests/test_analyze_mono.py
Due: snakemake-dry-run, taskgraph-definition

Fork the training scripts
  pipeline/train/train2.sh
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/scripts/pipeline/train-taskcluster2.sh
Due: snakemake-dry-run, taskgraph-definition

Use an updated Marian directly downloaded
  pipeline/train/train2.sh
Due: snakemake-dry-run, taskgraph-definition

Revert "Disable student augmentations"
  pipeline/train/configs/opustrainer/student.yml
Due: snakemake-dry-run, taskgraph-definition

Add a dockerignore file (#499)
  .dockerignore
Due: none

Attach analyze-corpus to the all task
  taskcluster/config.yml
  taskcluster/kinds/all-pr/kind.yml
  taskcluster/kinds/all/kind.yml
Due: taskgraph-definition

Update utils/marian_client.py
  utils/marian_client.py
Due: none

Make port configurable
  Makefile
  utils/marian_client.py
Due: none

Support backwards training task label
  tests/test_tracking_utils.py
  tracking/translations_parser/utils.py
Due: none

Support evaluation task with suffix
  tracking/translations_parser/cli/taskcluster_group.py
Due: none

Path conditions:
  snakemake-dry-run: any of: pipeline/**, envs/**, configs/**
  taskgraph-definition: any of: pipeline/**, taskcluster/**
