Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Fix the logic for loading in requirements in run_task
  tests/fixtures/__init__.py
Due: none

Give the lambda the current location when reading lines
  pipeline/common/downloads.py
  pipeline/data/importers/mono/hplt.py
Due: snakemake-dry-run, taskgraph-definition

Rename the merge-mono.txt requirements to just merge.txt
  pipeline/clean/requirements/merge.in
  pipeline/clean/requirements/merge.txt
  taskcluster/kinds/merge-mono/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Use GCP standard instances for alignments
  configs/cjk/zh-en-cjk.yml
  taskcluster/configs/config.prod.yml
Due: snakemake-dry-run, taskgraph-definition

Rewrite merge-corpus into python
  pipeline/clean/merge-corpus.py
  pipeline/clean/merge-corpus.sh
  pipeline/clean/merge-mono.py
  taskcluster/configs/config.ci.yml
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/merge-devset/kind.yml
  taskcluster/translations_taskgraph/parameters.py
  tests/fixtures/__init__.py
  tests/test_merge_corpus.py
  tests/test_merge_mono.py
Due: snakemake-dry-run, taskgraph-definition

Change vocab size
  pipeline/train/configs/model/student.yml
  pipeline/train/configs/model/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

Output all of test spew
  Taskfile.yml
Due: none

Install the venvs in the docker
  taskcluster/docker/test/Dockerfile
  tests/fixtures/__init__.py
  tests/fixtures/install_venvs.py
Due: taskgraph-definition

Remove vocab size from config
  configs/cjk/zh-en-cjk.yml
Due: snakemake-dry-run

Move inference-engine git submodules to the repository root
  .gitmodules
  inference-engine/.gitmodules
  inference-engine/CMakeLists.txt
Due: none

Rename inference-engine/3rd_party/marian-nmt
  .gitmodules
  inference-engine/3rd_party/CMakeLists.txt
  inference-engine/patches/01-marian-fstream-for-macos.patch
  inference-engine/src/tests/CMakeLists.txt
  inference-engine/src/translator/logging.h
  inference-engine/src/translator/parser.h
Due: none

Remove unneeded Python code
  .gitmodules
  inference-engine/3rd_party/CMakeLists.txt
  inference-engine/bindings/CMakeLists.txt
  inference-engine/bindings/python/CMakeLists.txt
  inference-engine/bindings/python/README.md
  inference-engine/bindings/python/__init__.py
  inference-engine/bindings/python/__main__.py
  inference-engine/bindings/python/bergamot.cpp
  inference-engine/bindings/python/cmds.py
  inference-engine/bindings/python/repository.py
  inference-engine/bindings/python/typing_utils.py
  inference-engine/bindings/python/utils.py
  inference-engine/run-clang-format.py
  inference-engine/setup.py
Due: none

Remove .circleci and .github files
  inference-engine/.circleci/config.yml
  inference-engine/.github/dependabot.yml
  inference-engine/.github/workflows/arm.yml
  inference-engine/.github/workflows/build.yml
  inference-engine/.github/workflows/coding-styles.yml
  inference-engine/.github/workflows/native.yml
  inference-engine/.github/workflows/windows.yml
Due: none

Remove bergamot-translator-tests dependency
  .gitmodules
Due: none

Remove unneeded CLI code
  inference-engine/CMakeLists.txt
  inference-engine/app/CMakeLists.txt
  inference-engine/app/bergamot.cpp
Due: none

Remove unneded doc code
  inference-engine/doc/.gitignore
  inference-engine/doc/CI.md
  inference-engine/doc/README.md
  inference-engine/doc/Unified_API.md
  inference-engine/doc/_static/css/custom.css
  inference-engine/doc/conf.py
  inference-engine/doc/index.rst
  inference-engine/doc/make.bat
  inference-engine/doc/marian-integration.rst
  inference-engine/doc/python.rst
  inference-engine/doc/references.bib
  inference-engine/doc/requirements.txt
  inference-engine/doc/wasm-example.md
Due: none

Use build_image directives
  taskcluster/docker/test/Dockerfile
  utils/tasks/docker-build.sh
Due: taskgraph-definition

Revert directive change
  taskcluster/docker/test/Dockerfile
Due: taskgraph-definition

Add more logging
  tests/fixtures/install_venvs.py
Due: none

Add build-local script to inference-engine
  Taskfile.yml
  inference-engine/.gitignore
  inference-engine/scripts/build-local.sh
  inference-engine/scripts/detect-docker.sh
Due: none

Add unit-tests script to inference-engine
  Taskfile.yml
  inference-engine/scripts/build-local.sh
  inference-engine/scripts/unit-tests.sh
Due: none

Add clean script to inference-engine
  Taskfile.yml
  inference-engine/scripts/clean.sh
Due: none

WIP - match the venvs
  tests/fixtures/install_venvs.py
  utils/tasks/docker-build.sh
Due: none

Move build-wasm script to inference-engine/scripts directory
  Taskfile.yml
  inference-engine/scripts/build-wasm.sh
Due: none

Add review groups to CODEOWNERS
  .github/CODEOWNERS
Due: none

WIP - Adjust the vcs path
  taskcluster/docker/test/Dockerfile
  utils/tasks/docker-build.sh
Due: taskgraph-definition

Fix include directive
  taskcluster/docker/test/Dockerfile
Due: taskgraph-definition

Fix include directive
  .gitignore
  taskcluster/docker/test/Dockerfile
Due: taskgraph-definition

Re-work the vcs directory config
  taskcluster/docker/test/Dockerfile
  tests/fixtures/install_venvs.py
  utils/tasks/docker-run.sh
Due: taskgraph-definition

Fix variable names
  tests/fixtures/install_venvs.py
Due: none

Separate out run method
  pipeline/clean/merge-corpus.py
  tests/fixtures/__init__.py
Due: snakemake-dry-run, taskgraph-definition

Update existing documentation for the tracking module
  docs/tracking.md
Due: none

Add doc for Weight & Biases
  docs/img/tracking/experiment_config.png
  docs/img/tracking/group_logs_table.png
  docs/img/tracking/metrics.png
  docs/img/tracking/run_config.png
  docs/img/tracking/system_charts.png
  docs/img/tracking/training_charts.png
  docs/tracking.md
Due: none

Suggestions & Nits
  docs/tracking.md
Due: none

Reintroduce browsermt-marian-dev comment to .gitmodules file
  .gitmodules
Due: none

Remove sub-directory README files
  inference/README.md
  inference/wasm/README.md
  inference/wasm/module/README.md
Due: none

Move hidden clang files to the repository root
  .clang-format
  .clang-format-ignore
  .clang-tidy
Due: none

Remove inference/Doxyfile.in
  inference/Doxyfile.in
Due: none

Remove inference/MANIFEST.in
  inference/MANIFEST.in
Due: none
