Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

snakemake-dry-run:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command:
    - bash
    - -c
  ...

taskgraph-definition:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    docker-image:
      in-tree: base
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: make validate-taskgraph

Add a wget mock for downloads
  pipeline/data/importers/corpus/flores.sh
  pipeline/data/importers/corpus/opus.sh
  pipeline/data/importers/mono/commoncrawl.sh
  pipeline/data/importers/mono/news-crawl.sh
  tests/data/corpus_samples/README.md
  tests/data/corpus_samples/en-ru.txt.zip
  tests/data/corpus_samples/flores101_dataset.tar.gz
  tests/fixtures/__init__.py
  tests/fixtures/wget
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

Add wget to mock out downloads for importers (#410)
  pipeline/data/dataset_importer.py
  pipeline/data/importers/corpus/flores.sh
  pipeline/data/importers/corpus/opus.sh
  pipeline/data/importers/mono/commoncrawl.sh
  pipeline/data/importers/mono/news-crawl.sh
  taskcluster/kinds/dataset/kind.yml
  tests/data/corpus_samples/README.md
  tests/data/corpus_samples/en-ru.txt.zip
  tests/data/corpus_samples/flores101_dataset.tar.gz
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.yml
  tests/fixtures/wget
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

fix: set --output-file correctly in taskgraph-diff
  Makefile
Due: none

Download taskcluster live logs for training
  utils/taskcluster_downloader.py
Due: none

Refactor code
  utils/taskcluster_downloader.py
Due: none

Download taskcluster live logs for training (#416)
  utils/taskcluster_downloader.py
Due: none

fix: adjust dependencies, fetches, and cache digests when using the `use` training continuation mode
  taskcluster/scripts/pipeline/train-taskcluster.sh
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: taskgraph-definition

bust cache for corpus and mono chain
  pipeline/clean/tools/deescape-special-chars.perl
Due: snakemake-dry-run, taskgraph-definition

bust corpus cleaning cache
  pipeline/clean/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

bust clean mono cache
  pipeline/clean/clean-mono.sh
Due: snakemake-dry-run, taskgraph-definition

bust cache for anything using train.sh
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Take vocab from training step
  taskcluster/kinds/evaluate/kind.yml
Due: taskgraph-definition

Simplify evaluate-quantized
  taskcluster/kinds/evaluate-quantized/kind.yml
Due: taskgraph-definition

Simplify taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/evaluate/kind.yml
Due: taskgraph-definition

Convert the evaluation script to python
  pipeline/eval/eval.py
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  tests/fixtures/mocked_downloader
  tests/test_eval.py
Due: snakemake-dry-run, taskgraph-definition

Simplify evaluate-teacher-ensemble
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
Due: taskgraph-definition

Add assertions for the json evaluation metric
  tests/test_eval.py
Due: none

Remove the old eval scripts
  pipeline/eval/eval-gpu.sh
  pipeline/eval/eval-quantized.sh
  pipeline/eval/eval.sh
Due: snakemake-dry-run, taskgraph-definition

Use the sacrebleu python api
  pipeline/eval/eval.py
  tests/test_eval.py
Due: snakemake-dry-run, taskgraph-definition

Rewrite eval.sh to python and add a json output for evaluation metrics (#401)
  pipeline/eval/eval-gpu.sh
  pipeline/eval/eval-quantized.sh
  pipeline/eval/eval.py
  pipeline/eval/eval.sh
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  tests/fixtures/mocked_downloader
  tests/test_eval.py
Due: snakemake-dry-run, taskgraph-definition

Increase sp alpha and move to configs
  pipeline/train/configs/training/student.finetune.yml
  pipeline/train/configs/training/student.train.yml
  pipeline/train/configs/training/teacher.train.yml
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Add docs
  docs/training-guide.md
  pipeline/train/configs/training/student.finetune.yml
  pipeline/train/configs/training/student.train.yml
  pipeline/train/configs/training/teacher.train.yml
Due: snakemake-dry-run, taskgraph-definition

fix: adjust dependencies, fetches, and cache digests when using the `use` training continuation mode (#418)
  taskcluster/scripts/pipeline/train-taskcluster.sh
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: taskgraph-definition

Update docs/training-guide.md
  docs/training-guide.md
Due: none

Tune sentencepiece alphas (#421)
  docs/training-guide.md
  pipeline/train/configs/training/student.finetune.yml
  pipeline/train/configs/training/student.train.yml
  pipeline/train/configs/training/teacher.train.yml
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Update opustrainer
  pipeline/train/requirements/train.in
  pipeline/train/requirements/train.txt
  poetry.lock
  pyproject.toml
Due: snakemake-dry-run, taskgraph-definition

Adjust configs
  pipeline/train/configs/opustrainer/backward.yml
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

Add evaluation modifiers
  pipeline/data/dataset_importer.py
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

Reduce noise
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

Add tests for typos and noise
  tests/test_data_importer.py
Due: none

Fix typos augmenter
  pipeline/data/dataset_importer.py
Due: snakemake-dry-run, taskgraph-definition

Fix linting issues
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/publishers.py
Due: none

Update docs
  docs/opus-trainer.md
  pipeline/train/configs/opustrainer/student.yml
Due: snakemake-dry-run, taskgraph-definition

Path conditions:
  snakemake-dry-run: any of: pipeline/**, envs/**, configs/**
  taskgraph-definition: any of: pipeline/**, taskcluster/**
