Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Patch model suffix in group_logs
  tracking/translations_parser/utils.py
Due: none

Do not upload temporary directory to artifacts (#841)
  pipeline/alignments/align.py
  pipeline/alignments/generate-shortlist.sh
Due: snakemake-dry-run, taskgraph-definition

Add details to value error exceptions
  tracking/translations_parser/utils.py
Due: none

Do continue on unsupported filename (Snakemake)
  tracking/translations_parser/publishers.py
Due: none

Preserve legacy metrics dir for snakemake experiments
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/publishers.py
Due: none

Run from alignments
  configs/spring-2024/en-id-spring-2024.yml
  configs/spring-2024/en-ro-spring-2024.yml
  configs/spring-2024/en-ru-spring-2024.yml
Due: snakemake-dry-run

Increase vocab size in CI
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Fix vars
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Fix argument
  taskcluster/kinds/train-teacher/kind.yml
Due: taskgraph-definition

Fix teacher mode in CI
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Fix vocab size
  configs/cjk/zh-en-cjk.yml
Due: snakemake-dry-run

Fix schema
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Revert "Fix teacher mode in CI"
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Revert "Fix schema"
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Fix config
  configs/cjk/zh-en-cjk.yml
Due: snakemake-dry-run

Rework the GCP file structure browsing
  tracking/translations_parser/cli/experiments.py
Due: none

Add a way to hook into when read_lines switches locations
  pipeline/common/downloads.py
Due: snakemake-dry-run, taskgraph-definition

Provide a way to create a test fixture file with a list of strings
  tests/fixtures/__init__.py
Due: none

Add a min-fluency-threshold to monolingual datasets
  pipeline/data/download-mono.py
  taskcluster/configs/config.prod.yml
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
  taskcluster/translations_taskgraph/parameters.py
  tests/data/experiments_1_10/experiments/en-nl/prod/config.yml
  tests/data/experiments_1_12/experiments/fi-en/opusprod/config.yml
  tests/fixtures/config.pytest.yml
Due: snakemake-dry-run, taskgraph-definition

Address review feedback for hplt
  pipeline/clean/merge-mono.py
  pipeline/common/datasets.py
  pipeline/common/downloads.py
  pipeline/data/download-mono.py
  pipeline/data/importers/mono/hplt.py
  taskcluster/kinds/dataset/kind.yml
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

Add support for HPLT and OPUS monolingual data in the config generator
  pipeline/common/downloads.py
  pipeline/data/importers/mono/hplt.py
  utils/config_generator.py
  utils/find_corpus.py
Due: snakemake-dry-run, taskgraph-definition

Add an HPLT monolingual data importer
  pipeline/common/datasets.py
  pipeline/data/download-mono.py
  pipeline/data/importers/mono/hplt.py
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  taskcluster/configs/config.ci.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/translations_taskgraph/parameters.py
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.yml
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

Add hplt test data
  tests/data/corpus_samples/hplt-en_100.jsonl.zst
  tests/data/corpus_samples/hplt-en_101.jsonl.zst
  tests/data/corpus_samples/hplt-en_map.txt
  tests/data/corpus_samples/hplt-ru_10.jsonl.zst
  tests/data/corpus_samples/hplt-ru_11.jsonl.zst
  tests/data/corpus_samples/hplt-ru_map.txt
Due: none

Unify the hash_line uses with a WeakStringSet implementation
  pipeline/clean/merge-mono.py
  pipeline/common/datasets.py
  pipeline/data/importers/mono/hplt.py
  tests/test_common_datasets.py
Due: snakemake-dry-run, taskgraph-definition

Fixes
  tracking/translations_parser/cli/experiments.py
Due: none

Include quantized metrics
  tracking/translations_parser/publishers.py
Due: none

Update tests
  tests/test_tracking_cli.py
Due: none

Suffix W&B runs with task group ID for offline Taskcluster publication from GCP (#799)
  tests/test_tracking_cli.py
  tests/test_tracking_utils.py
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/publishers.py
  tracking/translations_parser/utils.py
Due: none

Add an HPLT data importer (#837)
  pipeline/clean/merge-mono.py
  pipeline/common/datasets.py
  pipeline/common/downloads.py
  pipeline/data/download-mono.py
  pipeline/data/importers/mono/hplt.py
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
  taskcluster/translations_taskgraph/parameters.py
  tests/data/corpus_samples/hplt-en_100.jsonl.zst
  tests/data/corpus_samples/hplt-en_101.jsonl.zst
  tests/data/corpus_samples/hplt-en_map.txt
  tests/data/corpus_samples/hplt-ru_10.jsonl.zst
  tests/data/corpus_samples/hplt-ru_11.jsonl.zst
  tests/data/corpus_samples/hplt-ru_map.txt
  tests/data/experiments_1_10/experiments/en-nl/prod/config.yml
  tests/data/experiments_1_12/experiments/fi-en/opusprod/config.yml
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.yml
  tests/test_common_datasets.py
  tests/test_data_importer.py
  utils/config_generator.py
  utils/find_corpus.py
Due: snakemake-dry-run, taskgraph-definition

Truncate the corpus sentences
  pipeline/clean/merge-corpus.sh
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/translations_taskgraph/parameters.py
Due: snakemake-dry-run, taskgraph-definition

Add more tests for training
  tests/test_training.py
Due: none

Add environment variables to all artifacts and fetches
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/collect-corpus/kind.yml
  taskcluster/kinds/collect-mono-src/kind.yml
  taskcluster/kinds/collect-mono-trg/kind.yml
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/train-vocab/kind.yml
Due: taskgraph-definition

Add a run_pipeline utility
  pipeline/common/processes.py
  tests/test_common_pipeline.py
Due: snakemake-dry-run, taskgraph-definition

Rewrite train.sh into train.py
  docs/opus-trainer.md
  docs/training-guide.md
  pipeline/train/configs/opustrainer/backward.yml
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.yml
  pipeline/train/train.py
  pipeline/train/train.sh
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/scripts/pipeline/train-taskcluster.sh
Due: snakemake-dry-run, taskgraph-definition

Add the pipeline to the PYTHONPATH
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
Due: taskgraph-definition

Ensure that the W&B tracker throws errors in CI
  pipeline/train/train.py
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/parser.py
Due: snakemake-dry-run, taskgraph-definition

Make opus have CI training stages
  pipeline/train/configs/opustrainer/backward.yml
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.yml
  pipeline/train/train.py
Due: snakemake-dry-run, taskgraph-definition

Add clipping to merge_corpus
  pipeline/clean/merge-corpus.sh
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/merge-devset/kind.yml
  tests/fixtures/__init__.py
  tests/test_merge_corpus.py
Due: snakemake-dry-run, taskgraph-definition
