Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Run shortlist on a 256 memory worker
  taskcluster/kinds/shortlist/kind.yml
Due: taskgraph-definition

Run all the alignments on workers with 512 GiB of memory
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
Due: taskgraph-definition

Refactor b-cpu-xlargedisk worker pools to allow for experimentation with different configurations (#674)
  taskcluster/config.yml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/shortlist/kind.yml
Due: taskgraph-definition

Retrigger CI
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Make mono shuffling deterministic to fix caching issues (#677)
  pipeline/clean/merge-mono.sh
  taskcluster/translations_taskgraph/parameters.py
Due: snakemake-dry-run, taskgraph-definition

Use caching for lt-en
  configs/spring-2024/lt-en-spring-2024.yml
Due: snakemake-dry-run

Fix group id
  configs/spring-2024/sv-en-spring-2024.yml
Due: snakemake-dry-run

Bump disk for scoring (#668)
  taskcluster/kinds/score/kind.yml
Due: taskgraph-definition

Actualize configs that were used in prod
  configs/spring-2024/en-uk-spring-2024.yml
  configs/spring-2024/hr-en-spring-2024.yml
Due: snakemake-dry-run

Support fetches in `dependencies_dummy`
  taskcluster/translations_taskgraph/transforms/dependency_dummies.py
Due: taskgraph-definition

Get rid of unnecessary 'task-defaults' in merge-corpus
  taskcluster/kinds/merge-corpus/kind.yml
Due: taskgraph-definition

Add post-bicleaner-dummy task to collect bicleaner tasks and artifacts into a smaller number of tasks
  taskcluster/kinds/post-bicleaner-dummy/kind.yml
  taskcluster/translations_taskgraph/transforms/from_datasets.py
Due: taskgraph-definition

merge-corpus: fetch bicleaner artifacts from `post-bicleaner-dummy` tasks
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/translations_taskgraph/transforms/fetches_from_upstream.py
Due: taskgraph-definition

Override the existing_tasks explicitly provided in the action's input
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Use existing task for teacher
  configs/spring-2024/uk-en-spring-2024.yml
Due: snakemake-dry-run

Bump memory for shortlist
  taskcluster/kinds/shortlist/kind.yml
Due: taskgraph-definition

Refactor b-cpu-xlargedisk worker pools to allow for experimentation with different configurations
  taskcluster/config.yml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/shortlist/kind.yml
Due: taskgraph-definition

Ensure 'dataset_category' attribute is available on dataset tasks
  taskcluster/kinds/dataset/kind.yml
  taskcluster/translations_taskgraph/transforms/set_dataset_category.py
Due: taskgraph-definition

Ensure dataset_sanitized is available in mono dataset task attributes
  taskcluster/translations_taskgraph/transforms/from_datasets.py
Due: taskgraph-definition

Remove unnecessary 'task-defaults' from merge-devset kind
  taskcluster/kinds/merge-devset/kind.yml
Due: taskgraph-definition

Replace find_upstreams with from_deps in merge-devset
  taskcluster/kinds/merge-devset/kind.yml
Due: taskgraph-definition

Remove now-unused 'find_upstreams' transform
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
Due: taskgraph-definition

Replace find_upstreams with from_deps in merge-mono
  taskcluster/kinds/merge-mono/kind.yml
Due: taskgraph-definition

Log the labels and task ids of any existing tasks that are overridden
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Use existing tasks to train the second teacher
  configs/spring-2024/da-en-spring-2024.yml
  configs/spring-2024/lt-en-spring-2024.yml
  configs/spring-2024/lv-en-spring-2024.yml
  configs/spring-2024/sv-en-spring-2024.yml
Due: snakemake-dry-run

Bump memory for shortlist (#685)
  taskcluster/kinds/shortlist/kind.yml
Due: taskgraph-definition

Bump taskcluster-taskgraph to 8.2.0 in poetry (#672)
  poetry.lock
  pyproject.toml
  taskcluster/kinds/tests/kind.yml
Due: taskgraph-definition

Refactor b-cpu-xlargedisk worker pools to allow for experimentation with different configurations (#686)
  taskcluster/config.yml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/shortlist/kind.yml
Due: taskgraph-definition

fix: Don't abort a training task entirely if a 4xx error is encountered when fetching an artifact from a previous run
  taskcluster/scripts/pipeline/train_taskcluster.py
  tests/test_train_taskcluster.py
Due: taskgraph-definition

fix: remove unused 'reasons_created' in train taskcluster tests
  tests/test_train_taskcluster.py
Due: none

chore: upgrade to Taskgraph 9
  .taskcluster.yml
  poetry.lock
  pyproject.toml
  taskcluster/requirements.in
  taskcluster/requirements.txt
Due: taskgraph-definition

chore: upgrade to Taskgraph 9 (#665)
  .taskcluster.yml
  poetry.lock
  pyproject.toml
  taskcluster/requirements.in
  taskcluster/requirements.txt
Due: taskgraph-definition

Override the existing_tasks explicitly provided in the action's input (#683)
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Retrain teacher 1
  configs/spring-2024/sl-en-spring-2024.yml
Due: snakemake-dry-run

Retrain both teachers
  configs/spring-2024/sv-en-spring-2024.yml
Due: snakemake-dry-run

Use Moses tokenization to calculate alignments
  docker/Dockerfile
  pipeline/alignments/align.py
  pipeline/alignments/requirements/alignments.in
  pipeline/alignments/requirements/alignments.txt
  poetry.lock
  pyproject.toml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  tests/test_aln_mapping.py
Due: snakemake-dry-run, taskgraph-definition

Revert dockerfile
  docker/Dockerfile
Due: none
