Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

snakemake-dry-run:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command:
    - bash
    - -c
  ...

taskgraph-definition:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    docker-image:
      in-tree: base
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: make validate-taskgraph

Add ability to switch to a one-stage teacher training
  docs/opus-trainer.md
  pipeline/train/configs/opustrainer/teacher.one-stage.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.yml
  pipeline/train/train.sh
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/scripts/pipeline/train-taskcluster.sh
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
Due: snakemake-dry-run, taskgraph-definition

Fix type name
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Update more configs
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
Due: taskgraph-definition

Override W&B data on a resumed training
  tracking/translations_parser/publishers.py
Due: none

Suggestions
  tracking/translations_parser/publishers.py
Due: none

Configure evaluation tasks
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
Due: taskgraph-definition

Extract w&b code into module
  pipeline/eval/eval.py
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/wandb.py
Due: snakemake-dry-run, taskgraph-definition

Publish evaluation metrics to W&B
  pipeline/eval/eval.py
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Do not check taskcluwter when publication is disabled
  tracking/translations_parser/wandb.py
Due: none

Fix running eval tracking on CI
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
Due: taskgraph-definition

TRASHME test parameters to trigger train in CI
  taskcluster/translations_taskgraph/parameters.py
  tracking/translations_parser/wandb.py
Due: taskgraph-definition

Refactor the training continuation code
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: taskgraph-definition

Experiment 1 - Early stopping 20 - 2 step training
  taskcluster/configs/config.prod.yml
Due: taskgraph-definition

Experiment 2 - Early stopping 40 - 2 step training
  taskcluster/configs/config.prod.yml
Due: taskgraph-definition

Add file overrides for training continuation
  docs/using-pretrained-models.md
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: taskgraph-definition

Set the en-fi config
  taskcluster/configs/config.prod.yml
Due: taskgraph-definition

Remove erroneous chunks
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: taskgraph-definition

Bust the cache
  pipeline/train/configs/model/backward.yml
Due: snakemake-dry-run, taskgraph-definition

Add extra argument
  tests/test_train_taskcluster.py
Due: none

Bust the cache2
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Override W&B data on a resumed training (#595)
  tracking/translations_parser/publishers.py
Due: none

Add ability to switch to a one-stage teacher training (#596)
  docs/opus-trainer.md
  pipeline/train/configs/opustrainer/teacher.one-stage.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.yml
  pipeline/train/train.sh
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/scripts/pipeline/train-taskcluster.sh
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  tests/test_train_taskcluster.py
Due: snakemake-dry-run, taskgraph-definition

WIP
  tests/test_training_continuation.py
Due: none

Update name detection from tasks
  tracking/translations_parser/utils.py
Due: none

Update other tests
  tests/test_tracking_utils.py
Due: none

Add test
  tests/test_tracking_utils.py
Due: none

Suggestions
  tests/test_tracking_utils.py
  tracking/translations_parser/utils.py
Due: none

Support renaming for old experiments and quantized run for consistency
  tests/test_tracking_cli.py
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/publishers.py
  tracking/translations_parser/utils.py
Due: none

Update tests
  tests/test_tracking_cli.py
  tests/test_tracking_utils.py
Due: none

Fixes
  tests/test_tracking_cli.py
  tracking/translations_parser/publishers.py
Due: none

Only run COMET once in tests
  pipeline/eval/eval.py
  tests/test_eval.py
Due: snakemake-dry-run, taskgraph-definition

Re-generate eval.txt
  pipeline/eval/requirements/eval.txt
Due: snakemake-dry-run, taskgraph-definition

Expand out the environment variables in run_task
  tests/fixtures/__init__.py
Due: none

Add the "slow" marker
  pyproject.toml
  tests/test_eval.py
Due: none

Add COMET support
  pipeline/eval/eval.py
  pipeline/eval/requirements/eval.in
  pipeline/eval/requirements/eval.txt
  tests/test_eval.py
Due: snakemake-dry-run, taskgraph-definition

Update the eval.txt file
  pipeline/eval/requirements/eval.txt
Due: snakemake-dry-run, taskgraph-definition

Switch print to the logger in eval
  pipeline/eval/eval.py
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Fix GPUs argument
  pipeline/eval/eval.py
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  tests/test_eval.py
Due: snakemake-dry-run, taskgraph-definition

Path conditions:
  snakemake-dry-run: any of: pipeline/**, envs/**, configs/**
  taskgraph-definition: any of: pipeline/**, taskcluster/**
