Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Use 1 gpu for laser
  taskcluster/kinds/laser/kind.yml
Due: taskgraph-definition

Disable default config
  pipeline/clean/opusfilter/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Fix worker name
  taskcluster/kinds/laser/kind.yml
Due: taskgraph-definition

Plot clustering
  pipeline/clean/opusfilter/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Add logging
  pipeline/clean/opusfilter/score.sh
Due: snakemake-dry-run, taskgraph-definition

Fix logging
  pipeline/clean/opusfilter/score.sh
Due: snakemake-dry-run, taskgraph-definition

Add log hist
  pipeline/clean/opusfilter/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Fix cached scores filter
  pipeline/clean/opusfilter/customfilter.py
Due: snakemake-dry-run, taskgraph-definition

Save samples
  pipeline/clean/opusfilter/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Revert unnecessary change to docker image
  taskcluster/docker/train/Dockerfile
Due: taskgraph-definition

Revert unnecessary change to docker image (#535)
  taskcluster/docker/train/Dockerfile
Due: taskgraph-definition

Trigger CI
  pipeline/clean/opusfilter/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Revert cpu workers
  taskcluster/config.yml
Due: taskgraph-definition

Revert change to generic-worker for CPU tasks
  taskcluster/config.yml
Due: taskgraph-definition

Revert change to generic-worker for CPU tasks (#536)
  taskcluster/config.yml
Due: taskgraph-definition

Disable laser and bicleaner
  Taskfile.yml
  pipeline/clean/opusfilter/cache.py
  pipeline/clean/opusfilter/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Enable default config
  pipeline/clean/opusfilter/clean-corpus.sh
  pipeline/clean/opusfilter/default.yml
Due: snakemake-dry-run, taskgraph-definition

Disable caches
  pipeline/clean/opusfilter/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Fix default config
  pipeline/clean/opusfilter/default.yml
Due: snakemake-dry-run, taskgraph-definition

Enable laser bicleaner
  pipeline/clean/opusfilter/clean-corpus.sh
  pipeline/clean/opusfilter/default.yml
Due: snakemake-dry-run, taskgraph-definition

Disable feature selection, enable tuning
  pipeline/clean/opusfilter/autogen.py
  pipeline/clean/opusfilter/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Set WandB group & run name
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Move trigger control to python
  pipeline/train/train.sh
  tracking/translations_parser/cli/taskcluster.py
Due: snakemake-dry-run, taskgraph-definition

Convert Taskcluster trigger from transform to to kind
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/translations_taskgraph/transforms/worker_env.py
Due: taskgraph-definition

Update test fixture
  tests/data/experiments_wandb_calls_1_12.json
Due: none

Make perplexity optional
  tracking/translations_parser/data.py
  tracking/translations_parser/parser.py
Due: none

Correct project name
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Support recursive join on tags
  tracking/translations_parser/parser.py
Due: none

Use taskcluster group logic to build task name
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/utils.py
Due: none

Skip publication on unit tests
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Do not use taskcluster filtering with --from-stream
  tracking/translations_parser/cli/taskcluster.py
Due: none

Fix lint
  tracking/translations_parser/parser.py
Due: none

More debugging lines
  tracking/translations_parser/parser.py
Due: none

Direct secret usage
  tracking/translations_parser/cli/taskcluster.py
Due: none

Redirect opustrainer stderr to stdout
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Setup tracking on all training tasks
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
Due: taskgraph-definition

Bashism
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Log marian lines in verbose output
  pipeline/train/train.sh
  tracking/translations_parser/parser.py
Due: snakemake-dry-run, taskgraph-definition

Fix test
  tests/test_tracking_cli.py
  tracking/translations_parser/parser.py
Due: none

Log raw lines & add prefix to our own logging
  tracking/translations_parser/__init__.py
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/data.py
  tracking/translations_parser/parser.py
  tracking/translations_parser/publishers.py
  tracking/translations_parser/utils.py
Due: none
