Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Remove WASM dependency on ssplit
  inference/3rd_party/CMakeLists.txt
  inference/CMakeLists.txt
  inference/src/translator/CMakeLists.txt
  inference/src/translator/text_processor.h
Due: none

Add capability to register languages
  inference/src/translator/annotation.h
  inference/src/translator/response_builder.h
  inference/src/translator/text_processor.h
  inference/src/translator/translation_model.cpp
  inference/src/translator/translation_model.h
Due: none

Rework TranslationsEngine to utilize new bindings
  inference/wasm/tests/engine/translations-engine.mjs
  inference/wasm/tests/engine/translations-engine.worker.mjs
Due: none

Implement WASM segmentation with `Intl.Segmenter`
  inference/src/tests/units/html_tests.cpp
  inference/src/translator/annotation.cpp
  inference/src/translator/annotation.h
  inference/src/translator/response_builder.cpp
  inference/src/translator/text_processor.cpp
  inference/src/translator/text_processor.h
Due: none

Update WASM Bindings
  inference/wasm/bindings/bergamot-translator.d.ts
  inference/wasm/bindings/service_bindings.cpp
Due: none

Insert whitespace between full-width punctuation and opening quotes
  inference/wasm/tests/engine/translations-engine.worker.mjs
  inference/wasm/tests/test-cases/translate-quotes-after-full-width-puncutation.test.mjs
Due: none

Bump Bergamot Version 0.4.5 => 0.5.0
  inference/BERGAMOT_VERSION
Due: none

Add `zhen` test model files
  inference/wasm/tests/models/zhen/lex.50.50.zhen.s2t.bin.gz
  inference/wasm/tests/models/zhen/model.zhen.intgemm.alphas.bin.gz
  inference/wasm/tests/models/zhen/vocab.zhen.spm.gz
Due: none

Add makeshift `enzh` tests
  inference/wasm/tests/test-cases/translate-html-multi-paragraph-no-pivot.test.mjs
  inference/wasm/tests/test-cases/translate-html-multi-paragraph-with-pivot.test.mjs
  inference/wasm/tests/test-cases/translate-html-multi-sentence-no-pivot.test.mjs
  inference/wasm/tests/test-cases/translate-html-multi-sentence-with-pivot.test.mjs
  inference/wasm/tests/test-cases/translate-plain-text-multi-paragraph-no-pivot.test.mjs
  inference/wasm/tests/test-cases/translate-plain-text-multi-paragraph-with-pivot.test.mjs
  inference/wasm/tests/test-cases/translate-plain-text-multi-sentence-no-pivot.test.mjs
  inference/wasm/tests/test-cases/translate-plain-text-multi-sentence-with-pivot.test.mjs
Due: none

Add temporary `enzh` models for testing
  inference/wasm/tests/models/enzh/lex.50.50.enzh.s2t.bin.gz
  inference/wasm/tests/models/enzh/model.enzh.intgemm.alphas.bin.gz
  inference/wasm/tests/models/enzh/vocab.enzh.spm.gz
Due: none

Add pyright as a dependency
  poetry.lock
  pyproject.toml
Due: none

Add the utils folder to be type checked
  pipeline/common/downloads.py
  pyproject.toml
  utils/build-mono-nllb.py
  utils/config_generator.py
  utils/download_hplt.py
  utils/find_corpus.py
  utils/preflight_check.py
  utils/run_model.py
  utils/taskcluster_downloader.py
  utils/tb_log_parser.py
  utils/trigger_training.py
Due: snakemake-dry-run, taskgraph-definition

Add pyright to Taskfile and to CI
  Taskfile.yml
  taskcluster/kinds/tests/kind.yml
Due: taskgraph-definition

Fix parser
  tracking/translations_parser/parser.py
Due: none

fix: use base repo name for project in pull requests
  .taskcluster.yml
Due: none

fix: use base repo name for project in pull requests (#954)
  .taskcluster.yml
Due: none

fix: set permission for train action
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

chore: bump taskgraph in poetry requirements
  poetry.lock
  pyproject.toml
Due: none

fix: set permission for train action (#953)
  poetry.lock
  pyproject.toml
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Fix the dependencies for type checking
  Taskfile.yml
  poetry.lock
  pyproject.toml
  utils/tb_log_parser.py
Due: none

Add pyright to check python types (#952)
  Taskfile.yml
  pipeline/common/downloads.py
  poetry.lock
  pyproject.toml
  taskcluster/kinds/tests/kind.yml
  utils/build-mono-nllb.py
  utils/config_generator.py
  utils/download_hplt.py
  utils/find_corpus.py
  utils/preflight_check.py
  utils/run_model.py
  utils/taskcluster_downloader.py
  utils/tb_log_parser.py
  utils/trigger_training.py
Due: snakemake-dry-run, taskgraph-definition

Fix space omission when translating into CJK languages
  inference/src/translator/annotation.cpp
Due: none

Fix space omission when translating into CJK languages (#956)
  inference/src/translator/annotation.cpp
Due: none

Add kinto-http
  poetry.lock
  pyproject.toml
Due: none

Add pydantic dependency
  poetry.lock
  pyproject.toml
Due: none

Add local remote settings
  Taskfile.yml
  utils/common/remote_settings.py
  utils/common/taskcluster_api.py
  utils/local_remote_settings/__main__.py
  utils/local_remote_settings/mount/translations.ini
Due: none

Add a warning when train- is the target stage rather than evalute- (#951)
  utils/trigger_training.py
Due: none

Remove Korean from space-omission languages
  inference/src/translator/annotation.cpp
Due: none

Fix new lines
  pipeline/alignments/tokenizer.py
Due: snakemake-dry-run, taskgraph-definition

Remove Korean from space-omission languages (#958)
  inference/src/translator/annotation.cpp
Due: none

Re-work the marian-decoder fixture to correctly output nbest
  pipeline/common/marian.py
  tests/fixtures/marian-decoder
  tests/test_common_marian.py
  tests/test_eval.py
Due: snakemake-dry-run, taskgraph-definition

WANDB Test failure
  pipeline/eval/eval.py
Due: snakemake-dry-run, taskgraph-definition

Add compress and decompress common utilities
  pipeline/common/datasets.py
  tests/test_common_datasets.py
Due: snakemake-dry-run, taskgraph-definition

Use decompression utilities everywhere
  pipeline/alignments/align.py
  tests/test_bicleaner.py
  tests/test_split_collect.py
Due: snakemake-dry-run, taskgraph-definition

Rename DataDir.load to DataDir.read_text and allow for reading compressed files
  tests/fixtures/__init__.py
  tests/test_data_importer.py
  tests/test_eval.py
  tests/test_merge_corpus.py
  tests/test_merge_mono.py
Due: none

Add a requirements file for ctranslate2
  pipeline/translate/requirements/translate-ctranslate2.in
  pipeline/translate/requirements/translate-ctranslate2.txt
Due: snakemake-dry-run, taskgraph-definition
