Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

snakemake-dry-run:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command:
    - bash
    - -c
  ...

taskgraph-definition:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    docker-image:
      in-tree: base
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: make validate-taskgraph

Change CI target
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Address review comments to review the && support for tasks
  pipeline/data/analyze.py
  taskcluster/kinds/analyze-corpus/kind.yml
  tests/fixtures/__init__.py
Due: snakemake-dry-run, taskgraph-definition

Add parallel stats to the analyze task (#500)
  pipeline/data/analyze.py
  taskcluster/config.yml
  taskcluster/kinds/all-pr/kind.yml
  taskcluster/kinds/all/kind.yml
  taskcluster/kinds/analyze-corpus/kind.yml
  taskcluster/kinds/analyze-mono/kind.yml
  tests/fixtures/__init__.py
  tests/test_analyze.py
  tests/test_analyze_mono.py
Due: snakemake-dry-run, taskgraph-definition

Allow docker to work on git files when there is a mismatch between system user/group and Docker user/group
  .dockerignore
  docker/Dockerfile
Due: none

Update the Dockerfiles for the Taskfile
  docker/Dockerfile
  taskcluster/docker/test/Dockerfile
Due: taskgraph-definition

Remove the Makefile
  Makefile
Due: none

Add default test paths so that "task test" can run with no arguments
  pyproject.toml
Due: none

Update documentation to refer to tasks rather than make and poetry run
  docs/cleaning.md
  docs/data.md
  docs/development.md
  docs/training-guide.md
  utils/find_corpus.py
  utils/preflight_check.py
Due: none

Fix some task dependencies in pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

Add the Taskfile.yml
  Taskfile.yml
  utils/tasks/black-check.sh
  utils/tasks/docker-build.sh
  utils/tasks/docker-run.sh
  utils/tasks/docker-setup.sh
  utils/tasks/serve-docs.sh
Due: none

Disable virtual environments in docker to not re-use any venvs co-located in the root directory
  docker/Dockerfile
  utils/tasks/docker-setup.sh
Due: none

Add documentation for installing Taskfile
  docs/development.md
Due: none

Fix the variables in the taskfile to use defaults
  Taskfile.yml
Due: none

Update download-logs task to show output on a noop
  utils/taskcluster_downloader.py
Due: none

Change the docker image for taskcluster tasks
  taskcluster/kinds/tests/kind.yml
Due: taskgraph-definition

Update the CI to use Taskfile
  taskcluster/kinds/tests/kind.yml
Due: taskgraph-definition

Create a script for running a marian model
  Taskfile.yml
  docker/Dockerfile
  utils/run_model.py
Due: none

Complete the script documentation for utils/run_model.py
  utils/run_model.py
Due: none

Remove the Makefile and replace it with a Taskfile (#510)
  .dockerignore
  Makefile
  Taskfile.yml
  docker/Dockerfile
  docs/cleaning.md
  docs/data.md
  docs/development.md
  docs/training-guide.md
  poetry.lock
  pyproject.toml
  taskcluster/docker/test/Dockerfile
  taskcluster/kinds/tests/kind.yml
  utils/find_corpus.py
  utils/preflight_check.py
  utils/run_model.py
  utils/taskcluster_downloader.py
  utils/tasks/black-check.sh
  utils/tasks/docker-build.sh
  utils/tasks/docker-run.sh
  utils/tasks/docker-setup.sh
  utils/tasks/serve-docs.sh
Due: taskgraph-definition

Fix tensorboard
  Makefile
  utils/tb_log_parser.py
Due: none

Enable opus filter
  taskcluster/kinds/clean-corpus/kind.yml
Due: taskgraph-definition

Increase time limit
  taskcluster/kinds/clean-corpus/kind.yml
Due: taskgraph-definition

use spot for everything
  taskcluster/config.yml
Due: taskgraph-definition

Fix parameters to use correct target tasks method
  taskcluster/test/params/small-ru-en.yml
Due: taskgraph-definition

Add custom filters
  pipeline/clean/opuscleaner/configs/en-ru/opus_CCAligned-v1.en-ru.filters.json
  pipeline/clean/opuscleaner/configs/en-ru/opus_LinguaTools-WikiTitles-v2014.en-ru.filters.json
  pipeline/clean/opuscleaner/configs/en-ru/opus_NLLB-v1.en-ru.filters.json
  pipeline/clean/opuscleaner/configs/en-ru/opus_OpenSubtitles-v2018.en-ru.filters.json
  pipeline/clean/opuscleaner/configs/en-ru/opus_ParaCrawl-v9.en-ru.filters.json
  pipeline/clean/opuscleaner/configs/en-ru/opus_UNPC-v1.0.en-ru.filters.json
  pipeline/clean/opuscleaner/configs/en-ru/opus_XLEnt-v1.2.en-ru.filters.json
  pipeline/clean/opuscleaner/configs/preprocess.filters.json
  pipeline/clean/opuscleaner/configs/ru-en/opus_ELRC-3075-wikipedia_health-v1.ru-en.filters.json
  taskcluster/kinds/clean-corpus/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Fix typo
  taskcluster/kinds/clean-corpus/kind.yml
Due: taskgraph-definition

Pre download fast text model
  pipeline/clean/opuscleaner/clean-corpus.sh
  taskcluster/kinds/clean-corpus/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Switch to default filters
  pipeline/clean/opuscleaner/configs/en-ru_tmp/opus_CCAligned-v1.en-ru.filters.json
  pipeline/clean/opuscleaner/configs/en-ru_tmp/opus_LinguaTools-WikiTitles-v2014.en-ru.filters.json
  pipeline/clean/opuscleaner/configs/en-ru_tmp/opus_NLLB-v1.en-ru.filters.json
  pipeline/clean/opuscleaner/configs/en-ru_tmp/opus_OpenSubtitles-v2018.en-ru.filters.json
  pipeline/clean/opuscleaner/configs/en-ru_tmp/opus_ParaCrawl-v9.en-ru.filters.json
  pipeline/clean/opuscleaner/configs/en-ru_tmp/opus_UNPC-v1.0.en-ru.filters.json
  pipeline/clean/opuscleaner/configs/en-ru_tmp/opus_XLEnt-v1.2.en-ru.filters.json
  taskcluster/kinds/clean-corpus/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Direct secret usage
  tracking/translations_parser/cli/taskcluster.py
Due: none

Enable verbose mode
  pipeline/train/train.sh
  tracking/translations_parser/parser.py
Due: snakemake-dry-run, taskgraph-definition

Redirect opustrainer stderr to stdout
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Support recursive join on tags
  tracking/translations_parser/parser.py
Due: none

More debugging lines
  tracking/translations_parser/parser.py
Due: none

Do not use taskcluster filtering with --from-stream
  tracking/translations_parser/cli/taskcluster.py
Due: none

Configure Taskcluster secret for w&b through taskgraph transform
  pipeline/train/train.sh
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/translations_taskgraph/transforms/worker_env.py
  tracking/translations_parser/cli/taskcluster.py
Due: snakemake-dry-run, taskgraph-definition

Log marian lines in verbose output
  pipeline/train/train.sh
  tracking/translations_parser/parser.py
Due: snakemake-dry-run, taskgraph-definition

Fix test
  tests/test_tracking_cli.py
  tracking/translations_parser/parser.py
Due: none

Tweak training parameters
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Other training params
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Path conditions:
  snakemake-dry-run: any of: pipeline/**, envs/**, configs/**
  taskgraph-definition: any of: pipeline/**, taskcluster/**
