Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

snakemake-dry-run:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command:
    - bash
    - -c
  ...

taskgraph-definition:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    docker-image:
      in-tree: base
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: make validate-taskgraph

Run linter
  pipeline/eval/eval.py
  tracking/translations_parser/utils.py
Due: snakemake-dry-run, taskgraph-definition

Revert "Enable publication"
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Fix import
  tracking/translations_parser/cli/taskcluster.py
Due: none

Run linter
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/utils.py
Due: none

Publish comet metrics (#621)
  pipeline/eval/eval.py
  tracking/translations_parser/data.py
  tracking/translations_parser/publishers.py
  tracking/translations_parser/utils.py
Due: snakemake-dry-run, taskgraph-definition

Publish config first
  tracking/translations_parser/cli/taskcluster.py
Due: none

Revert "TRASHME test parameters to trigger train in CI"
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Publish experiment config from taskcluster training task (group_logs) (#602)
  pipeline/train/train.sh
  tests/test_tracking_cli.py
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/utils.py
Due: snakemake-dry-run, taskgraph-definition

Avoid publishing experiment config when W&B publication is disabled
  tracking/translations_parser/cli/taskcluster.py
Due: none

TRASHME Reproduce issue with train-backwards
  taskcluster/kinds/train-backwards/kind.yml
Due: taskgraph-definition

Revert "TRASHME Reproduce issue with train-backwards"
  taskcluster/kinds/train-backwards/kind.yml
Due: taskgraph-definition

Avoid publishing experiment config when W&B publication is disabled (#627)
  tracking/translations_parser/cli/taskcluster.py
Due: none

Retry tasks on exit code 128 to work around intermittent issues with DNS failures
  .taskcluster.yml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/analyze-corpus/kind.yml
  taskcluster/kinds/analyze-mono/kind.yml
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/cefilter/kind.yml
  taskcluster/kinds/clean-corpus/kind.yml
  taskcluster/kinds/clean-mono/kind.yml
  taskcluster/kinds/collect-corpus/kind.yml
  taskcluster/kinds/collect-mono-src/kind.yml
  taskcluster/kinds/collect-mono-trg/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/extract-best/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/merge-devset/kind.yml
  taskcluster/kinds/merge-mono/kind.yml
  taskcluster/kinds/merge-translated/kind.yml
  taskcluster/kinds/quantize/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/shortlist/kind.yml
  taskcluster/kinds/split-corpus/kind.yml
  taskcluster/kinds/split-mono-src/kind.yml
  taskcluster/kinds/split-mono-trg/kind.yml
  taskcluster/kinds/tests/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/train-vocab/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
Due: taskgraph-definition

Retry tasks on exit code 128 to work around intermittent issues with DNS failures (#624)
  .taskcluster.yml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/analyze-corpus/kind.yml
  taskcluster/kinds/analyze-mono/kind.yml
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/cefilter/kind.yml
  taskcluster/kinds/clean-corpus/kind.yml
  taskcluster/kinds/clean-mono/kind.yml
  taskcluster/kinds/collect-corpus/kind.yml
  taskcluster/kinds/collect-mono-src/kind.yml
  taskcluster/kinds/collect-mono-trg/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/extract-best/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/merge-devset/kind.yml
  taskcluster/kinds/merge-mono/kind.yml
  taskcluster/kinds/merge-translated/kind.yml
  taskcluster/kinds/quantize/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/shortlist/kind.yml
  taskcluster/kinds/split-corpus/kind.yml
  taskcluster/kinds/split-mono-src/kind.yml
  taskcluster/kinds/split-mono-trg/kind.yml
  taskcluster/kinds/tests/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/train-vocab/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
Due: taskgraph-definition

Revert CPU generic workers
  taskcluster/config.yml
Due: taskgraph-definition

Trigger CI
  pipeline/clean/opuscleaner/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Update the configs
  configs/bs-en-spring-2024.yml
  configs/ca-en-spring-2024.yml
  configs/cs-en-spring-2024.yml
  configs/da-en-spring-2024.yml
  configs/el-en-spring-2024.yml
  configs/en-bs-spring-2024.yml
  configs/en-ca-spring-2024.yml
  configs/en-cs-spring-2024.yml
  configs/en-da-spring-2024.yml
  configs/en-el-spring-2024.yml
  configs/en-fi-spring-2024.yml
  configs/en-hr-spring-2024.yml
  configs/en-hu-spring-2024.yml
  configs/en-id-spring-2024.yml
  configs/en-lt-spring-2024.yml
  configs/en-lv-spring-2024.yml
  configs/en-ro-spring-2024.yml
  configs/en-ru-spring-2024.yml
  configs/en-sk-spring-2024.yml
  configs/en-sl-spring-2024.yml
  configs/en-sr-spring-2024.yml
  configs/en-sv-spring-2024.yml
  configs/en-tr-spring-2024.yml
  configs/en-uk-spring-2024.yml
  configs/en-vi-spring-2024.yml
  configs/hr-en-spring-2024.yml
  configs/id-en-spring-2024.yml
  configs/lt-en-spring-2024.yml
  configs/lv-en-spring-2024.yml
  configs/ro-en-spring-2024.yml
  configs/sk-en-spring-2024.yml
  configs/sl-en-spring-2024.yml
  configs/sr-en-spring-2024.yml
  configs/sv-en-spring-2024.yml
  configs/tr-en-spring-2024.yml
  configs/vi-en-spring-2024.yml
Due: snakemake-dry-run

Create a util to automatically generate configs
  Taskfile.yml
  poetry.lock
  pyproject.toml
  taskcluster/configs/config.prod.yml
  utils/config_generator.py
  utils/find_corpus.py
Due: taskgraph-definition

Update the config generation script
  utils/config_generator.py
Due: none

Add the generated configs
  configs/bs-en-spring-2024.yml
  configs/ca-en-spring-2024.yml
  configs/cs-en-spring-2024.yml
  configs/da-en-spring-2024.yml
  configs/el-en-spring-2024.yml
  configs/en-bs-spring-2024.yml
  configs/en-ca-spring-2024.yml
  configs/en-cs-spring-2024.yml
  configs/en-da-spring-2024.yml
  configs/en-el-spring-2024.yml
  configs/en-fi-spring-2024.yml
  configs/en-hr-spring-2024.yml
  configs/en-hu-spring-2024.yml
  configs/en-id-spring-2024.yml
  configs/en-lt-spring-2024.yml
  configs/en-lv-spring-2024.yml
  configs/en-ro-spring-2024.yml
  configs/en-ru-spring-2024.yml
  configs/en-sk-spring-2024.yml
  configs/en-sl-spring-2024.yml
  configs/en-sr-spring-2024.yml
  configs/en-sv-spring-2024.yml
  configs/en-tr-spring-2024.yml
  configs/en-uk-spring-2024.yml
  configs/en-vi-spring-2024.yml
  configs/hr-en-spring-2024.yml
  configs/id-en-spring-2024.yml
  configs/lt-en-spring-2024.yml
  configs/lv-en-spring-2024.yml
  configs/ro-en-spring-2024.yml
  configs/sk-en-spring-2024.yml
  configs/sl-en-spring-2024.yml
  configs/sr-en-spring-2024.yml
  configs/sv-en-spring-2024.yml
  configs/tr-en-spring-2024.yml
  configs/vi-en-spring-2024.yml
Due: snakemake-dry-run

Update the configs
  configs/bs-en-spring-2024.yml
  configs/cs-en-spring-2024.yml
  configs/da-en-spring-2024.yml
  configs/el-en-spring-2024.yml
  configs/en-bs-spring-2024.yml
  configs/en-cs-spring-2024.yml
  configs/en-da-spring-2024.yml
  configs/en-el-spring-2024.yml
  configs/en-fi-spring-2024.yml
  configs/en-hr-spring-2024.yml
  configs/en-hu-spring-2024.yml
  configs/en-id-spring-2024.yml
  configs/en-lt-spring-2024.yml
  configs/en-lv-spring-2024.yml
  configs/en-ro-spring-2024.yml
  configs/en-sk-spring-2024.yml
  configs/en-sl-spring-2024.yml
  configs/en-sr-spring-2024.yml
  configs/en-sv-spring-2024.yml
  configs/en-tr-spring-2024.yml
  configs/en-uk-spring-2024.yml
  configs/en-vi-spring-2024.yml
  configs/hr-en-spring-2024.yml
  configs/id-en-spring-2024.yml
  configs/lt-en-spring-2024.yml
  configs/lv-en-spring-2024.yml
  configs/ro-en-spring-2024.yml
  configs/ru-en-spring-2024.yml
  configs/sk-en-spring-2024.yml
  configs/sl-en-spring-2024.yml
  configs/sr-en-spring-2024.yml
  configs/sv-en-spring-2024.yml
  configs/tr-en-spring-2024.yml
  configs/vi-en-spring-2024.yml
Due: snakemake-dry-run

Fix find_corpus test
  tests/test_find_corpus.py
  utils/find_corpus.py
Due: none

Address review comments for the config generator
  utils/config_generator.py
  utils/find_corpus.py
Due: none

Add prod configs
  configs/en-lt-spring-2024.yml
  configs/en-ru-spring-2024.yml
  configs/en-uk-spring-2024.yml
Due: snakemake-dry-run

Skip unrelated tasks in taskcluster group publication
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/utils.py
Due: none

Fix typo
  tracking/translations_parser/cli/taskcluster_group.py
Due: none

Revert CPU generic workers (#629)
  pipeline/clean/opuscleaner/clean-corpus.sh
  taskcluster/config.yml
Due: snakemake-dry-run, taskgraph-definition

Add missing validation metrics
  tracking/translations_parser/data.py
  tracking/translations_parser/parser.py
Due: none

Update test fixtures for W&B
  tests/data/experiments_wandb_calls_1_10.json
  tests/data/experiments_wandb_calls_1_12.json
Due: none

Update tests
  tests/data/experiments_wandb_calls_1_10.json
  tests/data/experiments_wandb_calls_1_12.json
  tests/data/taskcluster_wandb_calls.json
Due: none

Support learning rate
  tracking/translations_parser/data.py
  tracking/translations_parser/parser.py
Due: none

Allow validation entries missing stalled value
  tracking/translations_parser/parser.py
Due: none

Add bypasses for known bad mtdata sizes, and fix an mtdata logic issue
  utils/config_generator.py
Due: none

Update the configs for the mtdata tedtalks issue
  configs/bs-en-spring-2024.yml
  configs/cs-en-spring-2024.yml
  configs/da-en-spring-2024.yml
  configs/el-en-spring-2024.yml
  configs/en-bs-spring-2024.yml
  configs/en-cs-spring-2024.yml
  configs/en-da-spring-2024.yml
  configs/en-el-spring-2024.yml
  configs/en-fi-spring-2024.yml
  configs/en-hr-spring-2024.yml
  configs/en-hu-spring-2024.yml
  configs/en-id-spring-2024.yml
  configs/en-lt-spring-2024.yml
  configs/en-lv-spring-2024.yml
  configs/en-ro-spring-2024.yml
  configs/en-ru-spring-2024.yml
  configs/en-sk-spring-2024.yml
  configs/en-sl-spring-2024.yml
  configs/en-sr-spring-2024.yml
  configs/en-sv-spring-2024.yml
  configs/en-tr-spring-2024.yml
  configs/en-uk-spring-2024.yml
  configs/en-vi-spring-2024.yml
  configs/hr-en-spring-2024.yml
  configs/id-en-spring-2024.yml
  configs/lt-en-spring-2024.yml
  configs/lv-en-spring-2024.yml
  configs/ro-en-spring-2024.yml
  configs/ru-en-spring-2024.yml
  configs/sk-en-spring-2024.yml
  configs/sl-en-spring-2024.yml
  configs/sr-en-spring-2024.yml
  configs/sv-en-spring-2024.yml
  configs/tr-en-spring-2024.yml
  configs/vi-en-spring-2024.yml
Due: snakemake-dry-run

Fix whitespace
  utils/config_generator.py
Due: none

Fix config generation for ted talks and hide known inaccurate sizes (#641)
  configs/bs-en-spring-2024.yml
  configs/cs-en-spring-2024.yml
  configs/da-en-spring-2024.yml
  configs/el-en-spring-2024.yml
  configs/en-bs-spring-2024.yml
  configs/en-cs-spring-2024.yml
  configs/en-da-spring-2024.yml
  configs/en-el-spring-2024.yml
  configs/en-fi-spring-2024.yml
  configs/en-hr-spring-2024.yml
  configs/en-hu-spring-2024.yml
  configs/en-id-spring-2024.yml
  configs/en-lt-spring-2024.yml
  configs/en-lv-spring-2024.yml
  configs/en-ro-spring-2024.yml
  configs/en-ru-spring-2024.yml
  configs/en-sk-spring-2024.yml
  configs/en-sl-spring-2024.yml
  configs/en-sr-spring-2024.yml
  configs/en-sv-spring-2024.yml
  configs/en-tr-spring-2024.yml
  configs/en-uk-spring-2024.yml
  configs/en-vi-spring-2024.yml
  configs/hr-en-spring-2024.yml
  configs/id-en-spring-2024.yml
  configs/lt-en-spring-2024.yml
  configs/lv-en-spring-2024.yml
  configs/ro-en-spring-2024.yml
  configs/ru-en-spring-2024.yml
  configs/sk-en-spring-2024.yml
  configs/sl-en-spring-2024.yml
  configs/sr-en-spring-2024.yml
  configs/sv-en-spring-2024.yml
  configs/tr-en-spring-2024.yml
  configs/vi-en-spring-2024.yml
  utils/config_generator.py
Due: snakemake-dry-run

Update the config generator to remove 404s, and improve the Content-Length lookup
  utils/config_generator.py
  utils/find_corpus.py
Due: none

Update the configs
  configs/bs-en-spring-2024.yml
  configs/cs-en-spring-2024.yml
  configs/da-en-spring-2024.yml
  configs/el-en-spring-2024.yml
  configs/en-bs-spring-2024.yml
  configs/en-cs-spring-2024.yml
  configs/en-da-spring-2024.yml
  configs/en-el-spring-2024.yml
  configs/en-fi-spring-2024.yml
  configs/en-hr-spring-2024.yml
  configs/en-hu-spring-2024.yml
  configs/en-id-spring-2024.yml
  configs/en-lt-spring-2024.yml
  configs/en-lv-spring-2024.yml
  configs/en-ro-spring-2024.yml
  configs/en-ru-spring-2024.yml
  configs/en-sk-spring-2024.yml
  configs/en-sl-spring-2024.yml
  configs/en-sr-spring-2024.yml
  configs/en-sv-spring-2024.yml
  configs/en-tr-spring-2024.yml
  configs/en-uk-spring-2024.yml
  configs/en-vi-spring-2024.yml
  configs/hr-en-spring-2024.yml
  configs/id-en-spring-2024.yml
  configs/lt-en-spring-2024.yml
  configs/lv-en-spring-2024.yml
  configs/ro-en-spring-2024.yml
  configs/ru-en-spring-2024.yml
  configs/sk-en-spring-2024.yml
  configs/sl-en-spring-2024.yml
  configs/sr-en-spring-2024.yml
  configs/sv-en-spring-2024.yml
  configs/tr-en-spring-2024.yml
  configs/vi-en-spring-2024.yml
Due: snakemake-dry-run

Update the config generator to remove 404s, and improve the Content-Length lookup (#643)
  configs/bs-en-spring-2024.yml
  configs/cs-en-spring-2024.yml
  configs/da-en-spring-2024.yml
  configs/el-en-spring-2024.yml
  configs/en-bs-spring-2024.yml
  configs/en-cs-spring-2024.yml
  configs/en-da-spring-2024.yml
  configs/en-el-spring-2024.yml
  configs/en-fi-spring-2024.yml
  configs/en-hr-spring-2024.yml
  configs/en-hu-spring-2024.yml
  configs/en-id-spring-2024.yml
  configs/en-lt-spring-2024.yml
  configs/en-lv-spring-2024.yml
  configs/en-ro-spring-2024.yml
  configs/en-ru-spring-2024.yml
  configs/en-sk-spring-2024.yml
  configs/en-sl-spring-2024.yml
  configs/en-sr-spring-2024.yml
  configs/en-sv-spring-2024.yml
  configs/en-tr-spring-2024.yml
  configs/en-uk-spring-2024.yml
  configs/en-vi-spring-2024.yml
  configs/hr-en-spring-2024.yml
  configs/id-en-spring-2024.yml
  configs/lt-en-spring-2024.yml
  configs/lv-en-spring-2024.yml
  configs/ro-en-spring-2024.yml
  configs/ru-en-spring-2024.yml
  configs/sk-en-spring-2024.yml
  configs/sl-en-spring-2024.yml
  configs/sr-en-spring-2024.yml
  configs/sv-en-spring-2024.yml
  configs/tr-en-spring-2024.yml
  configs/vi-en-spring-2024.yml
  utils/config_generator.py
  utils/find_corpus.py
Due: snakemake-dry-run

Path conditions:
  snakemake-dry-run: any of: pipeline/**, envs/**, configs/**
  taskgraph-definition: any of: pipeline/**, taskcluster/**
