Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Fix the docs building by using the remote theme
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
Due: none

Fix the docs building by using the remote theme (#310)
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
Due: none

Update docs on spm-vocab.sh
  pipeline/train/spm-vocab.sh
  taskcluster/ci/train-vocab/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Add documentation to merge-mono
  pipeline/clean/merge-mono.sh
  taskcluster/ci/merge-mono/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Clean mono argument examples
  pipeline/clean/clean-mono.sh
Due: snakemake-dry-run, taskgraph-definition

Add documentation to the tc.prod.yml
  configs/tc.prod.yml
Due: snakemake-dry-run

Add documentation for teachers
  pipeline/train/configs/model/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

Add docs to collect.sh
  pipeline/translate/collect.sh
  taskcluster/ci/collect-corpus/kind.yml
  taskcluster/ci/collect-mono-src/kind.yml
  taskcluster/ci/collect-mono-trg/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Update the gemfile to allow for local links
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
Due: none

Split out the config docs to their own files in /docs
  configs/tc.prod.yml
  docs/bicleaner.md
  docs/cleaning.md
  docs/pipeline-steps.md
  docs/teacher-ensemble.md
  docs/training-guide.md
  docs/vocab-size.md
  pipeline/bicleaner/bicleaner.sh
  pipeline/train/spm-vocab.sh
Due: snakemake-dry-run, taskgraph-definition

Apply feedback on collect.sh
  pipeline/translate/collect.sh
Due: snakemake-dry-run, taskgraph-definition

Add basic documentation to most transforms
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
  taskcluster/translations_taskgraph/transforms/cast_to.py
  taskcluster/translations_taskgraph/transforms/dependency_dummies.py
  taskcluster/translations_taskgraph/transforms/docker_image.py
  taskcluster/translations_taskgraph/transforms/fetch.py
  taskcluster/translations_taskgraph/transforms/from_datasets.py
  taskcluster/translations_taskgraph/transforms/marian_args.py
  taskcluster/translations_taskgraph/transforms/skip_unless_pipeline_changed.py
  taskcluster/translations_taskgraph/transforms/worker_env.py
Due: taskgraph-definition

Remove dead code relating to treeherder integration
  taskcluster/translations_taskgraph/transforms/dependency_dummies.py
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
  taskcluster/translations_taskgraph/transforms/from_datasets.py
  taskcluster/translations_taskgraph/util/dataset_helpers.py
Due: taskgraph-definition

Improve documentation in transforms (#305)
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
  taskcluster/translations_taskgraph/transforms/cast_to.py
  taskcluster/translations_taskgraph/transforms/dependency_dummies.py
  taskcluster/translations_taskgraph/transforms/docker_image.py
  taskcluster/translations_taskgraph/transforms/fetch.py
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
  taskcluster/translations_taskgraph/transforms/from_datasets.py
  taskcluster/translations_taskgraph/transforms/marian_args.py
  taskcluster/translations_taskgraph/transforms/skip_unless_pipeline_changed.py
  taskcluster/translations_taskgraph/transforms/worker_env.py
  taskcluster/translations_taskgraph/util/dataset_helpers.py
Due: taskgraph-definition

Add documentation to various parts of the scripts and pipeline (#298)
  configs/tc.prod.yml
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  docs/bicleaner.md
  docs/cleaning.md
  docs/pipeline-steps.md
  docs/teacher-ensemble.md
  docs/training-guide.md
  docs/vocab-size.md
  pipeline/bicleaner/bicleaner.sh
  pipeline/clean/clean-mono.sh
  pipeline/clean/merge-mono.sh
  pipeline/train/configs/model/teacher.yml
  pipeline/train/spm-vocab.sh
  pipeline/translate/collect.sh
  taskcluster/ci/collect-corpus/kind.yml
  taskcluster/ci/collect-mono-src/kind.yml
  taskcluster/ci/collect-mono-trg/kind.yml
  taskcluster/ci/merge-mono/kind.yml
  taskcluster/ci/train-vocab/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Rewrite corpus splitting in Python
  pipeline/translate/split-corpus.sh
  pipeline/translate/split-mono.sh
  pipeline/translate/splitter.py
Due: snakemake-dry-run, taskgraph-definition

Replace in taskcluster
  taskcluster/ci/split-corpus/kind.yml
  taskcluster/ci/split-mono-src/kind.yml
  taskcluster/ci/split-mono-trg/kind.yml
Due: taskgraph-definition

Add tests
  poetry.lock
  pyproject.toml
  tests/test_split_collect.py
Due: none

Unify compression tool with Taskcluster
  poetry.lock
  pyproject.toml
  tests/test_split_collect.py
Due: none

Move zstd installation to docker image
  poetry.lock
  pyproject.toml
  taskcluster/docker/test/Dockerfile
Due: taskgraph-definition

Disable opuscleaner in CI
  pipeline/clean/requirements/clean.in
  pipeline/clean/requirements/clean.txt
  taskcluster/translations_taskgraph/parameters.py
Due: snakemake-dry-run, taskgraph-definition

Compress chunks
  pipeline/translate/splitter.py
  tests/test_split_collect.py
Due: snakemake-dry-run, taskgraph-definition

Fix file names
  pipeline/translate/collect.sh
  taskcluster/ci/collect-mono-src/kind.yml
  taskcluster/ci/collect-mono-trg/kind.yml
  taskcluster/ci/extract-best/kind.yml
  taskcluster/ci/translate-corpus/kind.yml
  taskcluster/ci/translate-mono-src/kind.yml
  taskcluster/ci/translate-mono-trg/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Remove zeros from file index
  pipeline/translate/splitter.py
  tests/test_split_collect.py
Due: snakemake-dry-run, taskgraph-definition

Start file index with 1
  pipeline/translate/splitter.py
  tests/test_split_collect.py
Due: snakemake-dry-run, taskgraph-definition

Bump to taskgraph 7.0
  taskcluster/requirements.in
  taskcluster/requirements.txt
Due: taskgraph-definition

Consolidate transitory artifacts in the /data directory
  .gitignore
  Makefile
  tests/test_data_importer.py
Due: none

Fix corpus splitting
  pipeline/translate/splitter.py
  taskcluster/ci/split-corpus/kind.yml
  tests/test_split_collect.py
Due: snakemake-dry-run, taskgraph-definition

Consolidate transitory artifacts in the /data directory (#317)
  .gitignore
  Makefile
  tests/test_data_importer.py
Due: none

Tune training stages
  pipeline/train/configs/opustrainer/backward.yml
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

Upgrade to taskgraph 7.0.1 (fixes #301)
  taskcluster/requirements.txt
Due: taskgraph-definition

Add a link to an issue
  pipeline/clean/requirements/clean.in
  taskcluster/translations_taskgraph/parameters.py
Due: snakemake-dry-run, taskgraph-definition

Generate script description from doc
  pipeline/translate/splitter.py
Due: snakemake-dry-run, taskgraph-definition

Use new test dir
  tests/test_split_collect.py
Due: none

Use new test dir
  tests/test_data_importer.py
Due: none

Test command line args
  pipeline/translate/splitter.py
  tests/test_split_collect.py
Due: snakemake-dry-run, taskgraph-definition

Clarify expected files
  tests/test_split_collect.py
Due: none

Add logging
  pipeline/translate/splitter.py
Due: snakemake-dry-run, taskgraph-definition

Always split corpus to a fixed number of parts (#308)
  Snakefile
  configs/config.ci.yml
  configs/config.prod.yml
  configs/config.test.yml
  configs/tc.prod.yml
  pipeline/clean/requirements/clean.in
  pipeline/clean/requirements/clean.txt
  pipeline/translate/collect.sh
  pipeline/translate/split-corpus.sh
  pipeline/translate/split-mono.sh
  pipeline/translate/splitter.py
  poetry.lock
  pyproject.toml
  taskcluster/ci/collect-mono-src/kind.yml
  taskcluster/ci/collect-mono-trg/kind.yml
  taskcluster/ci/extract-best/kind.yml
  taskcluster/ci/split-corpus/kind.yml
  taskcluster/ci/split-mono-src/kind.yml
  taskcluster/ci/split-mono-trg/kind.yml
  taskcluster/ci/translate-corpus/kind.yml
  taskcluster/ci/translate-mono-src/kind.yml
  taskcluster/ci/translate-mono-trg/kind.yml
  taskcluster/docker/test/Dockerfile
  taskcluster/scripts/pipeline/split-corpus-taskcluster.sh
  taskcluster/scripts/pipeline/split-mono-taskcluster.sh
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  tests/test_data_importer.py
  tests/test_split_collect.py
Due: snakemake-dry-run, taskgraph-definition
