Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Link metrics from labels in addition to TC dependencies
  tracking/translations_parser/cli/taskcluster_group.py
Due: none

Link metrics from labels in addition to TC dependencies (#465)
  tracking/translations_parser/cli/taskcluster_group.py
Due: none

Disable student augmentations
  pipeline/train/configs/opustrainer/student.yml
Due: snakemake-dry-run, taskgraph-definition

Add curly braces
  pipeline/train/configs/opustrainer/student.yml
Due: snakemake-dry-run, taskgraph-definition

Add shufflers as utilities
  pipeline/common/datasets.py
  tests/test_common_datasets.py
Due: snakemake-dry-run, taskgraph-definition

Add shufflers as utilities (#467)
  pipeline/common/datasets.py
  tests/test_common_datasets.py
Due: snakemake-dry-run, taskgraph-definition

Remove unused test commands
  pipeline/alignments/generate-alignment-and-shortlist.sh
  pipeline/alignments/generate-space-alignment-merged.sh
  pipeline/alignments/generate-space-alignment.sh
Due: snakemake-dry-run, taskgraph-definition

Remove test commands
  pipeline/alignments/generate-alignment-and-shortlist.sh
  pipeline/alignments/generate-space-alignment-merged.sh
  pipeline/alignments/generate-space-alignment.sh
Due: snakemake-dry-run, taskgraph-definition

Add tests
  Makefile
  pipeline/alignments/generate-alignment-and-shortlist.sh
  poetry.lock
  pyproject.toml
  taskcluster/docker/test/Dockerfile
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/alignments-teacher/kind.yml
  taskcluster/kinds/tests/kind.yml
  tests/test_alignments.py
  utils/download-bin.sh
Due: snakemake-dry-run, taskgraph-definition

Set TERM for docker worker images (#464)
  taskcluster/docker/base/Dockerfile
Due: taskgraph-definition

Fix tests
  tests/test_alignments.py
Due: none

Fork the training scripts
  pipeline/train/train2.sh
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/scripts/pipeline/train-taskcluster2.sh
Due: snakemake-dry-run, taskgraph-definition

Remove opustrainer
  pipeline/train/train2.sh
  taskcluster/scripts/pipeline/train-taskcluster2.sh
Due: snakemake-dry-run, taskgraph-definition

Fix train_set_prefixes error
  pipeline/train/train2.sh
Due: snakemake-dry-run, taskgraph-definition

Allow group traversal from training tasks dependencies during Taskcluster task group publication
  tracking/translations_parser/cli/taskcluster_group.py
Due: none

Do not publish empty groups
  tracking/translations_parser/cli/taskcluster_group.py
Due: none

Comment to clarify the usage of a shared set variable
  tracking/translations_parser/cli/taskcluster_group.py
Due: none

Fix lint + Apply Valentin's suggestions
  tracking/translations_parser/cli/taskcluster_group.py
Due: none

Fix the naming of corpus.enzst to corpus.en.zst
  pipeline/train/train2.sh
Due: snakemake-dry-run, taskgraph-definition

Remove extension from corpus
  pipeline/train/train2.sh
Due: snakemake-dry-run, taskgraph-definition

Allow group traversal from training tasks dependencies during Taskcluster task group publication (#461)
  tracking/translations_parser/cli/taskcluster_group.py
Due: none

Update parser documentation (#462)
  docs/tracking.md
Due: none

Add docs to taskcluster
  docs/task-cluster.md
Due: none

Fix running tests locally under docker
  Makefile
  taskcluster/docker/test/Dockerfile
Due: taskgraph-definition

Rename
  Makefile
  utils/download-toolchain.sh
Due: none

Remove whitespace
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/alignments-teacher/kind.yml
Due: taskgraph-definition

Rename files
  pipeline/alignments/generate-alignment-merged.sh
  pipeline/alignments/generate-alignment.sh
  pipeline/alignments/generate-shortlist.sh
  snakemake/Snakefile
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/alignments-teacher/kind.yml
  taskcluster/kinds/shortlist/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Add comments
  pipeline/alignments/generate-alignment-merged.sh
  pipeline/alignments/generate-alignment.sh
Due: snakemake-dry-run, taskgraph-definition

Update doc
  docs/opus-trainer.md
Due: none

Add more comments
  pipeline/alignments/generate-alignment-merged.sh
  pipeline/alignments/generate-alignment.sh
  pipeline/alignments/generate-shortlist.sh
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Update table
  docs/pipeline-steps.md
Due: none

add 1tb cpu only workers
  taskcluster/config.yml
Due: taskgraph-definition

add 1tb cpu only workers (#470)
  taskcluster/config.yml
Due: taskgraph-definition

Increase disk space for alignments
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/alignments-teacher/kind.yml
  taskcluster/kinds/shortlist/kind.yml
Due: taskgraph-definition

Add non-spot 1tb CPU worker option
  taskcluster/config.yml
Due: taskgraph-definition

Add non-spot 1tb CPU worker option (#471)
  taskcluster/config.yml
Due: taskgraph-definition

Switch to standard instance
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/alignments-teacher/kind.yml
Due: taskgraph-definition

Update docs for URL-base datasets
  docs/data.md
  docs/training-guide.md
Due: none

Update the sanitize function
  pipeline/common/datasets.py
  taskcluster/translations_taskgraph/util/dataset_helpers.py
Due: snakemake-dry-run, taskgraph-definition
