Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

snakemake-dry-run:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command:
    - bash
    - -c
  ...

taskgraph-definition:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    docker-image:
      in-tree: base
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: make validate-taskgraph

Support suffixes with form -1/2
  tests/test_tracking_utils.py
  tracking/translations_parser/utils.py
Due: none

Add test
  tests/test_tracking_utils.py
Due: none

Consistent evaluation tags parsing
  tests/test_tracking_utils.py
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/data.py
  tracking/translations_parser/publishers.py
  tracking/translations_parser/utils.py
Due: none

Add argument to override runs
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/publishers.py
Due: none

Support overriding missing runs
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/publishers.py
Due: none

Bump taskgraph version to 7.4.0.
  .taskcluster.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
Due: taskgraph-definition

reduce max runtime to work around issue
  taskcluster/kinds/alignments/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/cefilter/kind.yml
  taskcluster/kinds/clean-mono/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
Due: taskgraph-definition

Base setup
  pipeline/train/train.sh
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/translations_taskgraph/transforms/worker_env.py
Due: snakemake-dry-run, taskgraph-definition

Use secret name from kind
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/translations_taskgraph/transforms/worker_env.py
Due: taskgraph-definition

Add eflomal based aligner
  pipeline/alignments/align.py
  pipeline/alignments/requirements/alignments.in
  pipeline/alignments/requirements/alignments.txt
  poetry.lock
  pyproject.toml
Due: snakemake-dry-run, taskgraph-definition

Use new aligner for shortlist
  pipeline/alignments/generate-shortlist.sh
Due: snakemake-dry-run, taskgraph-definition

Remove old aligner
  pipeline/alignment/generate-alignment-and-shortlist.sh
Due: snakemake-dry-run, taskgraph-definition

Add Taskcluster steps for whitespace tokenized alignments
  taskcluster/config.yml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/quantize/kind.yml
  taskcluster/kinds/shortlist/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
Due: taskgraph-definition

Move file to a renamed directory
  pipeline/alignments/prune_shortlist.py
Due: snakemake-dry-run, taskgraph-definition

Use Tags modifier in training
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.yml
  pipeline/train/configs/training/student.finetune.yml
  pipeline/train/configs/training/student.train.yml
  pipeline/train/configs/training/teacher.train.yml
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Update tests for alignments and shortlist
  tests/test_alignments.py
Due: none

Add support of inline noise augmentation in data importer
  pipeline/data/dataset_importer.py
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

Do not use slow inline noise augmentation in devset on CI
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Remove the old alignments task
  taskcluster/kinds/alignments/kind.yml
Due: taskgraph-definition

Add a test for student alignments
  taskcluster/kinds/alignments-student/kind.yml
  tests/test_alignments.py
Due: taskgraph-definition

Fix alignments in training tests
  tests/test_training.py
Due: none

Return matplotlib module after merge
  poetry.lock
  pyproject.toml
Due: none

Update OpusTrainer docs with inline noise
  docs/opus-trainer.md
Due: none

Update and refactor documentation for pipeline steps
  docs/pipeline-steps.md
Due: none

Add argument to override runs
  tracking/translations_parser/cli/taskcluster_group.py
Due: none

Bump taskgraph version to 7.4.0. (#497)
  .taskcluster.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
Due: taskgraph-definition

Consistent dataset names (#494)
  tests/test_tracking_utils.py
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/data.py
  tracking/translations_parser/publishers.py
  tracking/translations_parser/utils.py
Due: none

Add argument to override runs (#498)
  tracking/translations_parser/cli/taskcluster_group.py
Due: none

Update Marian to v1.12.14 2d067afb 2024-02-16 (#491)
  docker/Dockerfile
  taskcluster/kinds/fetch/toolchains.yml
Due: taskgraph-definition

Relock poetry
  poetry.lock
Due: none

Add Marian server for model testing (#492)
  Makefile
  docker/Dockerfile
  pipeline/setup/compile-marian.sh
  poetry.lock
  pyproject.toml
  utils/marian_client.py
Due: snakemake-dry-run, taskgraph-definition

Rename functions
  tests/test_alignments.py
Due: none

Add more comments in the code
  pipeline/alignments/align.py
  pipeline/data/dataset_importer.py
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

Remove compression env
  pipeline/alignments/align.py
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Add support of inline noise data augmentation (#502)
  pipeline/alignment/generate-alignment-and-shortlist.sh
  pipeline/alignments/align.py
  pipeline/alignments/generate-shortlist.sh
  pipeline/alignments/prune_shortlist.py
  pipeline/alignments/requirements/alignments.in
  pipeline/alignments/requirements/alignments.txt
  pipeline/data/dataset_importer.py
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.yml
  pipeline/train/configs/training/student.finetune.yml
  pipeline/train/configs/training/student.train.yml
  pipeline/train/configs/training/teacher.train.yml
  pipeline/train/train.sh
  poetry.lock
  pyproject.toml
  taskcluster/config.yml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/quantize/kind.yml
  taskcluster/kinds/shortlist/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/translations_taskgraph/parameters.py
  tests/test_alignments.py
  tests/test_data_importer.py
  tests/test_training.py
Due: snakemake-dry-run, taskgraph-definition

Update docs for OpusTrainer and alignments (#504)
  docs/opus-trainer.md
  docs/pipeline-steps.md
Due: none

Cleaning
  configs/tc.prod.yml
Due: snakemake-dry-run

Include all data
  configs/tc.prod.yml
Due: snakemake-dry-run

Path conditions:
  snakemake-dry-run: any of: pipeline/**, envs/**, configs/**
  taskgraph-definition: any of: pipeline/**, taskcluster/**
