Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

snakemake-dry-run:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command:
    - bash
    - -c
  ...

taskgraph-definition:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    docker-image:
      in-tree: base
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: make validate-taskgraph

Fix typos augmenter
  pipeline/data/dataset_importer.py
Due: snakemake-dry-run, taskgraph-definition

Fix linting issues
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/publishers.py
Due: none

Add tests for typos and noise
  tests/test_data_importer.py
Due: none

This is a dummy change to poke at broken actions on PR decisions.
  pr-actions-test
Due: none

Fix test
  pipeline/data/dataset_importer.py
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

Add a tree printing method
  tests/fixtures/__init__.py
  tests/test_data_importer.py
Due: none

Rename "custom" to "local"
  docs/data.md
  docs/training-guide.md
  pipeline/data/importers/corpus/local-corpus.sh
  pipeline/data/importers/mono/local-mono.sh
Due: snakemake-dry-run, taskgraph-definition

Add a test for news crawl importer
  pipeline/data/importers/mono/news-crawl.sh
  tests/data/corpus_samples/pytest-dataset.en.gz
  tests/data/corpus_samples/pytest-dataset.ru.gz
  tests/fixtures/__init__.py
  tests/fixtures/wget
  tests/test_data_importer.py
Due: snakemake-dry-run, taskgraph-definition

Use zst in the data importer test
  tests/test_data_importer.py
Due: none

Drive-by: Output stderr in run_task
  tests/fixtures/__init__.py
Due: none

Remove monolingual downloaders in bash
  pipeline/data/download-mono.sh
  pipeline/data/importers/mono/commoncrawl.sh
  pipeline/data/importers/mono/local-mono.sh
  pipeline/data/importers/mono/news-crawl.sh
  pipeline/data/importers/mono/paracrawl-mono.sh
Due: snakemake-dry-run, taskgraph-definition

Add a structured Dataset class
  pipeline/utils/__init__.py
Due: snakemake-dry-run, taskgraph-definition

Add google cloud storage as a dependency
  envs/data.yml
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  poetry.lock
  pyproject.toml
Due: snakemake-dry-run, taskgraph-definition

Update opus trainer
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
Due: snakemake-dry-run, taskgraph-definition

Add a google cloud storage importer and convert download-mono to python
  pipeline/data/download-corpus.sh
  pipeline/data/download-mono.py
  pipeline/data/importers/corpus/bucket.py
  pipeline/utils/__init__.py
  pipeline/utils/downloads.py
  pipeline/utils/logging.py
  taskcluster/kinds/dataset/kind.yml
  tests/data/corpus_samples/pytest-dataset.en.zst
  tests/data/corpus_samples/pytest-dataset.ru.zst
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.yml
Due: snakemake-dry-run, taskgraph-definition

Add assertions for shuffling behavior
  tests/test_data_importer.py
Due: none

Remove noise parameters from config
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

en-ca config
  configs/tc.prod.yml
Due: snakemake-dry-run

WIP config
  configs/tc.prod.yml
Due: snakemake-dry-run

Remove .ca.zst
  configs/tc.prod.yml
Due: snakemake-dry-run

bicleaner - Do not capture the output of the bicleaner command
  pipeline/bicleaner/download_pack.py
Due: snakemake-dry-run, taskgraph-definition

Update opustrainer with fixes
  pipeline/data/dataset_importer.py
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.yml
  pipeline/train/requirements/train.in
  pipeline/train/requirements/train.txt
  poetry.lock
  pyproject.toml
Due: snakemake-dry-run, taskgraph-definition

bicleaner - Add more debug logging
  pipeline/bicleaner/download_pack.py
Due: snakemake-dry-run, taskgraph-definition

Run linter
  pipeline/data/dataset_importer.py
Due: snakemake-dry-run, taskgraph-definition

bicleaner - Update the bicleaner fallback check
  pipeline/bicleaner/download_pack.py
Due: snakemake-dry-run, taskgraph-definition

Move snakemake code to a separate folder
  Makefile
  docs/orchestrators.md
  docs/snakemake.md
  snakemake/Makefile
  snakemake/Singularity.def
  snakemake/Snakefile
  snakemake/configs/config.prod.yml
  snakemake/configs/config.test.yml
  snakemake/envs/base.yml
  snakemake/envs/bicleaner-ai.yml
  snakemake/envs/bicleaner.yml
  snakemake/envs/corpus.yml
  snakemake/envs/data.yml
  snakemake/envs/opuscleaner.yml
  snakemake/envs/tensorboard.yml
  snakemake/envs/train.yml
  snakemake/profiles/local-container/config.yaml
  snakemake/profiles/local/config.yaml
  snakemake/profiles/slurm-csd3/config.cluster.yaml
  snakemake/profiles/slurm-csd3/config.yaml
  snakemake/profiles/slurm-csd3/jobscript.sh
  snakemake/profiles/slurm-csd3/status.py
  snakemake/profiles/slurm-csd3/submit.py
  snakemake/profiles/slurm-moz/config.cluster.yaml
  snakemake/profiles/slurm-moz/config.yaml
  snakemake/profiles/slurm-moz/jobscript.sh
  snakemake/profiles/slurm-moz/status.py
  snakemake/profiles/slurm-moz/submit.py
  snakemake/reports/evaluation.rst
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
Due: taskgraph-definition

Small fixes
  docs/snakemake.md
  snakemake/Makefile
Due: none

Run linter
  snakemake/profiles/slurm-csd3/submit.py
  snakemake/profiles/slurm-moz/submit.py
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/publishers.py
Due: none

Revert formatting
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/publishers.py
Due: none

Fix readme
  README.md
  docs/orchestrators.md
  docs/snakemake.md
Due: none

bicleaner - Check for file existence
  pipeline/bicleaner/download_pack.py
Due: snakemake-dry-run, taskgraph-definition

bicleaner - Fix pack_path issue
  pipeline/bicleaner/download_pack.py
  tests/test_bicleaner.py
Due: snakemake-dry-run, taskgraph-definition

Move snakemake to a separate folder (#431)
  Makefile
  README.md
  docs/orchestrators.md
  docs/snakemake.md
  snakemake/Makefile
  snakemake/Singularity.def
  snakemake/Snakefile
  snakemake/configs/config.prod.yml
  snakemake/configs/config.test.yml
  snakemake/envs/base.yml
  snakemake/envs/bicleaner-ai.yml
  snakemake/envs/bicleaner.yml
  snakemake/envs/corpus.yml
  snakemake/envs/data.yml
  snakemake/envs/opuscleaner.yml
  snakemake/envs/tensorboard.yml
  snakemake/envs/train.yml
  snakemake/profiles/local-container/config.yaml
  snakemake/profiles/local/config.yaml
  snakemake/profiles/slurm-csd3/config.cluster.yaml
  snakemake/profiles/slurm-csd3/config.yaml
  snakemake/profiles/slurm-csd3/jobscript.sh
  snakemake/profiles/slurm-csd3/status.py
  snakemake/profiles/slurm-csd3/submit.py
  snakemake/profiles/slurm-moz/config.cluster.yaml
  snakemake/profiles/slurm-moz/config.yaml
  snakemake/profiles/slurm-moz/jobscript.sh
  snakemake/profiles/slurm-moz/status.py
  snakemake/profiles/slurm-moz/submit.py
  snakemake/reports/evaluation.rst
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
Due: taskgraph-definition

Enable tags
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

Decrease max run time
  taskcluster/kinds/clean-corpus/kind.yml
Due: taskgraph-definition

Check for the file existence rather than status code
  pipeline/bicleaner/download_pack.py
  tests/test_bicleaner.py
Due: snakemake-dry-run, taskgraph-definition

Publish YAML configuration to group_logs run
  tracking/translations_parser/cli/experiments.py
Due: none

Path conditions:
  snakemake-dry-run: any of: pipeline/**, envs/**, configs/**
  taskgraph-definition: any of: pipeline/**, taskcluster/**
