Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Support unexisting project in group_logs publication
  tracking/translations_parser/publishers.py
Due: none

Suggestion
  docs/tracking.md
  tracking/translations_parser/parser.py
Due: none

Add HPLT mono bulk importer
  utils/download_hplt.py
Due: none

Add HPLT mono data
  configs/cs-en-spring-2024.yml
  configs/da-en-spring-2024.yml
  configs/el-en-spring-2024.yml
  configs/en-cs-spring-2024.yml
  configs/en-da-spring-2024.yml
  configs/en-el-spring-2024.yml
  configs/en-fi-spring-2024.yml
  configs/en-hr-spring-2024.yml
  configs/en-hu-spring-2024.yml
  configs/en-id-spring-2024.yml
  configs/en-lt-spring-2024.yml
  configs/en-lv-spring-2024.yml
  configs/en-ro-spring-2024.yml
  configs/en-ru-spring-2024.yml
  configs/en-sk-spring-2024.yml
  configs/en-sl-spring-2024.yml
  configs/en-sv-spring-2024.yml
  configs/en-tr-spring-2024.yml
  configs/en-uk-spring-2024.yml
  configs/en-vi-spring-2024.yml
  configs/hr-en-spring-2024.yml
  configs/id-en-spring-2024.yml
  configs/lt-en-spring-2024.yml
  configs/lv-en-spring-2024.yml
  configs/ro-en-spring-2024.yml
  configs/ru-en-spring-2024.yml
  configs/sk-en-spring-2024.yml
  configs/sl-en-spring-2024.yml
  configs/sv-en-spring-2024.yml
  configs/tr-en-spring-2024.yml
  configs/vi-en-spring-2024.yml
  utils/config_generator.py
  utils/find_corpus.py
Due: snakemake-dry-run

Revert dataset stats
  configs/cs-en-spring-2024.yml
  configs/da-en-spring-2024.yml
  configs/el-en-spring-2024.yml
  configs/en-cs-spring-2024.yml
  configs/en-da-spring-2024.yml
  configs/en-el-spring-2024.yml
  configs/en-fi-spring-2024.yml
  configs/en-hr-spring-2024.yml
  configs/en-hu-spring-2024.yml
  configs/en-lt-spring-2024.yml
  configs/en-lv-spring-2024.yml
  configs/en-ro-spring-2024.yml
  configs/en-ru-spring-2024.yml
  configs/en-sk-spring-2024.yml
  configs/en-sl-spring-2024.yml
  configs/en-sv-spring-2024.yml
  configs/en-tr-spring-2024.yml
  configs/en-uk-spring-2024.yml
  configs/hr-en-spring-2024.yml
  configs/lt-en-spring-2024.yml
  configs/lv-en-spring-2024.yml
  configs/ro-en-spring-2024.yml
  configs/ru-en-spring-2024.yml
  configs/sk-en-spring-2024.yml
  configs/sl-en-spring-2024.yml
  configs/sv-en-spring-2024.yml
  configs/tr-en-spring-2024.yml
Due: snakemake-dry-run

Add HPLT mono data to the configs (#646)
  configs/cs-en-spring-2024.yml
  configs/da-en-spring-2024.yml
  configs/el-en-spring-2024.yml
  configs/en-cs-spring-2024.yml
  configs/en-da-spring-2024.yml
  configs/en-el-spring-2024.yml
  configs/en-fi-spring-2024.yml
  configs/en-hr-spring-2024.yml
  configs/en-hu-spring-2024.yml
  configs/en-id-spring-2024.yml
  configs/en-lt-spring-2024.yml
  configs/en-lv-spring-2024.yml
  configs/en-ro-spring-2024.yml
  configs/en-ru-spring-2024.yml
  configs/en-sk-spring-2024.yml
  configs/en-sl-spring-2024.yml
  configs/en-sv-spring-2024.yml
  configs/en-tr-spring-2024.yml
  configs/en-uk-spring-2024.yml
  configs/en-vi-spring-2024.yml
  configs/hr-en-spring-2024.yml
  configs/id-en-spring-2024.yml
  configs/lt-en-spring-2024.yml
  configs/lv-en-spring-2024.yml
  configs/ro-en-spring-2024.yml
  configs/ru-en-spring-2024.yml
  configs/sk-en-spring-2024.yml
  configs/sl-en-spring-2024.yml
  configs/sv-en-spring-2024.yml
  configs/tr-en-spring-2024.yml
  configs/vi-en-spring-2024.yml
  utils/config_generator.py
  utils/find_corpus.py
Due: snakemake-dry-run

Add nllb mono to config generation
  utils/config_generator.py
  utils/find_corpus.py
Due: none

Update configs
  configs/bs-en-spring-2024.yml
  configs/cs-en-spring-2024.yml
  configs/da-en-spring-2024.yml
  configs/el-en-spring-2024.yml
  configs/en-bs-spring-2024.yml
  configs/en-cs-spring-2024.yml
  configs/en-da-spring-2024.yml
  configs/en-el-spring-2024.yml
  configs/en-fi-spring-2024.yml
  configs/en-hr-spring-2024.yml
  configs/en-hu-spring-2024.yml
  configs/en-id-spring-2024.yml
  configs/en-lt-spring-2024.yml
  configs/en-lv-spring-2024.yml
  configs/en-ro-spring-2024.yml
  configs/en-ru-spring-2024.yml
  configs/en-sk-spring-2024.yml
  configs/en-sl-spring-2024.yml
  configs/en-sr-spring-2024.yml
  configs/en-sv-spring-2024.yml
  configs/en-tr-spring-2024.yml
  configs/en-uk-spring-2024.yml
  configs/en-vi-spring-2024.yml
  configs/hr-en-spring-2024.yml
  configs/id-en-spring-2024.yml
  configs/lt-en-spring-2024.yml
  configs/lv-en-spring-2024.yml
  configs/ro-en-spring-2024.yml
  configs/ru-en-spring-2024.yml
  configs/sk-en-spring-2024.yml
  configs/sl-en-spring-2024.yml
  configs/sr-en-spring-2024.yml
  configs/sv-en-spring-2024.yml
  configs/tr-en-spring-2024.yml
  configs/vi-en-spring-2024.yml
Due: snakemake-dry-run

Remove extra space from config endings
  configs/cs-en-spring-2024.yml
  configs/da-en-spring-2024.yml
  configs/el-en-spring-2024.yml
  configs/en-cs-spring-2024.yml
  configs/en-da-spring-2024.yml
  configs/en-el-spring-2024.yml
  configs/en-fi-spring-2024.yml
  configs/en-hr-spring-2024.yml
  configs/en-hu-spring-2024.yml
  configs/en-id-spring-2024.yml
  configs/en-lt-spring-2024.yml
  configs/en-lv-spring-2024.yml
  configs/en-ro-spring-2024.yml
  configs/en-ru-spring-2024.yml
  configs/en-sk-spring-2024.yml
  configs/en-sl-spring-2024.yml
  configs/en-sr-spring-2024.yml
  configs/en-sv-spring-2024.yml
  configs/en-tr-spring-2024.yml
  configs/en-uk-spring-2024.yml
  configs/en-vi-spring-2024.yml
  configs/hr-en-spring-2024.yml
  configs/id-en-spring-2024.yml
  configs/lt-en-spring-2024.yml
  configs/lv-en-spring-2024.yml
  configs/ro-en-spring-2024.yml
  configs/sk-en-spring-2024.yml
  configs/sl-en-spring-2024.yml
  configs/sr-en-spring-2024.yml
  configs/sv-en-spring-2024.yml
  configs/tr-en-spring-2024.yml
  configs/vi-en-spring-2024.yml
  utils/config_generator.py
Due: snakemake-dry-run

Add comment
  utils/download_hplt.py
Due: none

Add mono nllb to the config generation (#647)
  configs/bs-en-spring-2024.yml
  configs/cs-en-spring-2024.yml
  configs/da-en-spring-2024.yml
  configs/el-en-spring-2024.yml
  configs/en-bs-spring-2024.yml
  configs/en-cs-spring-2024.yml
  configs/en-da-spring-2024.yml
  configs/en-el-spring-2024.yml
  configs/en-fi-spring-2024.yml
  configs/en-hr-spring-2024.yml
  configs/en-hu-spring-2024.yml
  configs/en-id-spring-2024.yml
  configs/en-lt-spring-2024.yml
  configs/en-lv-spring-2024.yml
  configs/en-ro-spring-2024.yml
  configs/en-ru-spring-2024.yml
  configs/en-sk-spring-2024.yml
  configs/en-sl-spring-2024.yml
  configs/en-sr-spring-2024.yml
  configs/en-sv-spring-2024.yml
  configs/en-tr-spring-2024.yml
  configs/en-uk-spring-2024.yml
  configs/en-vi-spring-2024.yml
  configs/hr-en-spring-2024.yml
  configs/id-en-spring-2024.yml
  configs/lt-en-spring-2024.yml
  configs/lv-en-spring-2024.yml
  configs/ro-en-spring-2024.yml
  configs/ru-en-spring-2024.yml
  configs/sk-en-spring-2024.yml
  configs/sl-en-spring-2024.yml
  configs/sr-en-spring-2024.yml
  configs/sv-en-spring-2024.yml
  configs/tr-en-spring-2024.yml
  configs/vi-en-spring-2024.yml
  utils/config_generator.py
  utils/find_corpus.py
Due: snakemake-dry-run

Add HPLT mono bulk importer (#645)
  utils/download_hplt.py
Due: none

Add augmentation to the validation set
  configs/bs-en-spring-2024.yml
  configs/cs-en-spring-2024.yml
  configs/da-en-spring-2024.yml
  configs/el-en-spring-2024.yml
  configs/en-bs-spring-2024.yml
  configs/en-cs-spring-2024.yml
  configs/en-da-spring-2024.yml
  configs/en-el-spring-2024.yml
  configs/en-fi-spring-2024.yml
  configs/en-hr-spring-2024.yml
  configs/en-hu-spring-2024.yml
  configs/en-id-spring-2024.yml
  configs/en-ro-spring-2024.yml
  configs/en-sk-spring-2024.yml
  configs/en-sl-spring-2024.yml
  configs/en-sr-spring-2024.yml
  configs/en-sv-spring-2024.yml
  configs/en-tr-spring-2024.yml
  configs/en-vi-spring-2024.yml
  configs/hr-en-spring-2024.yml
  configs/id-en-spring-2024.yml
  configs/lt-en-spring-2024.yml
  configs/ro-en-spring-2024.yml
  configs/ru-en-spring-2024.yml
  configs/sk-en-spring-2024.yml
  configs/sl-en-spring-2024.yml
  configs/sr-en-spring-2024.yml
  configs/sv-en-spring-2024.yml
  configs/tr-en-spring-2024.yml
  configs/vi-en-spring-2024.yml
Due: snakemake-dry-run

Fix validation datasets
  configs/cs-en-spring-2024.yml
  configs/el-en-spring-2024.yml
  configs/en-cs-spring-2024.yml
  configs/en-el-spring-2024.yml
  configs/en-fi-spring-2024.yml
  configs/en-hu-spring-2024.yml
  configs/en-ro-spring-2024.yml
  configs/en-sv-spring-2024.yml
  configs/en-tr-spring-2024.yml
  configs/id-en-spring-2024.yml
  configs/ru-en-spring-2024.yml
  configs/sv-en-spring-2024.yml
  configs/vi-en-spring-2024.yml
Due: snakemake-dry-run

Switch stage to teacher training
  configs/bs-en-spring-2024.yml
  configs/cs-en-spring-2024.yml
  configs/da-en-spring-2024.yml
  configs/el-en-spring-2024.yml
  configs/en-bs-spring-2024.yml
  configs/en-cs-spring-2024.yml
  configs/en-da-spring-2024.yml
  configs/en-el-spring-2024.yml
  configs/en-fi-spring-2024.yml
  configs/en-hr-spring-2024.yml
  configs/en-hu-spring-2024.yml
  configs/en-id-spring-2024.yml
  configs/en-lv-spring-2024.yml
  configs/en-ro-spring-2024.yml
  configs/en-ru-spring-2024.yml
  configs/en-sk-spring-2024.yml
  configs/en-sl-spring-2024.yml
  configs/en-sr-spring-2024.yml
  configs/en-sv-spring-2024.yml
  configs/en-tr-spring-2024.yml
  configs/en-uk-spring-2024.yml
  configs/en-vi-spring-2024.yml
  configs/hr-en-spring-2024.yml
  configs/id-en-spring-2024.yml
  configs/lt-en-spring-2024.yml
  configs/lv-en-spring-2024.yml
  configs/ro-en-spring-2024.yml
  configs/ru-en-spring-2024.yml
  configs/sk-en-spring-2024.yml
  configs/sl-en-spring-2024.yml
  configs/sr-en-spring-2024.yml
  configs/sv-en-spring-2024.yml
  configs/tr-en-spring-2024.yml
  configs/vi-en-spring-2024.yml
Due: snakemake-dry-run

Support unexisting project in group_logs publication (#644)
  tracking/translations_parser/publishers.py
Due: none

Test publishing of a new project
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Switch to tr
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Switch to lv
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Update the config generator
  utils/config_generator.py
  utils/find_corpus.py
Due: none

Update the configs
  configs/bs-en-spring-2024.yml
  configs/cs-en-spring-2024.yml
  configs/da-en-spring-2024.yml
  configs/el-en-spring-2024.yml
  configs/en-bs-spring-2024.yml
  configs/en-cs-spring-2024.yml
  configs/en-da-spring-2024.yml
  configs/en-el-spring-2024.yml
  configs/en-fi-spring-2024.yml
  configs/en-hr-spring-2024.yml
  configs/en-hu-spring-2024.yml
  configs/en-id-spring-2024.yml
  configs/en-lt-spring-2024.yml
  configs/en-lv-spring-2024.yml
  configs/en-ro-spring-2024.yml
  configs/en-ru-spring-2024.yml
  configs/en-sk-spring-2024.yml
  configs/en-sl-spring-2024.yml
  configs/en-sr-spring-2024.yml
  configs/en-sv-spring-2024.yml
  configs/en-tr-spring-2024.yml
  configs/en-uk-spring-2024.yml
  configs/en-vi-spring-2024.yml
  configs/hr-en-spring-2024.yml
  configs/id-en-spring-2024.yml
  configs/lt-en-spring-2024.yml
  configs/lv-en-spring-2024.yml
  configs/ro-en-spring-2024.yml
  configs/ru-en-spring-2024.yml
  configs/sk-en-spring-2024.yml
  configs/sl-en-spring-2024.yml
  configs/sr-en-spring-2024.yml
  configs/sv-en-spring-2024.yml
  configs/tr-en-spring-2024.yml
  configs/vi-en-spring-2024.yml
Due: snakemake-dry-run

Revert "Test publishing of a new project"
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Fix creating new projects in W&B (#648)
  tracking/translations_parser/publishers.py
Due: none

Use evaluate-teacher as target
  configs/bs-en-spring-2024.yml
  configs/cs-en-spring-2024.yml
  configs/da-en-spring-2024.yml
  configs/el-en-spring-2024.yml
  configs/en-bs-spring-2024.yml
  configs/en-cs-spring-2024.yml
  configs/en-da-spring-2024.yml
  configs/en-el-spring-2024.yml
  configs/en-fi-spring-2024.yml
  configs/en-hr-spring-2024.yml
  configs/en-hu-spring-2024.yml
  configs/en-id-spring-2024.yml
  configs/en-lt-spring-2024.yml
  configs/en-lv-spring-2024.yml
  configs/en-ro-spring-2024.yml
  configs/en-ru-spring-2024.yml
  configs/en-sk-spring-2024.yml
  configs/en-sl-spring-2024.yml
  configs/en-sr-spring-2024.yml
  configs/en-sv-spring-2024.yml
  configs/en-tr-spring-2024.yml
  configs/en-uk-spring-2024.yml
  configs/en-vi-spring-2024.yml
  configs/hr-en-spring-2024.yml
  configs/id-en-spring-2024.yml
  configs/lt-en-spring-2024.yml
  configs/lv-en-spring-2024.yml
  configs/ro-en-spring-2024.yml
  configs/ru-en-spring-2024.yml
  configs/sk-en-spring-2024.yml
  configs/sl-en-spring-2024.yml
  configs/sr-en-spring-2024.yml
  configs/sv-en-spring-2024.yml
  configs/tr-en-spring-2024.yml
  configs/vi-en-spring-2024.yml
Due: snakemake-dry-run

Fix the monolingual nllb dataset to use zst and report the sentence count (#650)
  configs/bs-en-spring-2024.yml
  configs/cs-en-spring-2024.yml
  configs/da-en-spring-2024.yml
  configs/el-en-spring-2024.yml
  configs/en-bs-spring-2024.yml
  configs/en-cs-spring-2024.yml
  configs/en-da-spring-2024.yml
  configs/en-el-spring-2024.yml
  configs/en-fi-spring-2024.yml
  configs/en-hr-spring-2024.yml
  configs/en-hu-spring-2024.yml
  configs/en-id-spring-2024.yml
  configs/en-lt-spring-2024.yml
  configs/en-lv-spring-2024.yml
  configs/en-ro-spring-2024.yml
  configs/en-ru-spring-2024.yml
  configs/en-sk-spring-2024.yml
  configs/en-sl-spring-2024.yml
  configs/en-sr-spring-2024.yml
  configs/en-sv-spring-2024.yml
  configs/en-tr-spring-2024.yml
  configs/en-uk-spring-2024.yml
  configs/en-vi-spring-2024.yml
  configs/hr-en-spring-2024.yml
  configs/id-en-spring-2024.yml
  configs/lt-en-spring-2024.yml
  configs/lv-en-spring-2024.yml
  configs/ro-en-spring-2024.yml
  configs/ru-en-spring-2024.yml
  configs/sk-en-spring-2024.yml
  configs/sl-en-spring-2024.yml
  configs/sr-en-spring-2024.yml
  configs/sv-en-spring-2024.yml
  configs/tr-en-spring-2024.yml
  configs/vi-en-spring-2024.yml
  utils/config_generator.py
  utils/find_corpus.py
Due: snakemake-dry-run

Disable some mono data and add comments
  configs/en-cs-spring-2024.yml
  configs/en-ru-spring-2024.yml
  configs/ru-en-spring-2024.yml
  configs/vi-en-spring-2024.yml
Due: snakemake-dry-run

Parse stalled validation data (#637)
  docs/tracking.md
  tests/data/experiments_wandb_calls_1_10.json
  tests/data/experiments_wandb_calls_1_12.json
  tests/data/taskcluster_wandb_calls.json
  tracking/translations_parser/data.py
  tracking/translations_parser/parser.py
Due: none

Disable NLLB mono for back-translations
  configs/en-bs-spring-2024.yml
  configs/en-cs-spring-2024.yml
  configs/en-da-spring-2024.yml
  configs/en-el-spring-2024.yml
  configs/en-fi-spring-2024.yml
  configs/en-hr-spring-2024.yml
  configs/en-hu-spring-2024.yml
  configs/en-id-spring-2024.yml
  configs/en-lt-spring-2024.yml
  configs/en-lv-spring-2024.yml
  configs/en-ro-spring-2024.yml
  configs/en-ru-spring-2024.yml
  configs/en-sk-spring-2024.yml
  configs/en-sl-spring-2024.yml
  configs/en-sr-spring-2024.yml
  configs/en-sv-spring-2024.yml
  configs/en-tr-spring-2024.yml
  configs/en-uk-spring-2024.yml
  configs/en-vi-spring-2024.yml
Due: snakemake-dry-run

Add uk-en
  configs/uk-en-spring-2024.yml
Due: snakemake-dry-run

Fix datasets
  configs/spring-2024/cs-en-spring-2024.yml
  configs/spring-2024/da-en-spring-2024.yml
  configs/spring-2024/el-en-spring-2024.yml
  configs/spring-2024/hr-en-spring-2024.yml
  configs/spring-2024/lv-en-spring-2024.yml
  configs/spring-2024/ro-en-spring-2024.yml
  configs/spring-2024/sk-en-spring-2024.yml
  configs/spring-2024/sl-en-spring-2024.yml
  configs/spring-2024/sv-en-spring-2024.yml
Due: snakemake-dry-run

Fix offline group publication (#638)
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/utils.py
Due: none

Update sv-en-spring-2024.yml
  configs/spring-2024/sv-en-spring-2024.yml
Due: snakemake-dry-run

Fix data importing for sacrebleu
  pipeline/data/importers/corpus/sacrebleu.sh
Due: snakemake-dry-run, taskgraph-definition

Remove failling datasets
  configs/spring-2024/el-en-spring-2024.yml
  configs/spring-2024/en-el-spring-2024.yml
Due: snakemake-dry-run

Remove swedish_work_environment
  configs/autogenerated/en-ro-spring-2024.yml
  configs/autogenerated/en-sv-spring-2024.yml
  configs/autogenerated/ro-en-spring-2024.yml
  configs/autogenerated/sv-en-spring-2024.yml
  configs/spring-2024/en-ro-spring-2024.yml
  configs/spring-2024/en-sv-spring-2024.yml
  configs/spring-2024/ro-en-spring-2024.yml
  configs/spring-2024/sv-en-spring-2024.yml
  utils/config_generator.py
Due: snakemake-dry-run

Update the table published on group_logs
  tracking/translations_parser/publishers.py
Due: none

Add wokers with more memory for translations alingments
  taskcluster/config.yml
Due: taskgraph-definition
