Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

snakemake-dry-run:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command:
    - bash
    - -c
  ...

taskgraph-definition:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    docker-image:
      in-tree: base
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: make validate-taskgraph

Don't fetch vocab.spm if it is mounted
  taskcluster/ci/train-backwards/kind.yml
  taskcluster/ci/train-teacher/kind.yml
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: taskgraph-definition

Update docs on spm-vocab.sh
  pipeline/train/spm-vocab.sh
Due: snakemake-dry-run, taskgraph-definition

Training continuation (#226)
  taskcluster/ci/evaluate-teacher-ensemble/kind.yml
  taskcluster/ci/evaluate/kind.yml
  taskcluster/ci/finetune-student/kind.yml
  taskcluster/ci/score/kind.yml
  taskcluster/ci/train-backwards/kind.yml
  taskcluster/ci/train-student/kind.yml
  taskcluster/ci/train-teacher/kind.yml
  taskcluster/ci/translate-corpus/kind.yml
  taskcluster/ci/translate-mono-src/kind.yml
  taskcluster/ci/translate-mono-trg/kind.yml
  taskcluster/scripts/pipeline/train-taskcluster.sh
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: taskgraph-definition

Change the default vocab size to match the script
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Add example configs
  configs/experiments/andre-ca-en.yml
  configs/experiments/evgeny-en-hu.yml
  configs/experiments/greg-en-ca.yml
Due: snakemake-dry-run

Update vocab size
  configs/tc.prod.yml
Due: snakemake-dry-run

Handle None types
  pipeline/train/spm-vocab.sh
Due: snakemake-dry-run, taskgraph-definition

Add docs to collect.sh
  pipeline/translate/collect.sh
  taskcluster/ci/collect-corpus/kind.yml
  taskcluster/ci/collect-mono-src/kind.yml
  taskcluster/ci/collect-mono-trg/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Don't run the training pipeline in PRs unless the pipeline changes (fixes #260)
  taskcluster/ci/all-pr/kind.yml
  taskcluster/translations_taskgraph/transforms/skip_unless_pipeline_changed.py
Due: taskgraph-definition

Adjust backtranslation recipe
  pipeline/train/configs/opustrainer/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

Don't run the training pipeline in PRs unless the pipeline changes (fixes #260) (#278)
  taskcluster/ci/all-pr/kind.yml
  taskcluster/translations_taskgraph/transforms/skip_unless_pipeline_changed.py
Due: taskgraph-definition

Make log downloads work and properly git ignored
  .gitignore
  Makefile
Due: none

Add the test_data artifact to the .gitignore
  .gitignore
Due: none

Add pytest-clarity for better text diffs in tests
  Makefile
  poetry.lock
  pyproject.toml
Due: none

Use an underscore with find_corpus.py
  utils/find_corpus.py
Due: none

Add requests_mock for tests
  poetry.lock
  pyproject.toml
Due: none

Update the find corpus tool to provide more information
  tests/test_find_corpus.py
  utils/find_corpus.py
Due: none

Add humanize to the dependency list
  Makefile
  poetry.lock
  pyproject.toml
Due: none

Update the find corpus tool to provide more information (#280)
  .gitignore
  Makefile
  poetry.lock
  pyproject.toml
  tests/test_find_corpus.py
  utils/find-corpus.py
  utils/find_corpus.py
Due: none

Use more generic names for worker aliases
  taskcluster/ci/alignments/kind.yml
  taskcluster/ci/bicleaner/kind.yml
  taskcluster/ci/cefilter/kind.yml
  taskcluster/ci/clean-corpus/kind.yml
  taskcluster/ci/clean-mono/kind.yml
  taskcluster/ci/collect-corpus/kind.yml
  taskcluster/ci/collect-mono-src/kind.yml
  taskcluster/ci/collect-mono-trg/kind.yml
  taskcluster/ci/config.yml
  taskcluster/ci/dataset/kind.yml
  taskcluster/ci/evaluate-quantized/kind.yml
  taskcluster/ci/evaluate-teacher-ensemble/kind.yml
  taskcluster/ci/evaluate/kind.yml
  taskcluster/ci/export/kind.yml
  taskcluster/ci/extract-best/kind.yml
  taskcluster/ci/finetune-student/kind.yml
  taskcluster/ci/merge-corpus/kind.yml
  taskcluster/ci/merge-devset/kind.yml
  taskcluster/ci/merge-mono/kind.yml
  taskcluster/ci/merge-translated/kind.yml
  taskcluster/ci/quantize/kind.yml
  taskcluster/ci/score/kind.yml
  taskcluster/ci/split-corpus/kind.yml
  taskcluster/ci/split-mono-src/kind.yml
  taskcluster/ci/split-mono-trg/kind.yml
  taskcluster/ci/tests/kind.yml
  taskcluster/ci/toolchain/kind.yml
  taskcluster/ci/train-backwards/kind.yml
  taskcluster/ci/train-student/kind.yml
  taskcluster/ci/train-teacher/kind.yml
  taskcluster/ci/train-vocab/kind.yml
  taskcluster/ci/translate-corpus/kind.yml
  taskcluster/ci/translate-mono-src/kind.yml
  taskcluster/ci/translate-mono-trg/kind.yml
Due: taskgraph-definition

Move GPU & WORKSPACE definitions to config.yml
  taskcluster/ci/config.yml
  taskcluster/ci/evaluate-quantized/kind.yml
  taskcluster/ci/evaluate-teacher-ensemble/kind.yml
  taskcluster/ci/evaluate/kind.yml
  taskcluster/ci/finetune-student/kind.yml
  taskcluster/ci/score/kind.yml
  taskcluster/ci/train-backwards/kind.yml
  taskcluster/ci/train-student/kind.yml
  taskcluster/ci/train-teacher/kind.yml
  taskcluster/ci/translate-corpus/kind.yml
  taskcluster/ci/translate-mono-src/kind.yml
  taskcluster/ci/translate-mono-trg/kind.yml
  taskcluster/translations_taskgraph/transforms/worker_env.py
Due: taskgraph-definition

Change early stopping value
  configs/tc.prod.yml
Due: snakemake-dry-run

Add a serve-docs make command
  .gitignore
  Makefile
  docs/.ruby-version
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
Due: none

Make workers more easily configurable (fixes #254) (#277)
  taskcluster/ci/alignments/kind.yml
  taskcluster/ci/bicleaner/kind.yml
  taskcluster/ci/cefilter/kind.yml
  taskcluster/ci/clean-corpus/kind.yml
  taskcluster/ci/clean-mono/kind.yml
  taskcluster/ci/collect-corpus/kind.yml
  taskcluster/ci/collect-mono-src/kind.yml
  taskcluster/ci/collect-mono-trg/kind.yml
  taskcluster/ci/config.yml
  taskcluster/ci/dataset/kind.yml
  taskcluster/ci/evaluate-quantized/kind.yml
  taskcluster/ci/evaluate-teacher-ensemble/kind.yml
  taskcluster/ci/evaluate/kind.yml
  taskcluster/ci/export/kind.yml
  taskcluster/ci/extract-best/kind.yml
  taskcluster/ci/finetune-student/kind.yml
  taskcluster/ci/merge-corpus/kind.yml
  taskcluster/ci/merge-devset/kind.yml
  taskcluster/ci/merge-mono/kind.yml
  taskcluster/ci/merge-translated/kind.yml
  taskcluster/ci/quantize/kind.yml
  taskcluster/ci/score/kind.yml
  taskcluster/ci/split-corpus/kind.yml
  taskcluster/ci/split-mono-src/kind.yml
  taskcluster/ci/split-mono-trg/kind.yml
  taskcluster/ci/tests/kind.yml
  taskcluster/ci/toolchain/kind.yml
  taskcluster/ci/train-backwards/kind.yml
  taskcluster/ci/train-student/kind.yml
  taskcluster/ci/train-teacher/kind.yml
  taskcluster/ci/train-vocab/kind.yml
  taskcluster/ci/translate-corpus/kind.yml
  taskcluster/ci/translate-mono-src/kind.yml
  taskcluster/ci/translate-mono-trg/kind.yml
  taskcluster/translations_taskgraph/transforms/worker_env.py
Due: taskgraph-definition

temporary: use ahal's branch that may fix PR caching
  taskcluster/requirements.in
  taskcluster/requirements.txt
Due: taskgraph-definition

Add a commit to get another run, and test out cache fix
  taskcluster/kinds/all-pr/kind.yml
Due: taskgraph-definition

Fix typo in skip_unless_pipeline_changed transform
  taskcluster/translations_taskgraph/transforms/skip_unless_pipeline_changed.py
Due: taskgraph-definition

Fix typo in skip_unless_pipeline_changed transform (#304)
  taskcluster/translations_taskgraph/transforms/skip_unless_pipeline_changed.py
Due: taskgraph-definition

Update configs for early stopping
  configs/tc.prod.yml
  pipeline/train/configs/training/teacher.train.yml
Due: snakemake-dry-run, taskgraph-definition

Make downloaded logs not overwrite each other
  Makefile
Due: none

Update gitignore
  .gitignore
Due: none

Fix file sorting
  Makefile
  pipeline/translate/collect2.sh
  pipeline/translate/sort_files.py
  taskcluster/ci/collect-corpus/kind.yml
  taskcluster/ci/collect-mono-src/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Disable early stopping
  configs/tc.prod.yml
Due: snakemake-dry-run

Add documentation on how to run an interactive task
  docs/task-cluster.md
Due: none

Add documentation on how to run an interactive task (#307)
  docs/task-cluster.md
Due: none

Always split corpus to a fixed number of parts
  Snakefile
  configs/config.ci.yml
  configs/config.prod.yml
  configs/config.test.yml
  configs/tc.prod.yml
  pipeline/translate/split-corpus.sh
  pipeline/translate/split-mono.sh
  taskcluster/ci/split-corpus/kind.yml
  taskcluster/ci/split-mono-src/kind.yml
  taskcluster/ci/split-mono-trg/kind.yml
  taskcluster/scripts/pipeline/split-corpus-taskcluster.sh
  taskcluster/scripts/pipeline/split-mono-taskcluster.sh
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
Due: snakemake-dry-run, taskgraph-definition

Fix splitting
  pipeline/translate/split-corpus.sh
  pipeline/translate/split-mono.sh
Due: snakemake-dry-run, taskgraph-definition

Add docker comment
  Makefile
Due: none

Add a serve-docs make command (#302)
  .gitignore
  Makefile
  docs/.ruby-version
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
Due: none

Path conditions:
  snakemake-dry-run: any of: pipeline/**, envs/**, configs/**
  taskgraph-definition: any of: pipeline/**, taskcluster/**
