Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

snakemake-dry-run:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command:
    - bash
    - -c
  ...

taskgraph-definition:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    docker-image:
      in-tree: base
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: make validate-taskgraph

backport get_ancestors fix to ignore 404 errors (#823) DO NOT MERGE TO MAIN
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Update en-id config
  configs/spring-2024/en-id-spring-2024.yml
Due: snakemake-dry-run

Add the gc_collect flag
  pipeline/clean/merge-mono.py
  pipeline/common/memory.py
Due: snakemake-dry-run, taskgraph-definition

Ensure we always export the VCS_PATH into the PYTHONPATH (#826)
  taskcluster/kinds/analyze-corpus/kind.yml
  taskcluster/kinds/analyze-mono/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/extract-best/kind.yml
  taskcluster/kinds/split-corpus/kind.yml
  taskcluster/kinds/split-mono-src/kind.yml
  taskcluster/kinds/split-mono-trg/kind.yml
Due: taskgraph-definition

Add known bad datasets and failures to the config generator (#827)
  utils/config_generator.py
Due: none

Fix missing dependency in task train (#828)
  Taskfile.yml
Due: none

Rename all commands to use $TASK_WORKDIR/artifacts rather than an absolute path (#825)
  taskcluster/kinds/cefilter/kind.yml
  taskcluster/kinds/clean-corpus/kind.yml
  taskcluster/kinds/clean-mono/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/extract-best/kind.yml
  taskcluster/kinds/merge-translated/kind.yml
  taskcluster/kinds/quantize/kind.yml
  taskcluster/kinds/split-corpus/kind.yml
  taskcluster/kinds/split-mono-src/kind.yml
  taskcluster/kinds/split-mono-trg/kind.yml
  taskcluster/kinds/tests/kind.yml
Due: taskgraph-definition

Add a test-fast command for faster local testing
  Taskfile.yml
Due: none

Add a memory logger (#821)
  pipeline/clean/merge-mono.py
  pipeline/clean/requirements/merge-mono.in
  pipeline/clean/requirements/merge-mono.txt
  pipeline/common/__init__.py
  pipeline/common/downloads.py
  pipeline/common/memory.py
Due: snakemake-dry-run, taskgraph-definition

Add a test-fast command for faster local testing (#829)
  Taskfile.yml
Due: none

Remove compression options - Update all kind.yml
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/cefilter/kind.yml
  taskcluster/kinds/clean-corpus/kind.yml
  taskcluster/kinds/clean-mono/kind.yml
  taskcluster/kinds/collect-corpus/kind.yml
  taskcluster/kinds/collect-mono-src/kind.yml
  taskcluster/kinds/collect-mono-trg/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/extract-best/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/merge-devset/kind.yml
  taskcluster/kinds/merge-translated/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/shortlist/kind.yml
  taskcluster/kinds/split-corpus/kind.yml
  taskcluster/kinds/split-mono-src/kind.yml
  taskcluster/kinds/split-mono-trg/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/train-vocab/kind.yml
Due: taskgraph-definition

Remove compression options - Update .sh files
  pipeline/alignments/generate-shortlist.sh
  pipeline/bicleaner/bicleaner.sh
  pipeline/cefilter/ce-filter.sh
  pipeline/cefilter/score.sh
  pipeline/clean/clean-corpus.sh
  pipeline/clean/clean-mono.sh
  pipeline/clean/merge-corpus.sh
  pipeline/clean/opuscleaner/clean-corpus.sh
  pipeline/data/importers/corpus/flores.sh
  pipeline/data/importers/corpus/mtdata.sh
  pipeline/data/importers/corpus/opus.sh
  pipeline/data/importers/corpus/sacrebleu.sh
  pipeline/train/spm-vocab.sh
  pipeline/train/train.sh
  pipeline/translate/collect.sh
  pipeline/translate/merge-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Add an action to rebuild pipeline toolchains
  taskcluster/translations_taskgraph/__init__.py
  taskcluster/translations_taskgraph/actions/rebuild_toolchains.py
Due: taskgraph-definition

Rename action to rebuild-docker-images-and-toolchains and include docker-image and fetch tasks
  taskcluster/translations_taskgraph/__init__.py
  taskcluster/translations_taskgraph/actions/rebuild_docker_images_and_toolchains.py
  taskcluster/translations_taskgraph/actions/rebuild_toolchains.py
Due: taskgraph-definition

Remove compression options - Update .py files
  pipeline/alignments/align.py
  pipeline/bicleaner/download_pack.py
  pipeline/common/downloads.py
  pipeline/data/dataset_importer.py
  pipeline/eval/eval.py
  pipeline/translate/splitter.py
  tests/test_alignments.py
  tests/test_bicleaner.py
  tests/test_data_importer.py
  tests/test_eval.py
  tests/test_split_collect.py
  tests/test_spm_vocab.py
  tests/test_training.py
Due: snakemake-dry-run, taskgraph-definition

Add requirements files for python code that uses requests
  pipeline/alignments/requirements/alignments.in
  pipeline/alignments/requirements/alignments.txt
  pipeline/translate/requirements/splitter.in
  pipeline/translate/requirements/splitter.txt
  taskcluster/kinds/split-corpus/kind.yml
  taskcluster/kinds/split-mono-src/kind.yml
  taskcluster/kinds/split-mono-trg/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Add unit tests for compress_file and decompress_file
  tests/test_common_downloads.py
Due: none

Rename test_read_lines to test_common_downloads
  tests/test_common_downloads.py
Due: none

add documentation on how to manually rebuild cached tasks
  docs/task-cluster.md
Due: none

Add an action to rebuild pipeline toolchains and docker images (#798)
  docs/task-cluster.md
  taskcluster/translations_taskgraph/__init__.py
  taskcluster/translations_taskgraph/actions/rebuild_docker_images_and_toolchains.py
Due: taskgraph-definition

Make the CI model training even slimmer
  taskcluster/configs/config.ci.yml
Due: taskgraph-definition

Bust the cache for testing
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

fix: don't run evaluate tasks on pretrained models (#781)
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/test/test_training_continuation_teacher.py
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: taskgraph-definition

restrict github-push taskcluster events to `main`, `release*`, and `dev*`
  .taskcluster.yml
Due: none

Update documentation and training helper script to take into account supported branches for Taskcluster
  docs/task-cluster.md
  utils/train.py
Due: none

Print out some debug information
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Rework how the training config defaults are produced
  taskcluster/configs/config.ci.yml
  taskcluster/test/test_default_params.py
  taskcluster/test/test_target_stage.py
  taskcluster/test/test_training_continuation_backwards.py
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

chore: update to taskgraph 11
  .taskcluster.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Remove the precision parameter
  taskcluster/configs/config.ci.yml
Due: taskgraph-definition

Update en-ru config
  configs/spring-2024/en-ru-spring-2024.yml
Due: snakemake-dry-run

Remove augmentation for sacrebleu_mtedx/valid
  configs/spring-2024/en-el-spring-2024.yml
Due: snakemake-dry-run

Shrink the workspace and model further
  taskcluster/configs/config.ci.yml
Due: taskgraph-definition

Split run_task commands on ampersand
  tests/fixtures/__init__.py
Due: none

Remove the compression commands from splitter.py
  pipeline/common/downloads.py
  pipeline/translate/splitter.py
Due: snakemake-dry-run, taskgraph-definition

Add split corpus test
  taskcluster/kinds/split-corpus/kind.yml
  tests/test_split_corpus.py
Due: taskgraph-definition

Hack around workspace issue
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Revert the float16 changes
  taskcluster/configs/config.ci.yml
Due: taskgraph-definition

chore: update to taskgraph 11 (#834)
  .taskcluster.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Path conditions:
  snakemake-dry-run: any of: pipeline/**, envs/**, configs/**
  taskgraph-definition: any of: pipeline/**, taskcluster/**
