Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

snakemake-dry-run:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command:
    - bash
    - -c
  ...

taskgraph-definition:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    docker-image:
      in-tree: base
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: make validate-taskgraph

Rerun linter
  pipeline/alignments/tokenizer.py
Due: snakemake-dry-run, taskgraph-definition

Optimize alignments (#703)
  docker/Dockerfile
  pipeline/alignments/align.py
  pipeline/alignments/requirements/alignments.in
  pipeline/alignments/requirements/alignments.txt
  pipeline/alignments/tokenizer.py
  poetry.lock
  pyproject.toml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/shortlist/kind.yml
  tests/fixtures/__init__.py
  tests/test_aln_mapping.py
Due: snakemake-dry-run, taskgraph-definition

Split teacher alignments stage
  taskcluster/config.yml
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
Due: taskgraph-definition

Update cs-en
  configs/spring-2024/cs-en-spring-2024.yml
Due: snakemake-dry-run

Add an extra task to recalculate priors
  taskcluster/config.yml
  taskcluster/kinds/alignments-priors/kind.yml
Due: taskgraph-definition

Support disabled publication through WANDB_PUBLICATION
  pipeline/eval/eval.py
Due: snakemake-dry-run, taskgraph-definition

Fix linting
  tracking/translations_parser/wandb.py
Due: none

fix: shorten non-URL dataset names that are more than 50 characters
  pipeline/common/datasets.py
  taskcluster/translations_taskgraph/util/dataset_helpers.py
Due: snakemake-dry-run, taskgraph-definition

Start distillation stage
  configs/spring-2024/da-en-spring-2024.yml
  configs/spring-2024/hr-en-spring-2024.yml
  configs/spring-2024/lt-en-spring-2024.yml
  configs/spring-2024/lv-en-spring-2024.yml
  configs/spring-2024/sl-en-spring-2024.yml
  configs/spring-2024/uk-en-spring-2024.yml
Due: snakemake-dry-run

Exclude start stage tasks from existing tasks
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Restart failed teachers
  configs/spring-2024/cs-en-spring-2024.yml
  configs/spring-2024/el-en-spring-2024.yml
  configs/spring-2024/ro-en-spring-2024.yml
  configs/spring-2024/ru-en-spring-2024.yml
  configs/spring-2024/sk-en-spring-2024.yml
  configs/spring-2024/sv-en-spring-2024.yml
Due: snakemake-dry-run

Continue to teacher
  configs/spring-2024/bs-en-spring-2024.yml
  configs/spring-2024/sr-en-spring-2024.yml
  configs/spring-2024/tr-en-spring-2024.yml
  configs/spring-2024/vi-en-spring-2024.yml
Due: snakemake-dry-run

Restart en-ru
  configs/spring-2024/en-ru-spring-2024.yml
Due: snakemake-dry-run

Update the table published on group_logs (#660)
  tracking/translations_parser/publishers.py
Due: none

Process alignments in chunks
  pipeline/alignments/align.py
Due: snakemake-dry-run, taskgraph-definition

Update en-uk
  configs/spring-2024/en-uk-spring-2024.yml
Due: snakemake-dry-run

Fix parts order
  pipeline/alignments/align.py
Due: snakemake-dry-run, taskgraph-definition

Expose Takscluster task owner as author for Weight & Biases publication (#704)
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  tracking/translations_parser/wandb.py
Due: taskgraph-definition

Switch aligning student corpus to fast_align
  pipeline/alignments/align.py
  pipeline/alignments/generate-shortlist.sh
  taskcluster/kinds/alignments-student/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Do not use aggressive dash splitting in tokenization
  pipeline/alignments/tokenizer.py
  tests/test_aln_mapping.py
Due: snakemake-dry-run, taskgraph-definition

Add another use case with dash
  tests/test_aln_mapping.py
Due: none

Add more test cases
  tests/test_aln_mapping.py
Due: none

Rebase on main @5d35e4a3
  poetry.lock
  tests/test_tracking_cli.py
  tracking/pyproject.toml
  tracking/translations_parser/data.py
  tracking/translations_parser/parser.py
  tracking/translations_parser/publishers.py
Due: none

Do not use aggressive dash splitting in tokenization (#718)
  pipeline/alignments/tokenizer.py
  tests/test_aln_mapping.py
Due: snakemake-dry-run, taskgraph-definition

fix: add a lengthy dataset to default parameters
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  taskcluster/translations_taskgraph/parameters.py
Due: snakemake-dry-run, taskgraph-definition

Restart from aln student
  configs/spring-2024/da-en-spring-2024.yml
  configs/spring-2024/en-lt-spring-2024.yml
  configs/spring-2024/hr-en-spring-2024.yml
  configs/spring-2024/lt-en-spring-2024.yml
  configs/spring-2024/lv-en-spring-2024.yml
  configs/spring-2024/sl-en-spring-2024.yml
  configs/spring-2024/uk-en-spring-2024.yml
Due: snakemake-dry-run

Rename priors task
  taskcluster/config.yml
  taskcluster/kinds/alignments-priors2/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
Due: taskgraph-definition

Change target to quantized
  configs/spring-2024/da-en-spring-2024.yml
  configs/spring-2024/en-lt-spring-2024.yml
  configs/spring-2024/hr-en-spring-2024.yml
  configs/spring-2024/lt-en-spring-2024.yml
  configs/spring-2024/lv-en-spring-2024.yml
  configs/spring-2024/sl-en-spring-2024.yml
  configs/spring-2024/uk-en-spring-2024.yml
Due: snakemake-dry-run

Rebase on main @5d35e4a3 (#696)
  poetry.lock
  tests/test_tracking_cli.py
  tracking/pyproject.toml
  tracking/translations_parser/data.py
  tracking/translations_parser/parser.py
  tracking/translations_parser/publishers.py
Due: none

Nits
  pipeline/eval/eval.py
Due: snakemake-dry-run, taskgraph-definition

Support incrementing group_logs metrics table
  .gitignore
  pipeline/eval/eval.py
  tracking/translations_parser/wandb.py
Due: snakemake-dry-run, taskgraph-definition

Remove useless indent & fixes
  pipeline/eval/eval.py
Due: snakemake-dry-run, taskgraph-definition

Path conditions:
  snakemake-dry-run: any of: pipeline/**, envs/**, configs/**
  taskgraph-definition: any of: pipeline/**, taskcluster/**
