Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Fix artifacts
  taskcluster/kinds/bicleaner-model/kind.yml
Due: taskgraph-definition

Fix linter issue
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
Due: taskgraph-definition

Fix path
  taskcluster/kinds/bicleaner-model/kind.yml
Due: taskgraph-definition

Install additional development tools in base docker image
  taskcluster/docker/base/Dockerfile
Due: taskgraph-definition

Install additional development tools in base docker image (#372)
  taskcluster/docker/base/Dockerfile
Due: taskgraph-definition

Publish all metrics to a group table
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/data.py
  tracking/translations_parser/publishers.py
Due: none

Publish metrics at the end
  tracking/translations_parser/parser.py
Due: none

Support more metrics formats
  tracking/translations_parser/data.py
Due: none

Add missing steps
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/data.py
  tracking/translations_parser/publishers.py
Due: none

Update tests
  tests/data/experiments/logs/en-nl/prod/eval/eval_backward_flores_devtest.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_backward_mtdata_Neulab-tedtalks_test-1-eng-nld.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_student-finetuned_flores_devtest.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_student-finetuned_mtdata_Neulab-tedtalks_test-1-eng-nld.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_student_flores_devtest.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_student_mtdata_Neulab-tedtalks_test-1-eng-nld.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_teacher-base0_flores_devtest.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_teacher-base0_mtdata_Neulab-tedtalks_test-1-eng-nld.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_teacher-base1_flores_devtest.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_teacher-base1_mtdata_Neulab-tedtalks_test-1-eng-nld.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_teacher-ensemble_flores_devtest.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_teacher-ensemble_mtdata_Neulab-tedtalks_test-1-eng-nld.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_teacher-finetuned0_flores_devtest.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_teacher-finetuned0_mtdata_Neulab-tedtalks_test-1-eng-nld.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_teacher-finetuned1_flores_devtest.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_teacher-finetuned1_mtdata_Neulab-tedtalks_test-1-eng-nld.log
  tests/test_tracking_cli.py
Due: none

Rename pack dir
  pipeline/bicleaner/download_pack.py
Due: snakemake-dry-run, taskgraph-definition

Add tests
  pipeline/bicleaner/download_pack.py
  tests/test_bicleaner.py
Due: snakemake-dry-run, taskgraph-definition

Fix typo
  pipeline/bicleaner/download_pack.py
Due: snakemake-dry-run, taskgraph-definition

Replace rename to move
  pipeline/bicleaner/download_pack.py
Due: snakemake-dry-run, taskgraph-definition

Train for 2 backtranslated epochs
  pipeline/train/configs/opustrainer/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

Bump max run time
  taskcluster/kinds/alignments/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/cefilter/kind.yml
  taskcluster/kinds/clean-corpus/kind.yml
  taskcluster/kinds/clean-mono/kind.yml
Due: taskgraph-definition

en-ca config
  configs/tc.prod.yml
Due: snakemake-dry-run

Evgeny's bicleaner work
  Snakefile
  docs/bicleaner.md
  pipeline/bicleaner/bicleaner.sh
  pipeline/bicleaner/download-pack.sh
  pipeline/bicleaner/download_pack.py
  pipeline/bicleaner/packs.py
  pipeline/bicleaner/requirements/bicleaner.in
  pipeline/bicleaner/requirements/bicleaner.txt
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/fetch/bicleaner.yml
  taskcluster/kinds/fetch/kind.yml
  taskcluster/kinds/merge-corpus/kind.yml
  taskcluster/kinds/merge-devset/kind.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
  tests/test_bicleaner.py
Due: snakemake-dry-run, taskgraph-definition

Skip failing test
  tests/test_preflight_check.py
Due: none

Remove expiration
  taskcluster/kinds/bicleaner-model/kind.yml
Due: taskgraph-definition

Fix docs and clarify caching strategy
  docs/bicleaner.md
  pipeline/bicleaner/download_pack.py
Due: snakemake-dry-run, taskgraph-definition

Fix doc
  docs/bicleaner.md
Due: none

Revert order
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
Due: taskgraph-definition

Small fixes
  pipeline/bicleaner/download_pack.py
Due: snakemake-dry-run, taskgraph-definition

Fix typo
  tests/test_bicleaner.py
Due: none

Use data dir fixture
  tests/test_bicleaner.py
Due: none

Fix comment
  taskcluster/kinds/bicleaner/kind.yml
Due: taskgraph-definition

Remove unused item
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
Due: taskgraph-definition

Publish runs for extra metrics
  tracking/translations_parser/cli/experiments.py
Due: none

Prefix metrics with group
  tracking/translations_parser/cli/experiments.py
Due: none

Improve metrics publication
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/publishers.py
Due: none

Remove unused Metric.model_name
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/data.py
Due: none

Update tests
  tests/test_tracking_cli.py
Due: none

Add a test for evaluation
  pipeline/eval/eval-gpu.sh
  pipeline/eval/eval-quantized.sh
  pipeline/eval/eval.sh
  tests/fixtures/__init__.py
  tests/fixtures/marian-decoder
  tests/fixtures/sacrebleu
  tests/test_eval.py
Due: snakemake-dry-run, taskgraph-definition

Remove sacrebleu fixture
  tests/fixtures/sacrebleu
  tests/test_eval.py
Due: none

Parse missing evaluation results (#374)
  tests/data/experiments/logs/en-nl/prod/eval/eval_backward_flores_devtest.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_backward_mtdata_Neulab-tedtalks_test-1-eng-nld.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_student-finetuned_flores_devtest.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_student-finetuned_mtdata_Neulab-tedtalks_test-1-eng-nld.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_student_flores_devtest.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_student_mtdata_Neulab-tedtalks_test-1-eng-nld.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_teacher-base0_flores_devtest.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_teacher-base0_mtdata_Neulab-tedtalks_test-1-eng-nld.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_teacher-base1_flores_devtest.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_teacher-base1_mtdata_Neulab-tedtalks_test-1-eng-nld.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_teacher-ensemble_flores_devtest.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_teacher-ensemble_mtdata_Neulab-tedtalks_test-1-eng-nld.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_teacher-finetuned0_flores_devtest.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_teacher-finetuned0_mtdata_Neulab-tedtalks_test-1-eng-nld.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_teacher-finetuned1_flores_devtest.log
  tests/data/experiments/logs/en-nl/prod/eval/eval_teacher-finetuned1_mtdata_Neulab-tedtalks_test-1-eng-nld.log
  tests/test_tracking_cli.py
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/data.py
  tracking/translations_parser/parser.py
  tracking/translations_parser/publishers.py
Due: none

Add missing word in documentation
  pipeline/eval/eval-quantized.sh
Due: snakemake-dry-run, taskgraph-definition

Add metric assertions for each since the real sacrebleu is being used
  tests/test_eval.py
Due: none

Test new images
  taskcluster/config.yml
Due: taskgraph-definition
