Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Update en-ru
  configs/spring-2024/en-ru-spring-2024.yml
Due: snakemake-dry-run

Process alignments in chunks (#763)
  pipeline/alignments/align.py
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/shortlist/kind.yml
  tests/test_alignments.py
Due: snakemake-dry-run, taskgraph-definition

Switch priors to a smaller machine
  taskcluster/kinds/alignments-priors2/kind.yml
Due: taskgraph-definition

add 2tb gpu workers
  taskcluster/config.yml
Due: taskgraph-definition

Fix restarting downloads
  pipeline/common/downloads.py
Due: snakemake-dry-run, taskgraph-definition

add 2tb gpu workers (#782)
  taskcluster/config.yml
Due: taskgraph-definition

Bump disk for student
  taskcluster/config.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-student/kind.yml
Due: taskgraph-definition

Fix alias
  taskcluster/config.yml
Due: taskgraph-definition

restrict github-push taskcluster events to `main`, `release*`, and `dev*`
  .taskcluster.yml
Due: none

Fix restarting downloads (#784)
  pipeline/common/downloads.py
Due: snakemake-dry-run, taskgraph-definition

Simplify translate mono kind files (#770)
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
Due: taskgraph-definition

Add a mono nllb build script (#780)
  Taskfile.yml
  utils/build-mono-nllb.py
Due: none

Increase mini batch
  configs/spring-2024/en-uk-spring-2024.yml
Due: snakemake-dry-run

Fix workspace typo
  pipeline/cefilter/score.sh
Due: snakemake-dry-run, taskgraph-definition

Expand out the marian args passed into opus trainer
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Clean up after bicleaner downloader
  pipeline/bicleaner/download_pack.py
Due: snakemake-dry-run, taskgraph-definition

feat: add scaffolding and basic tests for taskgraph generation
  Taskfile.yml
  poetry.lock
  pyproject.toml
  taskcluster/pyproject.toml
  taskcluster/test/conftest.py
  taskcluster/test/test_default_params.py
  taskcluster/test/test_target_stage.py
  taskcluster/test/test_training_continuation_backwards.py
  taskcluster/translations_taskgraph/parameters.py
  taskcluster/translations_taskgraph/util/substitution.py
Due: taskgraph-definition

feat: add scaffolding and basic tests for taskgraph generation (#776)
  Taskfile.yml
  poetry.lock
  pyproject.toml
  taskcluster/pyproject.toml
  taskcluster/test/conftest.py
  taskcluster/test/test_default_params.py
  taskcluster/test/test_target_stage.py
  taskcluster/test/test_training_continuation_backwards.py
  taskcluster/translations_taskgraph/parameters.py
  taskcluster/translations_taskgraph/util/substitution.py
Due: taskgraph-definition

fix: don't run evaluate tasks on pretrained models
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/test/test_training_continuation_teacher.py
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: taskgraph-definition

Bump disk for student (#786)
  taskcluster/config.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-student/kind.yml
Due: taskgraph-definition

Clean up after bicleaner downloader (#788)
  pipeline/bicleaner/download_pack.py
Due: snakemake-dry-run, taskgraph-definition

Expand out marian command arguments (#779)
  pipeline/cefilter/score.sh
  pipeline/quantize/export.sh
  pipeline/quantize/quantize.sh
  pipeline/train/train.sh
  pipeline/translate/translate-nbest.sh
  pipeline/translate/translate.sh
Due: snakemake-dry-run, taskgraph-definition

Change base image to trigger toolchain rebuilds
  taskcluster/docker/base/Dockerfile
Due: taskgraph-definition

Group logs online evals (#708)
  .gitignore
  pipeline/eval/eval.py
  tracking/translations_parser/wandb.py
Due: snakemake-dry-run, taskgraph-definition

[skip ci] change base image to trigger toolchain rebuilds
  action-callback.log
  action-input.yml
  release-push-parameters.yml
  taskcluster/docker/base/Dockerfile
Due: taskgraph-definition

Use en-uk configuration that triggered the issue
  action-callback.log
  action-input.yml
  release-push-parameters.yml
Due: none

Change base image to trigger toolchain rebuilds (#791)
  taskcluster/docker/base/Dockerfile
Due: taskgraph-definition

Change base image to trigger toolchain rebuilds (#794)
  taskcluster/docker/base/Dockerfile
Due: taskgraph-definition

Change base image to trigger toolchain rebuilds (#797)
  taskcluster/docker/base/Dockerfile
Due: taskgraph-definition

Suggestion
  tracking/translations_parser/parser.py
Due: none

Suppress the ruff sorting behavior
  pyproject.toml
Due: none

Add toolchain tasks
  configs/spring-2024/en-cs-spring-2024.yml
  configs/spring-2024/en-fi-spring-2024.yml
  configs/spring-2024/en-id-spring-2024.yml
  configs/spring-2024/en-ro-spring-2024.yml
  configs/spring-2024/en-ru-spring-2024.yml
  configs/spring-2024/en-sk-spring-2024.yml
  configs/spring-2024/en-tr-spring-2024.yml
  configs/spring-2024/en-uk-spring-2024.yml
Due: snakemake-dry-run

Bump disk for cefilter
  taskcluster/kinds/cefilter/kind.yml
Due: taskgraph-definition

Update configs
  configs/spring-2024/en-ru-spring-2024.yml
  configs/spring-2024/en-sv-spring-2024.yml
Due: snakemake-dry-run
