Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

cache bust
  taskcluster/docker/base/Dockerfile
Due: taskgraph-definition

Use d2g workers for large and xlarge disk cpu workers too
  taskcluster/config.yml
Due: taskgraph-definition

cache bust
  .taskcluster.yml
  taskcluster/docker/base/Dockerfile
Due: taskgraph-definition

Try switching b-cpu machines to d2g image
  taskcluster/config.yml
Due: taskgraph-definition

use bigger disks for b-cpu
  taskcluster/config.yml
Due: taskgraph-definition

revert
  .taskcluster.yml
Due: none

reduce max runtime to work around issue
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/cefilter/kind.yml
  taskcluster/kinds/clean-mono/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/shortlist/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
Due: taskgraph-definition

switch to bh workers
  taskcluster/config.yml
Due: taskgraph-definition

revert max runtime changes
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/cefilter/kind.yml
  taskcluster/kinds/clean-mono/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/score/kind.yml
  taskcluster/kinds/shortlist/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/kinds/translate-mono-trg/kind.yml
Due: taskgraph-definition

Remove small datasets
  configs/tc.prod.yml
Due: snakemake-dry-run

Prevent duplicating group_logs from experiments entrypoint
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/publishers.py
Due: none

Update parser
  tracking/translations_parser/data.py
  tracking/translations_parser/parser.py
  tracking/translations_parser/publishers.py
Due: none

Add tests
  tests/data/experiments_wandb_calls_1_10.json
  tests/data/experiments_wandb_calls_1_12.json
  tests/test_tracking_cli.py
Due: none

Prevent duplicating group_logs from experiments entrypoint (#511)
  tracking/translations_parser/cli/taskcluster_group.py
  tracking/translations_parser/publishers.py
Due: none

Bust the teacher cache
  bust-teacher-cache.txt
Due: none

Update the docs for training continuation to use yaml
  docs/using-pretrained-models.md
  taskcluster/configs/config.prod.yml
Due: taskgraph-definition

Change the opus trainer config
  configs/tc.prod.yml
  pipeline/train/configs/opustrainer/teacher.yml
Due: snakemake-dry-run, taskgraph-definition

Add opus filter cleaning
  pipeline/clean/opusfilter/clean-corpus.sh
  pipeline/clean/requirements/opusfilter.in
  pipeline/clean/requirements/opusfilter.txt
Due: snakemake-dry-run, taskgraph-definition

Replace some OpusCleaner filters with OpusFilter
  pipeline/clean/opuscleaner/configs/default.filters.json
  pipeline/clean/opusfilter/clean-corpus.sh
  pipeline/clean/requirements/opusfilter.in
  pipeline/clean/requirements/opusfilter.txt
  taskcluster/kinds/clean-corpus/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Use temp dir
  pipeline/clean/opusfilter/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Add the script to caching
  taskcluster/kinds/clean-corpus/kind.yml
Due: taskgraph-definition

Remove data after decompression
  pipeline/clean/opusfilter/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Remove uncompressed data
  pipeline/clean/opusfilter/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Add laser filter, fix script
  pipeline/clean/opusfilter/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition

Use new workers
  taskcluster/config.yml
Due: taskgraph-definition

fix config
  taskcluster/config.yml
Due: taskgraph-definition

fixc pu worker name
  taskcluster/config.yml
Due: taskgraph-definition

Update the docs for training continuation to use yaml (#516)
  docs/using-pretrained-models.md
  taskcluster/configs/config.prod.yml
Due: taskgraph-definition

Attach analyze-corpus to the all task
  taskcluster/config.yml
  taskcluster/kinds/all-pr/kind.yml
  taskcluster/kinds/all/kind.yml
Due: taskgraph-definition

Add the dataset name to the graphs
  pipeline/data/analyze.py
  tests/test_analyze_mono.py
Due: snakemake-dry-run, taskgraph-definition

Make analyze-mono/kind.yml consistent with analyze-corpus/kind.yml
  taskcluster/kinds/analyze-mono/kind.yml
Due: taskgraph-definition

Rename the analyze test to be generic for mono and corpus tasks
  tests/test_analyze.py
Due: none

Add the analysis tool to parallel corpora
  taskcluster/kinds/analyze-corpus/kind.yml
  tests/fixtures/__init__.py
  tests/test_analyze_mono.py
Due: taskgraph-definition

Use fast text small in legacy cleaning
  pipeline/clean/clean-corpus.sh
  pipeline/clean/tools/langid_fasttext.py
  taskcluster/kinds/clean-corpus/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Disable opus cleaner in CI
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Add filtering stats
  pipeline/clean/clean-corpus.sh
Due: snakemake-dry-run, taskgraph-definition
