Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Disable augmentation for student (#273)
  pipeline/train/configs/opustrainer/student.yml
Due: snakemake-dry-run, taskgraph-definition

Add test parameters files
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
Due: taskgraph-definition

Add test parameters files (#275)
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
Due: taskgraph-definition

Pass base_ref/base_rev to taskgraph
  .taskcluster.yml
Due: none

Add taskgraph-diff ci job
  taskcluster/ci/tests/kind.yml
Due: taskgraph-definition

Add Makefile target to generate taskgraph diffs
  Makefile
Due: none

Include the marian-vocab binary in the marian package
  taskcluster/scripts/toolchain/build-marian.sh
Due: taskgraph-definition

Add taskgraph-diff ci job (#276)
  .taskcluster.yml
  Makefile
  taskcluster/ci/tests/kind.yml
Due: taskgraph-definition

Add my config
  configs/tc.prod.yml
Due: snakemake-dry-run

Include the marian-vocab binary in the marian package (#282)
  taskcluster/scripts/toolchain/build-marian.sh
Due: taskgraph-definition

Add curly braces
  configs/tc.prod.yml
Due: snakemake-dry-run

disable bicleaner ai for en-ca; horrible hack to make opus datasets work in mono-src/trg
  taskcluster/ci/bicleaner/kind.yml
  taskcluster/translations_taskgraph/transforms/from_datasets.py
Due: taskgraph-definition

Fix the ordering of the datasets
  configs/tc.prod.yml
Due: snakemake-dry-run

Hack the fetches
  taskcluster/ci/clean-mono/kind.yml
Due: taskgraph-definition

Clean mono argument examples
  pipeline/clean/clean-mono.sh
Due: snakemake-dry-run, taskgraph-definition

Add documentation to merge-mono
  pipeline/clean/merge-mono.sh
Due: snakemake-dry-run, taskgraph-definition

Fix mono sources to allow for parallel data
  taskcluster/ci/clean-mono/kind.yml
Due: taskgraph-definition

Revert "Add taskgraph-diff ci job (#276)"
  .taskcluster.yml
  Makefile
  taskcluster/ci/tests/kind.yml
Due: taskgraph-definition

Disable opus cleaner
  configs/tc.prod.yml
Due: snakemake-dry-run

Update the .gitignore to ignore data folders
  .gitignore
Due: none

TODO
  .taskcluster.yml
Due: none

quick test
  README.md
Due: none

Use shorter version of `base_ref` for branches in the canonical repository
  .taskcluster.yml
Due: none

Use shorter version of `base_ref` for branches in the canonical repository (#287)
  .taskcluster.yml
Due: none

Keep final artifacts
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: taskgraph-definition

Fix finetune-student
  taskcluster/ci/finetune-student/kind.yml
Due: taskgraph-definition

Update train action schema
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

Make train-taskcluster script executable
  taskcluster/scripts/pipeline/train-taskcluster.sh
Due: taskgraph-definition

Update task kinds and dependencies
  taskcluster/ci/evaluate-teacher-ensemble/kind.yml
  taskcluster/ci/evaluate/kind.yml
  taskcluster/ci/score/kind.yml
  taskcluster/ci/train-backwards/kind.yml
  taskcluster/ci/train-teacher/kind.yml
  taskcluster/ci/translate-corpus/kind.yml
  taskcluster/ci/translate-mono-src/kind.yml
  taskcluster/ci/translate-mono-trg/kind.yml
Due: taskgraph-definition

Use final artifacts
  taskcluster/scripts/pipeline/train-taskcluster.sh
Due: taskgraph-definition

Update parameter schema
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Use config.kind not tags
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: taskgraph-definition

Re-name mount_pretrained_model_training_artifacts
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: taskgraph-definition

Fix issue in train backwards and train teacher
  taskcluster/ci/train-backwards/kind.yml
  taskcluster/ci/train-teacher/kind.yml
Due: taskgraph-definition

Don't need to cp artifacts on use, they are already mounted
  taskcluster/scripts/pipeline/train-taskcluster.sh
Due: taskgraph-definition

Move parameter sanity check to train.py
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: taskgraph-definition

Fix evaluate step
  taskcluster/ci/train-student/kind.yml
Due: taskgraph-definition

Add `training_continuation` transform
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: taskgraph-definition

Add taskcluster training script
  taskcluster/scripts/pipeline/train-taskcluster.sh
Due: taskgraph-definition

Don't pass in VCS_PATH
  taskcluster/scripts/pipeline/train-taskcluster.sh
Due: taskgraph-definition
