Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Use larger machine
  taskcluster/kinds/merge-translated/kind.yml
Due: taskgraph-definition

Multiply comet metric by 100 before publication (#754)
  tracking/translations_parser/data.py
Due: none

fix: don't try to decompress fetched python wheels or npz files
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
Due: taskgraph-definition

fix: ensure mkdir /builds always succeeds in base docker image
  taskcluster/docker/base/Dockerfile
Due: taskgraph-definition

chore: bump taskgraph to 10.0.1
  .taskcluster.yml
  poetry.lock
  pyproject.toml
  taskcluster/requirements.in
  taskcluster/requirements.txt
Due: taskgraph-definition

Process alignments in chunks
  pipeline/alignments/align.py
Due: snakemake-dry-run, taskgraph-definition

Use chunking in tests
  tests/test_alignments.py
Due: none

Switch to a smaller machine
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/shortlist/kind.yml
Due: taskgraph-definition

chore: bump taskgraph to 9.2.0 (#738)
  .taskcluster.yml
  poetry.lock
  pyproject.toml
  taskcluster/docker/base/Dockerfile
  taskcluster/kinds/bicleaner-model/kind.yml
  taskcluster/kinds/bicleaner/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/translate-corpus/kind.yml
  taskcluster/kinds/translate-mono-src/kind.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
Due: taskgraph-definition

fix: invalidate caches when fetch, docker, or toolchain tasks change
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
Due: taskgraph-definition

fix: invalidate caches when fetch, docker, or toolchain tasks change (#761)
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
Due: taskgraph-definition

Use larger machine (#762)
  taskcluster/kinds/merge-translated/kind.yml
Due: taskgraph-definition

Re-enable d2g for cpu workers
  taskcluster/config.yml
Due: taskgraph-definition

use bhearsum's special worker for debugging
  taskcluster/config.yml
Due: taskgraph-definition

cache bust
  taskcluster/docker/base/Dockerfile
Due: taskgraph-definition

Simplify translate-mono-trg
  taskcluster/kinds/translate-mono-trg/kind.yml
Due: taskgraph-definition

Simplify translate-mono-src
  taskcluster/kinds/translate-mono-src/kind.yml
Due: taskgraph-definition

Add a check that there are visible GPUs
  pipeline/bicleaner/bicleaner.sh
  taskcluster/kinds/bicleaner/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Rename python to python3
  pipeline/bicleaner/bicleaner.sh
Due: snakemake-dry-run, taskgraph-definition

Add a check that there are visible GPUs (#722)
  pipeline/bicleaner/bicleaner.sh
  taskcluster/kinds/bicleaner/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Update configs
  configs/spring-2024/en-cs-spring-2024.yml
  configs/spring-2024/en-ro-spring-2024.yml
  configs/spring-2024/en-sv-spring-2024.yml
  configs/spring-2024/en-uk-spring-2024.yml
  configs/spring-2024/en-vi-spring-2024.yml
Due: snakemake-dry-run

temp: use cpu worker pool that uses gpu image to see if it works
  taskcluster/config.yml
Due: taskgraph-definition

Publish Marian, OpusTrainer configs and datasets statistics
  tracking/translations_parser/parser.py
  tracking/translations_parser/publishers.py
  tracking/translations_parser/utils.py
Due: none

Fixes
  tracking/translations_parser/parser.py
  tracking/translations_parser/publishers.py
Due: none

Update tests
  tests/test_tracking_cli.py
Due: none

Store extra config files as new keys of the main config
  tracking/translations_parser/parser.py
  tracking/translations_parser/publishers.py
Due: none

Fixes
  tracking/translations_parser/parser.py
Due: none

Support extra-args for offline publication
  tracking/translations_parser/parser.py
Due: none

Nit
  tracking/translations_parser/utils.py
Due: none

Plot datasets in a custom chart
  tracking/translations_parser/publishers.py
Due: none

Fix tests in CI context
  tests/test_tracking_cli.py
Due: none

Fix tests
  tests/test_tracking_cli.py
Due: none

Update configs
  configs/spring-2024/en-id-spring-2024.yml
  configs/spring-2024/en-tr-spring-2024.yml
Due: snakemake-dry-run

Document chunk naming
  pipeline/alignments/align.py
Due: snakemake-dry-run, taskgraph-definition

Process alignments in chunks (#763)
  pipeline/alignments/align.py
  taskcluster/kinds/alignments-backtranslated/kind.yml
  taskcluster/kinds/alignments-original/kind.yml
  taskcluster/kinds/alignments-student/kind.yml
  taskcluster/kinds/shortlist/kind.yml
  tests/test_alignments.py
Due: snakemake-dry-run, taskgraph-definition

Suggestions
  tracking/translations_parser/parser.py
Due: none

TRASHME Test publication from CI
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Revert "TRASHME Test publication from CI"
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Expand out marian command arguments
  pipeline/cefilter/score.sh
  pipeline/quantize/export.sh
  pipeline/quantize/quantize.sh
  pipeline/translate/translate-nbest.sh
  pipeline/translate/translate.sh
Due: snakemake-dry-run, taskgraph-definition

Add a mono nllb build script
  Taskfile.yml
  utils/build-mono-nllb.py
Due: none
