Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Rename train.py to trigger_training.py
  utils/trigger_training.py
Due: none

Kick off training from the command line
  Taskfile.yml
  docs/task-cluster.md
  utils/trigger_training.py
Due: none

Add truncation script
  configs/experiments-H2-2024/da-en.yml
  pipeline/train/truncate.sh
  taskcluster/kinds/train-student/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Update training config
  configs/autogenerated/da-en-mono_100_percent.yml
Due: snakemake-dry-run

Only use branches that are named correctly for kicking off training
  docs/task-cluster.md
  utils/trigger_training.py
Due: none

Fix some small issues with trigger_training.py
  utils/trigger_training.py
Due: none

Adjust the training config
  configs/spring-2024/da-en-spring-2024.yml
Due: snakemake-dry-run

Update config
  .gitignore
  configs/experiments-H2-2024/da-en.yml
  utils/trigger_training.py
Due: snakemake-dry-run

75% mono
  pipeline/train/truncate.sh
Due: snakemake-dry-run, taskgraph-definition

Update training script
  utils/trigger_training.py
Due: none

mono 50%
  configs/experiments-H2-2024/da-en.yml
  pipeline/train/truncate.sh
Due: snakemake-dry-run, taskgraph-definition

mono 25%
  configs/experiments-H2-2024/da-en.yml
  pipeline/train/truncate.sh
Due: snakemake-dry-run, taskgraph-definition

Refine the script a little bit
  utils/trigger_training.py
Due: none

Kick off training from the command line (#883)
  Taskfile.yml
  docs/task-cluster.md
  utils/train.py
  utils/trigger_training.py
Due: none

Disable bilceaner hard rules completely
  pipeline/bicleaner/bicleaner.sh
Due: snakemake-dry-run, taskgraph-definition

Revert "Add student base configuration option (#881)"
  docs/training-guide.md
  pipeline/train/configs/model/student.base.yml
  pipeline/train/configs/model/student.yml
  pipeline/train/train.py
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/scripts/pipeline/train-taskcluster.sh
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  tests/fixtures/config.pytest.yml
Due: snakemake-dry-run, taskgraph-definition

Change opustrainer log level
  pipeline/train/train.py
Due: snakemake-dry-run, taskgraph-definition

mono 75%
  .gitignore
  configs/autogenerated/da-en-mono_100_percent.yml
  pipeline/train/truncate.sh
Due: snakemake-dry-run, taskgraph-definition

Fix taskcluster train scripts
  taskcluster/scripts/pipeline/train_taskcluster.py
  tests/test_train_taskcluster.py
Due: taskgraph-definition

Fix taskcluster train scripts (#895)
  taskcluster/scripts/pipeline/train_taskcluster.py
  tests/test_train_taskcluster.py
Due: taskgraph-definition

Add a converter for Chinese
  pipeline/data/cjk.py
  tests/test_cjk.py
Due: snakemake-dry-run, taskgraph-definition

Convert imported datasets to simplified
  pipeline/data/dataset_importer.py
  pipeline/data/download-mono.py
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  taskcluster/kinds/dataset/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Add augmentation modifier for cjk
  pipeline/data/dataset_importer.py
Due: snakemake-dry-run, taskgraph-definition

Update tests
  poetry.lock
  pyproject.toml
  tests/test_data_importer.py
Due: none

Move constants to the beginning of the file
  tests/test_data_importer.py
Due: none

Add custom cleaning configs for CJK
  pipeline/clean/opuscleaner/configs/en-ja/default.filters.json
  pipeline/clean/opuscleaner/configs/en-ko/default.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/default.filters.json
  pipeline/clean/opuscleaner/configs/ja-en/default.filters.json
  pipeline/clean/opuscleaner/configs/ko-en/default.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/default.filters.json
Due: snakemake-dry-run, taskgraph-definition

Make custom filters direction specific
  pipeline/clean/opuscleaner/generate_filters.py
Due: snakemake-dry-run, taskgraph-definition

Update tests
  tests/test_filters.py
Due: none

Remove max_words filtering from data importers
  pipeline/clean/merge-corpus.py
  pipeline/clean/merge-mono.py
  pipeline/common/datasets.py
  pipeline/data/download-mono.py
  pipeline/data/importers/mono/hplt.py
  tests/test_common_datasets.py
  utils/build-mono-nllb.py
Due: snakemake-dry-run, taskgraph-definition

Fix mono cleaning for CJK
  pipeline/clean/tools/clean_mono.py
Due: snakemake-dry-run, taskgraph-definition

Apply allocation-bergamot.patch
  inference/src/translator/translation_model.cpp
Due: none

Move build-bergamot.py into tree as build-wasm.py
  inference/scripts/build-wasm.py
Due: none

Replace build-wasm.sh with build-wasm.py
  Taskfile.yml
  inference/.gitignore
  inference/patches/01-marian-fstream-for-macos.patch
  inference/patches/02-marian-allocation.patch
  inference/scripts/build-wasm.py
  inference/scripts/build-wasm.sh
Due: none
