Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

taskcluster/ci/tests/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms

task-defaults:
  description: "Run tests"
  run:
    using: run-task
    cwd: '{checkout}'

tasks:
  snakemake-dry-run:
    # Ensure that the snakemake workflow is still executing correctly, even though
    # taskcluster is the preferred execution environment.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run-on-tasks-for: ["github-push", "github-pull-request"]
    optimization:
        skip-unless-changed:
            - pipeline/**
            - envs/**
            - configs/**
    run:
      command:
        - bash
        - -c
        - >-
          echo "Setting environment variables"                              &&
          export CONDA_PATH=/builds/worker/artifacts/mambaforge             &&
          export SNAKEMAKE_OUTPUT_CACHE=/builds/worker/artifacts/mambaforge &&
          export REPORTS=/builds/worker/artifacts/reports                   &&
          export MODELS=/builds/worker/artifacts/models                     &&

          echo "Install necessary dependencies"                             &&
          make conda                                                        &&
          make snakemake                                                    &&
          make git-modules                                                  &&

          echo "Start the dry run"                                          &&
          make dry-run                                                      &&
          make test-dry-run

  black:
    # Run python's black formatter, which formats python files.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make black
    run-on-tasks-for: ["github-push", "github-pull-request"]

  lint:
    # Run ruff, a python linter.
    expires-after: "90 days"
    worker-type: b-linux-large
    worker:
      max-run-time: 3600
      docker-image: {in-tree: test}
    run:
      command:
        - bash
        - -c
        - >-
            pip install poetry &&
            make lint
    run-on-tasks-for: ["github-push", "github-pull-request"]

  taskgraph-definition:
      expires-after: "90 days"
      worker-type: b-linux-large
      worker:
          docker-image: {in-tree: base}
          max-run-time: 3600
      description: "Test the full `translations_taskgraph` to validate the latest changes"
      run-on-tasks-for: ["github-push", "github-pull-request"]
      optimization:
        skip-unless-changed:
            - pipeline/**
            - taskcluster/**
      run:
          command: >-
              make validate-taskgraph

Report learning rate for teacher
  pipeline/train/configs/training/teacher.train.yml
Due: snakemake-dry-run, taskgraph-definition

Remove old link
  pipeline/train/configs/training/teacher.train.yml
Due: snakemake-dry-run, taskgraph-definition

Match validation and save frequency
  pipeline/train/configs/training/teacher.train.yml
Due: snakemake-dry-run, taskgraph-definition

Publish fake run at last
  tracking/translations_parser/cli/experiments.py
Due: none

Add a sample for experiments structure
  tracking/samples/experiments/experiments/en-nl/prod/config.yml
  tracking/samples/experiments/models/en-nl/prod/evaluation/speed/flores_devtest.metrics
  tracking/samples/experiments/models/en-nl/prod/evaluation/speed/mtdata_Neulab-tedtalks_test-1-eng-nld.metrics
  tracking/samples/experiments/models/en-nl/prod/evaluation/student/flores_devtest.metrics
  tracking/samples/experiments/models/en-nl/prod/evaluation/student/mtdata_Neulab-tedtalks_test-1-eng-nld.metrics
  tracking/samples/experiments/models/en-nl/prod/evaluation/teacher-finetuned0/flores_devtest.metrics
  tracking/samples/experiments/models/en-nl/prod/evaluation/teacher-finetuned0/mtdata_Neulab-tedtalks_test-1-eng-nld.metrics
  tracking/samples/experiments/models/en-nl/prod/evaluation/teacher-finetuned1/flores_devtest.metrics
  tracking/samples/experiments/models/en-nl/prod/evaluation/teacher-finetuned1/mtdata_Neulab-tedtalks_test-1-eng-nld.metrics
Due: none

Only publish metrics in a bar chart
  tracking/translations_parser/publishers.py
Due: none

Remove pre-commit rules
  pipeline/publication/.codespellignore
  pipeline/publication/.flake8
  pipeline/publication/.isort.cfg
  pipeline/publication/.pre-commit-config.yaml
Due: snakemake-dry-run, taskgraph-definition

Suggestions
  docs/tracking.md
  tracking/LICENSE
  tracking/MANIFEST.in
  tracking/README.md
  tracking/translations_parser/VERSION
Due: none

Update parser package for translations main repo
  pipeline/publication/.github/workflows/pre-commit.yml
  pipeline/publication/.gitignore
  pipeline/publication/README.md
  pipeline/publication/notebooks/config.yaml
  pipeline/publication/notebooks/log.txt
  pipeline/publication/notebooks/log2.txt
  pipeline/publication/notebooks/mlflow.ipynb
  pipeline/publication/samples/logs/en-sv/opusmt-multimodel-test/opusmt-multimodel-test/pigz
  pipeline/publication/samples/models/en-sv/opusmt-multimodel-test/evaluation/speed/tc_Tatoeba-Challenge-v2021-08-07.metrics
  pipeline/publication/samples/models/en-sv/opusmt-multimodel-test/evaluation/student-finetuned/tc_Tatoeba-Challenge-v2021-08-07.metrics
  pipeline/publication/samples/models/en-sv/opusmt-multimodel-test/evaluation/student/tc_Tatoeba-Challenge-v2021-08-07.metrics
  pipeline/publication/translations_parser/cli/experiments.py
Due: snakemake-dry-run, taskgraph-definition

Add tests
  Makefile
  tests/data/KZPjvTEiSmO--BXYpQCNPQ.txt
  tests/data/experiments/experiments/en-nl/prod/config.yml
  tests/data/experiments/models/en-nl/prod/evaluation/speed/flores_devtest.metrics
  tests/data/experiments/models/en-nl/prod/evaluation/speed/mtdata_Neulab-tedtalks_test-1-eng-nld.metrics
  tests/data/experiments/models/en-nl/prod/evaluation/student/flores_devtest.metrics
  tests/data/experiments/models/en-nl/prod/evaluation/student/mtdata_Neulab-tedtalks_test-1-eng-nld.metrics
  tests/data/experiments/models/en-nl/prod/evaluation/teacher-finetuned0/flores_devtest.metrics
  tests/data/experiments/models/en-nl/prod/evaluation/teacher-finetuned0/mtdata_Neulab-tedtalks_test-1-eng-nld.metrics
  tests/data/experiments/models/en-nl/prod/evaluation/teacher-finetuned1/flores_devtest.metrics
  tests/data/experiments/models/en-nl/prod/evaluation/teacher-finetuned1/mtdata_Neulab-tedtalks_test-1-eng-nld.metrics
  tests/data/experiments_wandb_calls.json
  tests/data/simulate_process.py
  tests/data/taskcluster_wandb_calls.json
  tests/test_tracking_cli.py
  tracking/README.md
Due: none

Linting and small fixes
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/publishers.py
Due: none

Remove package and pin requirements
  pipeline/publication/README.md
  pipeline/publication/requirements/common.in
  pipeline/publication/requirements/common.txt
  pipeline/publication/setup.py
Due: snakemake-dry-run, taskgraph-definition

Update tests
  tests/test_tracking_cli.py
Due: none

Update metrics parser
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/data.py
  tracking/translations_parser/parser.py
  tracking/translations_parser/publishers.py
Due: none

Move parser to 'tracking' root folder
  README.md
  docs/tracking.md
  tracking/.gitignore
  tracking/LICENSE
  tracking/MANIFEST.in
  tracking/README.md
  tracking/requirements/common.in
  tracking/requirements/common.txt
  tracking/samples/KZPjvTEiSmO--BXYpQCNPQ.txt
  tracking/samples/simulate_process.py
  tracking/setup.py
  tracking/translations_parser/VERSION
  tracking/translations_parser/__init__.py
  tracking/translations_parser/cli/__init__.py
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/data.py
  tracking/translations_parser/parser.py
  tracking/translations_parser/publishers.py
Due: none

Handle pushing metrics when no logs are available
  tracking/translations_parser/cli/experiments.py
Due: none

Update parser code
  pipeline/publication/translations_parser/cli/experiments.py
  pipeline/publication/translations_parser/data.py
  pipeline/publication/translations_parser/parser.py
  pipeline/publication/translations_parser/publishers.py
Due: snakemake-dry-run, taskgraph-definition

Fix tests for CI job
  Makefile
  taskcluster/kinds/tests/kind.yml
  tests/test_tracking_cli.py
Due: taskgraph-definition

Nits/Fixes
  pipeline/publication/translations_parser/cli/experiments.py
  pipeline/publication/translations_parser/parser.py
  pipeline/publication/translations_parser/publishers.py
Due: snakemake-dry-run, taskgraph-definition

Add documentation
  README.md
  docs/publication.md
Due: none

Apply black
  pipeline/publication/translations_parser/cli/experiments.py
  pipeline/publication/translations_parser/cli/task_cluster.py
  pipeline/publication/translations_parser/parser.py
Due: snakemake-dry-run, taskgraph-definition

Invert metrics data order (bleu_detok, chrf)
  tracking/translations_parser/data.py
Due: none

Switch to pyproject.toml + pinned dependencies
  tracking/README.md
  tracking/pyproject.toml
  tracking/setup.py
Due: none

Move publication parser prototype
  pipeline/publication/.codespellignore
  pipeline/publication/.flake8
  pipeline/publication/.github/workflows/pre-commit.yml
  pipeline/publication/.gitignore
  pipeline/publication/.isort.cfg
  pipeline/publication/.pre-commit-config.yaml
  pipeline/publication/LICENSE
  pipeline/publication/MANIFEST.in
  pipeline/publication/README.md
  pipeline/publication/notebooks/config.yaml
  pipeline/publication/notebooks/log.txt
  pipeline/publication/notebooks/log2.txt
  pipeline/publication/notebooks/mlflow.ipynb
  pipeline/publication/requirements.txt
  pipeline/publication/samples/KZPjvTEiSmO--BXYpQCNPQ.txt
  pipeline/publication/samples/logs/en-sv/opusmt-multimodel-test/opusmt-multimodel-test/pigz
  pipeline/publication/samples/models/en-sv/opusmt-multimodel-test/evaluation/speed/tc_Tatoeba-Challenge-v2021-08-07.metrics
  pipeline/publication/samples/models/en-sv/opusmt-multimodel-test/evaluation/student-finetuned/tc_Tatoeba-Challenge-v2021-08-07.metrics
  pipeline/publication/samples/models/en-sv/opusmt-multimodel-test/evaluation/student/tc_Tatoeba-Challenge-v2021-08-07.metrics
  pipeline/publication/samples/simulate_process.py
  pipeline/publication/setup.py
  pipeline/publication/translations_parser/VERSION
  pipeline/publication/translations_parser/__init__.py
  pipeline/publication/translations_parser/cli/__init__.py
  pipeline/publication/translations_parser/cli/experiments.py
  pipeline/publication/translations_parser/cli/task_cluster.py
  pipeline/publication/translations_parser/data.py
  pipeline/publication/translations_parser/parser.py
  pipeline/publication/translations_parser/publishers.py
Due: snakemake-dry-run, taskgraph-definition

Add speed metrics
  tracking/translations_parser/cli/experiments.py
Due: none

Merge .gitignore
  .gitignore
  tracking/.gitignore
Due: none

Fix taskcluster naming
  pipeline/publication/setup.py
  pipeline/publication/translations_parser/cli/taskcluster.py
Due: snakemake-dry-run, taskgraph-definition

Improve typing + run static checker (Mypy)
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/data.py
  tracking/translations_parser/parser.py
  tracking/translations_parser/publishers.py
Due: none

Add type hints + parser refactoring
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/data.py
  tracking/translations_parser/parser.py
  tracking/translations_parser/publishers.py
Due: none

rename Taskcluster sample file
  tests/data/simulate_process.py
  tests/data/taskcluster.log
  tests/test_tracking_cli.py
  tracking/README.md
  tracking/translations_parser/cli/taskcluster.py
Due: none

Suggestions
  docs/tracking.md
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/cli/taskcluster.py
  tracking/translations_parser/parser.py
  tracking/translations_parser/publishers.py
Due: none

Update CI tests task
  Makefile
  poetry.lock
  pyproject.toml
  taskcluster/kinds/tests/kind.yml
  tracking/pyproject.toml
  tracking/requirements/common.in
  tracking/requirements/common.txt
Due: taskgraph-definition

Fix lint
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/publishers.py
Due: none

Fix tests in CI
  tests/data/experiments/logs/en-nl/prod/quntize.log
  tests/data/experiments/logs/en-nl/prod/train_student.log
  tests/data/experiments/logs/en-nl/prod/train_teacher0.log
  tests/data/experiments/logs/en-nl/prod/train_teacher1.log
  tests/data/experiments/models/en-nl/prod/evaluation/speed/flores_devtest.log
  tests/data/experiments/models/en-nl/prod/evaluation/speed/mtdata_Neulab-tedtalks_test-1-eng-nld.log
  tests/data/experiments/models/en-nl/prod/evaluation/student/flores_devtest.log
  tests/data/experiments/models/en-nl/prod/evaluation/student/mtdata_Neulab-tedtalks_test-1-eng-nld.log
  tests/data/experiments/models/en-nl/prod/evaluation/teacher-finetuned0/flores_devtest.log
  tests/data/experiments/models/en-nl/prod/evaluation/teacher-finetuned0/mtdata_Neulab-tedtalks_test-1-eng-nld.log
  tests/data/experiments/models/en-nl/prod/evaluation/teacher-finetuned1/flores_devtest.log
  tests/data/experiments/models/en-nl/prod/evaluation/teacher-finetuned1/mtdata_Neulab-tedtalks_test-1-eng-nld.log
  tests/data/experiments/models/en-nl/prod/student/train.log
  tests/data/experiments/models/en-nl/prod/student/valid.log
  tests/data/experiments/models/en-nl/prod/teacher-finetuned0/train.log
  tests/data/experiments/models/en-nl/prod/teacher-finetuned0/valid.log
  tests/data/experiments/models/en-nl/prod/teacher-finetuned1/train.log
  tests/data/experiments/models/en-nl/prod/teacher-finetuned1/valid.log
  tests/test_tracking_cli.py
  tracking/translations_parser/cli/experiments.py
Due: none

Group experiments to analyze by alphabetic order
  tests/data/experiments_wandb_calls.json
  tests/test_tracking_cli.py
  tracking/translations_parser/cli/experiments.py
Due: none

Update poetry.lock
  poetry.lock
Due: none

Update documentation on mono-trg dataset (#343)
  taskcluster/translations_taskgraph/actions/train.py
Due: taskgraph-definition

fix(splitter): properly support gzip
  pipeline/translate/splitter.py
Due: snakemake-dry-run, taskgraph-definition

lint
  pipeline/translate/splitter.py
Due: snakemake-dry-run, taskgraph-definition
