Repository mozilla/firefox-translations-training: changes, and which Taskcluster tasks are due for each by the changed paths.
All: snakemake-dry-run, taskgraph-definition

snakemake-dry-run:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command:
    - bash
    - -c
  ...

taskgraph-definition:
  expires-after: 90 days
  worker-type: b-linux-large
  worker:
    docker-image:
      in-tree: base
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: make validate-taskgraph

restrict github-push taskcluster events to `main` (#777)
  .taskcluster.yml
  docs/task-cluster.md
  utils/train.py
Due: none

Show debug information in training logs
  pipeline/train/train.sh
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/scripts/pipeline/train-taskcluster.sh
Due: snakemake-dry-run, taskgraph-definition

Revert backwards and student model sizes
  taskcluster/configs/config.ci.yml
Due: taskgraph-definition

Fix some issues
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/scripts/pipeline/train_taskcluster.py
Due: taskgraph-definition

Restore all code
  pipeline/train/train.sh
  taskcluster/configs/config.ci.yml
  taskcluster/kinds/finetune-student/kind.yml
  taskcluster/kinds/train-backwards/kind.yml
  taskcluster/kinds/train-student/kind.yml
  taskcluster/kinds/train-teacher/kind.yml
  taskcluster/scripts/pipeline/train-taskcluster.sh
  taskcluster/scripts/pipeline/train_taskcluster.py
  taskcluster/test/test_default_params.py
  taskcluster/test/test_target_stage.py
  taskcluster/test/test_training_continuation_backwards.py
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
Due: snakemake-dry-run, taskgraph-definition

Change log level to info
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Change character coverage in vocab
  pipeline/train/spm-vocab.sh
Due: snakemake-dry-run, taskgraph-definition

Update validation datasets
  configs/cjk/zh-en-cjk.yml
Due: snakemake-dry-run

Add the first version of cjk configs
  configs/cjk/ja-en-cjk.yml
  configs/cjk/ko-en-cjk.yml
  configs/cjk/zh-en-cjk.yml
Due: snakemake-dry-run

Convert corpus to Chinese simplified
  pipeline/clean/tools/clean_mono.py
  pipeline/data/cjk.py
  pipeline/data/dataset_importer.py
  pipeline/data/download-mono.py
  pipeline/data/requirements/data.in
  poetry.lock
  pyproject.toml
  tests/test_cjk.py
Due: snakemake-dry-run, taskgraph-definition

Remove length filtering from mono importer
  pipeline/clean/merge-mono.py
  pipeline/common/datasets.py
  pipeline/data/download-mono.py
  tests/test_common_datasets.py
  utils/build-mono-nllb.py
Due: snakemake-dry-run, taskgraph-definition

Increase vocab size
  configs/cjk/zh-en-cjk.yml
Due: snakemake-dry-run

Disable tags for teacher
  pipeline/train/configs/opustrainer/student.cjk.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.cjk.yml
  taskcluster/kinds/train-teacher/kind.yml
Due: snakemake-dry-run, taskgraph-definition

Fix mono cleaning for CJK
  pipeline/clean/tools/clean_mono.py
Due: snakemake-dry-run, taskgraph-definition

Add custom Chinese cleaning configs
  pipeline/clean/opuscleaner/configs/en-zh/default.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/default.filters.json
  pipeline/clean/opuscleaner/generate_filters.py
  taskcluster/kinds/clean-corpus/kind.yml
  tests/test_filters.py
Due: snakemake-dry-run, taskgraph-definition

Add custom opus trainer configs for CJK
  configs/cjk/zh-en-cjk.yml
  pipeline/train/configs/opustrainer/backward.cjk.yml
  pipeline/train/configs/opustrainer/student.cjk.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.cjk.yml
  pipeline/train/train.sh
Due: snakemake-dry-run, taskgraph-definition

Use custom cleaning configs
  configs/cjk/ja-en-cjk.yml
  configs/cjk/ko-en-cjk.yml
  configs/cjk/zh-en-cjk.yml
Due: snakemake-dry-run

Change ci to zh
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Add cjk to resources
  taskcluster/kinds/dataset/kind.yml
Due: taskgraph-definition

Update requirements
  pipeline/data/requirements/data.txt
Due: snakemake-dry-run, taskgraph-definition

Count converted lines
  pipeline/data/cjk.py
  pipeline/data/dataset_importer.py
  pipeline/data/download-mono.py
  tests/test_cjk.py
Due: snakemake-dry-run, taskgraph-definition

Fix dataset namne
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Use existing vars
  pipeline/data/dataset_importer.py
Due: snakemake-dry-run, taskgraph-definition

Ignore old snakemake metrics that cannot be parsed
  tracking/translations_parser/publishers.py
Due: none

Use task group ID as suffix for offline Taskcluster publication from GCP
  tracking/translations_parser/cli/experiments.py
Due: none

Update tests
  tests/test_tracking_cli.py
Due: none

Do not parse metrics name for new GCP experiments (taskcluster)
  tracking/translations_parser/cli/experiments.py
Due: none

Fix group_logs publication
  tracking/translations_parser/cli/experiments.py
Due: none

Fix metrics path for GCP experiments that ran on Taskcluster
  tracking/translations_parser/cli/experiments.py
Due: none

Add a mode to support GCP experiments from Taskcluster in a generic way
  tracking/translations_parser/cli/experiments.py
Due: none

Add tests for metrics filename parser
  tests/test_tracking_utils.py
Due: none

Add a parser for GCP metrics filename support
  tracking/translations_parser/cli/experiments.py
  tracking/translations_parser/utils.py
Due: none

Splitter compression (#836)
  pipeline/common/downloads.py
  pipeline/translate/splitter.py
  taskcluster/kinds/split-corpus/kind.yml
  tests/fixtures/__init__.py
  tests/test_split_corpus.py
Due: snakemake-dry-run, taskgraph-definition

Do not upload temporary directory to artifacts
  pipeline/alignments/align.py
  pipeline/alignments/generate-shortlist.sh
Due: snakemake-dry-run, taskgraph-definition

Add src and trg vars
  taskcluster/kinds/train-vocab/kind.yml
Due: taskgraph-definition

Switch to print
  pipeline/data/dataset_importer.py
Due: snakemake-dry-run, taskgraph-definition

Change CI target to teacher
  taskcluster/translations_taskgraph/parameters.py
Due: taskgraph-definition

Fix argument
  pipeline/train/spm-vocab.sh
Due: snakemake-dry-run, taskgraph-definition

Support Taskcluster metrics structure in WandB.publish_group_logs
  tracking/translations_parser/publishers.py
Due: none

Patch model name in group_logs
  tracking/translations_parser/publishers.py
  tracking/translations_parser/utils.py
Due: none

Path conditions:
  snakemake-dry-run: any of: pipeline/**, envs/**, configs/**
  taskgraph-definition: any of: pipeline/**, taskcluster/**
